<section class="highlight--<%= section.project %>">
  <h2 class="highlight__title">
    <%= section.title %>
  </h2>

  <div class="highlight__tile--two">
    <p class="highlight__large-text"><%= section.statistic_1.number %><p>
    <p class="highlight__small-text"><%= section.statistic_1.text %></p>
    <p class="highlight__large-text"><%= section.statistic_2.number %><p>
    <p class="highlight__small-text"><%= section.statistic_2.text %></p>
  </div>
</section>
