<section class="highlight--<%= section.project %>">
  <% if section.title %>
    <h2 class="highlight__title"><%= section.title %></h2>
  <% end %>

  <div class="highlight__tile--<%= section.statistics.size.even? ? 'two' : 'one' %>">
    <% section.statistics.each do |statistic| %>
      <p class="highlight__large-text">
        <% if statistic.icon %>
          <i class="fa <%= statistic.icon %>"></i>
        <% end %>
        <%= statistic.number %>
      <p>
      <p class="highlight__small-text"><%= statistic.text %></p>
    <% end %>
  </div>
</section>
