---
title: "Project Story - Bookmetrix"

header:
  client: "Bookmetrix"
  introduction: "Exploring the impact of online publishing with Springer Nature and Bookmetrix"
  image: "/project-stories/bookmetrix/bookmetrix-header.jpg"
  image_description: "Bookmetrix header"

introduction:
  title: "Agile collaboration with world’s largest academic book publisher"
  content:
    - An emerging platform for measuring the online impact of individual ebooks
    - Re-kickstarting the development of new revenue stream
    - Delivering a series of valuable metric features for authors and readers through collaboration
    - Platform experiencing 90+% growth in individual user sessions and pageviews

highlight_1:
  title: "The Bookmetrix project in numbers"
  project: "bookmetrix"
  statistics:
  - number: "4"
    text: "Team members"
  - number: "10,000+"
    text: "Publications imported to the existing database"

section_2:
  title: "Working towards overcoming an industry-specific problem"
  content_1: |
    Springer Nature is experiencing a publishing industry-specific problem - authors of scholarly books often do not receive any recognition from their university for publishing new books. Working on an idea to overcome this, Bookmetrix was born - an online platform for measuring the reach, usage and readership of a book or chapter by a published author.
  content_2: |
    The system works towards to supporting academic authors in answering vital questions from funders about the broader impact of their work, as well as supporting customers in making their purchasing decisions.

section_3:
  title: "Partnering to deliver an impact through close collaboration"
  content: |
    Following the global merger, Springer Nature required a development partner to bridge the gap in delivering tangible results, boosting Bookmetrix to new heights within the world of publishing. Keen to quickly begin building on the existing functionality of this highly data-driven platform, progress kicked off through an inception workshop.
  image: "/project-stories/bookmetrix/ben-charlie-postits.png"

section_4:
  title: "Quickly progressing through close collaboration"
  content_1: |
    Aligning the direction of the project with stakeholders and the team, a clear roadmap and first set of prioritised user stories emerged from this session. Collaborating closely
  content_2: |
    alongside Martijn Roelandse, Head of Publishing Innovation at Springer Nature and Product Owner of Bookmetrix, the team rapidly began working on the existing code base and development environments.

highlight_2:
  title: "The Bookmetrix project in numbers"
  project: "bookmetrix"
  statistics:
  - number: "16,000"
    text: "Book report requests during first month"
  - number: "4,000,000+"
    text: "Online chapters now available for users"

section_5:
  title: "Growing the existing database for a broader audience"
  content_1: |
    Springer Nature were requiring a number of vital system features for Bookmetrix. Importing over 10,000+ external Palgrave ebooks grew the existing database by over 5%, reaching a total of over four million chapters, expanding the Bookmetrix offering to a broader audience.
  content_2: |
    This marked a significant milestone as the first time a non-Springer publication had been imported into the system. Collaborating with a number of internal stakeholders, through close online communication, allowed the release of this major feature to open up the opportunity for further third party imports to meet future requirements.

section_6:
  title: "Emerging new features introduced to support users"
  content: |
    As the platform rapidly grows through continuous development and regular releases, further key features have emerged for users. A ‘Print book report’ feature now gives authors the ability to print a report surrounding the analytics and activity of their ebooks for use in supporting publishing grant applications. Across the first month of this feature release, over 16,000+ book report requests have already been made.
  image: "/project-stories/bookmetrix/print-report.png"

section_7:
  title: "Increasing the team to build on momentum"
  content_1: |
    Sustained growth is already beginning the develop across Bookmetrix. Individual user sessions are experiencing a 90%+ increase and pageviews are growing by 98%+. A newly-released 'Call to Action' feature has also began converting click-throughs to direct sale results.
  content_2: |
    Following the success of the merger period, Springer Nature is now in a position to resume Bookmetrix development internally, bringing the project in-house. The delivered results to date and momentum surrounding the project have now justified scaling up the development team from two developers to a team of four.

quote_1:
  quote: |
    I had not guided a team of developers so closely before, quite a change from the world of phone and email to Slack and Trello. A refreshing breeze actually. Thankfully, the team at Unboxed was very patient with me and guided me through this new world. I have much enjoyed working with Ben and Charlie as I believe there was a good chemistry between the three of us and they managed to temper my overly ambitious plans to tangible results. Bookmetrix has definitively gained momentum during the project at Unboxed and my colleagues at Springer Nature are very pleased with the steps we made and the swift replies of the developers took if a bug popped up.
  source: "Martijn Roelandse, Head of Publishing Innovation &amp; Product Owner"
  image: "/project-stories/bookmetrix/team/martijn.png"

quote_2:
  quote: |
    Awaiting Comment
  source: "Ben, Developer"
  image: "/project-stories/bookmetrix/team/ben.png"

quote_3:
  quote: |
    I've really enjoyed my time as part of the Bookmetrix team. From refining a containerized development environment to aggregating data of thousands of books, it’s been a fantastic experience. It’s been great working with Martijn and Ben on practical features for users; digging in and presenting an increasingly complete picture of books.
  source: "Charlie, Developer"
  image: "/project-stories/bookmetrix/team/charlie.png"

quote_4:
  quote: |
    Awaiting Comment
  source: "Steve Lennon, Scrum Master"
  image: "/project-stories/bookmetrix/team/steve.png"

---

<%= partial 'project-stories/page_header' %>

<div class="container" data-header-waypoint>
  <%= partial 'project-stories/full_image', locals: { section: current_page.data.header } %>
  <%= partial 'project-stories/full_width_text_tile', locals: { section: current_page.data.introduction } %>

  <%= partial 'project-stories/highlight', locals: { section: current_page.data.highlight_1 } %>
  <%= partial 'project-stories/two_text_tiles', locals: { section: current_page.data.section_2 } %>
  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.section_3 } %>
  <%= partial 'project-stories/two_text_tiles', locals: { section: current_page.data.section_4 } %>

  <%= partial 'project-stories/highlight', locals: { section: current_page.data.highlight_2 } %>
  <%= partial 'project-stories/two_text_tiles', locals: { section: current_page.data.section_5 } %>
  <%= partial 'project-stories/text_tile_reversed', locals: { section: current_page.data.section_6 } %>
  <%= partial 'project-stories/two_text_tiles', locals: { section: current_page.data.section_7 } %>

  <%= partial 'project-stories/quote_image', locals: { section: current_page.data.quote_1 } %>
  <%= partial 'project-stories/quote_image', locals: { section: current_page.data.quote_2 } %>
  <%= partial 'project-stories/quote_image', locals: { section: current_page.data.quote_3 } %>
  <%= partial 'project-stories/quote_image', locals: { section: current_page.data.quote_4 } %>
</div>
