---
title: "Project Story - Buckinghamshire County Council"

header:
  client: "Buckinghamshire County Council"
  introduction: "Digitalising key local government services with Buckinghamshire County Council: The Discovery and Alpha phases"
  image: "/project-stories/bucks-cc/header.jpg"
  image_description: "Bucks CC planning"

introduction:
  title: "6-week Discovery and 8-week Alpha phases for two key public services"
  content:
    - "New digital services first step in cost-saving target to save £1.8m by 2017/18"
    - "Services re-designed with customer feedback for customers"
    - "First step in adopting a digital service standard"
    - "Two key services: ‘Find my child a school place’ and ‘Maintain my street’"
  image: "project-stories/bucks-cc/potholes.jpg"
  image_description: "Potholes app"

highlight_1:
  title: "Buckinghamshire County Council in numbers"
  project: "bucks-cc"
  statistics:
  - number: "£200,000"
    text: "Estimated combined cost-saving by these new services per year"
  - number: "£1.8m"
    text: "Overall cost-saving target to 2017/18"

highlight_2:
  title: "Buckinghamshire County Council in numbers"
  project: "bucks-cc"
  statistics:
  - number: "18,000"
    text: "Children placed in schools per year in the district"
  - number: "322"
    text: "Responses to customer surveys"

digital_service_standard:
  title: "Step one: Adopting a digital service standard"
  content: "Buckinghamshire County Council provides their services to over 522,000 local residents. As a first step in their cost-saving target of £1.8m by 2017/18, and with a focus in 2016 for delivering two ‘end-to-end’ exemplar services, Bucks CC came to us with the aim of redesigning two of their highest volume services around user needs - ‘Find my child a school place’ and ‘Maintain my street’."
  image: "project-stories/bucks-cc/meeting.jpg"
  image_description: "Bucks CC meeting"

digital_services_quote:
  quote: "We provide very few digital services at the moment. So we are working on some of the most complex, highest volume services to understand what our users want from the experience – and how much of the service can be delivered through digital. We believe we can only achieve this if we design services good enough that people self-serve online, and find them easy to use, first-time."
  source: "Matthew Cain, Head of Digital, Buckinghamshire County Council"

understanding_customer:
  title: "Discovering what the customer really wants"
  content: "Customer feedback of current services revealed responses including: &quot;It was a messy, unclear and painful process...&quot; and &quot;A horrendous experience...&quot;. This feedback, teamed with a high level of contact centre calls of customers experiencing service problems, meant we needed to explore readdressing the needs of the customer and recreating these services with effective user journeys."
  image: "project-stories/bucks-cc/customers.jpg"
  image_description: "Talking to customers"

impact_quote:
  quote: "We are creating high quality digital services that will have a positive impact on key performance indicators such as customer satisfaction and cost per transaction. Unhappy and confused customers result in significant unnecessary work chasing information and handling queries and complaints. A better user experience in a few key areas will deliver benefits across the organisation."
  source: "Martyn Evans, Head of Product, Unboxed"
  image: "/project-stories/bucks-cc/team/martyn-evans-full.png"

talking_with_customers:
  title: "Getting out the door and talking to real customers"
  content: "During the Discovery phase, the team challenged the idea of who was thought to be the customer and went back to the drawing board (literally) to investigate who the customer actually is. We took the team outside of the council building to talk to real service users where they live and work in Aylesbury. Engaging through face-to-face interviews and conversations resulted in a fresh range of customer personas to begin prototyping with."
  image: "project-stories/bucks-cc/getout.jpg"
  image_description: "Get out of the building"

development_quote:
  quote: "We’ve learnt the core techniques for digital service development: Developing personas, interviewing users, sketching solutions and prototyping."
  source: "Matthew Cain, Head of Digital, Buckinghamshire County Council"

agile_local_council:
  title: "Shifting to agile in local council"
  content: "Co-locating and working within the Bucks CC council offices in Aylesbury means bringing agile working to within a local council environment. Daily stand ups with the team and fortnightly Show & Tells with stakeholders are scheduled in, the team has a “war room” where everything is up on the walls for all to see and transparent, open communication is actively and constantly encouraged."
  image: "project-stories/bucks-cc/meeting2.jpg"
  image_description: "Another Bucks CC meeting"

agile_quote:
  quote: "We have been forced to move away from our comfort zone, leave our desks and find the people within the organisation with the authority to make a decision quickly. Some might call it being more agile. It has worked. We have achieved a lot in a short frame of time and impressed our colleagues sat in their meetings along the way."
  source: "Helen Gracie, Business Improvement Manager, Buckinghamshire County Council"

mvp_prototyping:
  title: "MVP prototyping using user feedback"
  content: "The team encountered and overcame a series of technical challenges during the Alpha phase, mostly around integration with existing business systems and data sources. Both services were iterated and redesigned, with user journeys remapped, through MVP prototyping and incorporating the user feedback received. The completion of this phase has highlighted the biggest risks for the team to tackle next."
  image: "project-stories/bucks-cc/street.jpg"
  image_description: ""

beta_phase:
  title: "Ready to begin the journey into Beta"
  content: "With the Discovery and Alpha phases both successfully completed, the team is now in a position to begin building these two digital services in the 12-week Beta phase, based on what the residents of Buckinghamshire really want and need. The digital service standard has now been adopted at Buckinghamshire County Council in their journey to being digital by default, something the next three years are critical in delivering."
  image: "project-stories/bucks-cc/schools.jpg"
  image_description: "Schools app"

alpha_quote:
  quote: "With Unboxed’s help we designed Alpha to address the biggest design, business and technical risks to the project. This is part of the new ways of working we’re trying. We’re now in a good position to provide customers with good digital services that they prefer to use."
  source: "Matthew Cain, Head of Digital, Buckinghamshire County Council"
  image: "/project-stories/bucks-cc/team/matthew-cain-full.png"

team:
  title: "Unboxed team"
  people:
    - full_name: "Martyn Evans"
      image: "/project-stories/bucks-cc/team/martyn-evans.png"
      link: "/people#martyn-evans"

    - full_name: "Leon Odey Knight"
      image: "/project-stories/bucks-cc/team/leon-odey-knight.png"
      link: "/people#leon-odey-knight"

    - full_name: "Chris Carter"
      image: "/project-stories/bucks-cc/team/chris-carter.png"
      link: "/people#chris-carter"

    - full_name: "Tyler Savin"
      image: "/project-stories/bucks-cc/team/tyler-savin.png"
      link: "/people"

    - full_name: "Matt Turrell"
      image: "/project-stories/bucks-cc/team/matt-turrell.png"
      link: "/people#matt-turrell"

    - full_name: "Tom Sabin"
      image: "/project-stories/bucks-cc/team/tom-sabin.png"
      link: "/people#tom-sabin"

site:
  link: "http://www.buckscc.gov.uk"
  text: "Visit the Buckinghamshire County Council site"

links:
  - title: "Meet the digital team challenging the status quo at Buckinghamshire County Council"
    source: "diginomica"
    type: "news"
    link: "http://diginomica.com/2016/01/29/meet-the-digital-team-challenging-the-status-quo-at-buckinghamshire-county-council/"

  - title: "Seven ways to kickstart your local digital services platform"
    source: "ITProPortal"
    type: "news"
    link: "http://www.itproportal.com/2016/04/04/seven-ways-kickstart-local-digital-services-platform/"

related:
  title: "Related"
  articles:
    - title: "Buckinghamshire County Council project reaches end of Alpha phase"
      type: "news"
      link: "https://unboxed.co/news/buckinghamshire-county-council-project-reaches-end-of-alpha-phase/"

    - title: "Learning in Local Government through Discovery"
      type: "blog"
      link: "https://unboxed.co/blog/learning-in-local-government-through-discovery/"

    - title: "Guest post: Learning in Local Government - Part 2"
      type: "blog"
      link: "https://unboxed.co/blog/guest-post-learning-in-local-government-part-2/"


---

<%= partial 'project-stories/page_header' %>

<div class="container" data-header-waypoint>
  <%= partial 'project-stories/full_image', locals: { section: current_page.data.header } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.introduction } %>

  <%= partial 'project-stories/highlight', locals: { section: current_page.data.highlight_1 } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.digital_service_standard } %>

  <%= partial 'project-stories/quote', locals: { section: current_page.data.digital_services_quote } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.understanding_customer } %>

  <%= partial 'project-stories/quote_image', locals: { section: current_page.data.impact_quote } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.talking_with_customers } %>

  <%= partial 'project-stories/quote', locals: { section: current_page.data.development_quote } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.agile_local_council } %>

  <%= partial 'project-stories/quote', locals: { section: current_page.data.agile_quote } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.mvp_prototyping } %>

  <%= partial 'project-stories/highlight', locals: { section: current_page.data.highlight_2 } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.beta_phase } %>

  <%= partial 'project-stories/quote_image', locals: { section: current_page.data.alpha_quote } %>

  <%= partial 'project-stories/project_team' %>

  <%= partial 'project-stories/link_tiles' %>

  <%= partial 'project-stories/related_tiles' %>
</div>
