---
title: "Contiki Holidays Project Story"

header:
  client: "Contiki Holidays"
  introduction: "Powerful offshore partnership creates 47% increase in bookings for Contiki Tours"
  image: "/project-stories/contiki/header-image.jpg"
  image_description: "Couple on the beach"

partnership:
  results:
    - "47% more bookings through rebuilding travel platform"
    - "Offshore team led overhaul, vastly improving UX"
    - "Page sessions up 7%, page views up 28% and conversation rates up by 43%"
    - "Micro-service architecture ready for the future"
  image: "/project-stories/contiki/yellow-screen.jpg"
  image_description: "Contiki website screenshot"


introduction:
  title: "10-year-old site needed more than a facelift to improve conversions"
  content: "Contiki Tours is a global travel operation, with 150k bookings for 18-35s per year. Contiki needed to revamp online platform to increase visitor-to sale conversion and meet expectations of tech-savvy audience. Something special was needed for the 10-year old site, already tweaked by several other agencies."
  image: "/project-stories/contiki/team-meeting.jpg"
  image_description: "Team meeting"

statistics_1:
  title: "Contiki in numbers"
  number: "78%"
  text: "the increased likelihood of users willing to book online"

statistics_2:
  number: "43%"
  text: "conversion rate increase from previous period"

statistics_3:
  number: "47%"
  text: "increase in bookings over previous period"

agile:
  title: "Agile key in move to iterative customer-led design development"
  content: "Unboxed’s offshore Cape Town team, led Contiki through the Agile-based project – focusing on rapid delivery of customer features over ‘pixel perfect’ designs. The complete project team consisted of four developers, a Scrum Master, Contiki’s design team and the Product Owner and the total project duration was 16 weeks."
  image: "/project-stories/contiki/design-presentation.jpg"
  image_description: "Presentation of a design"

project_quote:
  quote: "Our ambitious business objectives around performance and revenue were overwhelmingly met. The project came in on time and budget. Can’t ask for more than that!"
  source: "Simon Larkin, Product Owner, Contiki"

collaboration:
  title: "A step change in site performance shifts dated business model"
  content: "The development and design teams worked side-by-side and communicated using ‘The Unboxed Way’ - frequent, high-bandwidth, clear and open channels. Contiki were able to re-prioritise their features on a weekly basis as new requirements emerged. Built in Ruby on Rails, with JavaScript elements and Unboxed’s own micro-service APIs, this is a site created to meet Contiki’s future business goals."
  image: "/project-stories/contiki/sketch.jpg"
  image_description: "Sketch of a design"

release_quote:
  quote: "We had a straightforward and smooth product release, with minimal fuss or user support issues."
  source: "Simon Larkin, Contiki"

objectives:
  title: "Pre-project objectives met – results dropped straight onto bottom line"
  content: "All project’s objectives have been met or exceeded. Page loading times have decreased by 56%, conversion rates are up 43% and bookings up 47%. The technologies employed are designed to dramatically cut the cost of future improvements."
  image: "/project-stories/contiki/blue-screen.jpg"
  image_description: "Contiki website screenshot"

team_quote:
  quote: "The 'Unboxed Way' created a fully integrated team and made offshoring development a reality for Contiki."
  source: "Simon Larkin, Contiki"

team:
  people_active:
    - short_name: "carlo"
      full_name: "Carlo Kruger"
      link: "/people/carlo-kruger"
    - short_name: "patrick"
      full_name: "Patrick Vine"
      link: "/people/patrick-vine"
    - short_name: "richard"
      full_name: "Richard Archer"
      link: "/people/richard-archer"
    - short_name: "heidi"
      full_name: "Heidi Geisler"
      link: "people/heidi-geisler"
  people_archived:
    - short_name: "ben_j"
      full_name: "Ben Janecke"
      link: "people/ben-janecke"
    - short_name: "gavin"
      full_name: "Gavin van Lelyveld"
      link: ""

objectives_outcomes:
  title: "Objectives vs outcomes"
  objectives:
    - "To improve usability and sales conversion"
    - "Improve our ability to communicate core sales messages to the trade"
    - "Improve the maintainability and future proofing of the site reducing on-going maintenance costs and implement a responsive framework for future mobile requirements"
  objective_smashed:
    - "Speed, ease and efficiency are the order of the day"

site:
  link: "http://contiki.com/"
  text: "Visit the site and check it out for yourself"

links:
  - title: "Contiki offers more of Europe in 2016"
    source: "IOL"
    type: "news"
    link: "http://beta.iol.co.za/travel/world/europe/contiki-offers-more-of-europe-in-2016-1926911"
  - title: "Contiki Launches 2015-2017 USA & Canada Program"
    source: "GlobeNewswire"
    type: "news"
    link: "http://globenewswire.com/news-release/2015/06/26/747928/10139975/en/Contiki-Launches-2015-2017-USA-Canada-Program.html"

related:
  title: "Related"
  articles:
    - title: "The new rules of outsourcing"
      type: "white paper"
      link: "https://www.unboxedconsulting.com/ideas/the-new-rules-of-outsourcing-how-to-develop-great-software-with-a-partner"
      image: "/project-stories/contiki/related/whitepaper.jpg"
    - title: "Webinar - 'Offshoring Agile: Make it work in practice'"
      type: "webinar"
      link: "https://www.unboxedconsulting.com/blog/webinar-offshoring-agile-make-it-work-in-practice"
      image: "/project-stories/contiki/related/webinar-carlo.jpg"
    - title: "Unboxed Consulting leads Agile overhaul of Plymouth University website"
      type: "project story"
      link: "https://www.unboxedconsulting.com/project-stories/plymouth-university"
      image: "/project-stories/contiki/related/plymouth-logo.jpg"
---

<header class="page-header">
  <div class="page-header__container">
    <h1 class="page-header__title">
      <%= current_page.data.header.introduction %>
    </h1>

    <p class="page-header__client">
      <%= current_page.data.header.client %>
    </p>
  </div>
</header>

<div class="container">
  <img class="full-image" <%= retina_src current_page.data.header.image %> id="siteHeaderWaypoint" alt="" />

  <script>
    new Waypoint({
      element: $('#siteHeaderWaypoint'),
      handler: function(direction) {
        var siteHeader = $('.site-header');
        if (direction === 'down') {
          siteHeader.addClass('site-header--active-scroll');
        } else {
          siteHeader.removeClass('site-header--active-scroll');
        }
      },
      offset: 54
    });
  </script>

  <section class="component">
    <div class="component__tile text-tile">
      <ul class="text-tile__list">
        <% current_page.data.partnership.results.each do |result| %>
          <li><%= render_markdown(result) %></li>
        <% end %>
      </ul>
    </div>

    <div class="component__tile image-tile">
      <img class="image-tile__image" <%= retina_src current_page.data.partnership.image %> alt="<%= current_page.data.partnership.image_description %>" />
    </div>
  </section>

  <section class="bitesize--dark-gray">
    <h2 class="bitesize__title--white">
      <%= current_page.data.statistics_1.title %>
    </h2>

    <div class="bitesize__tile--one">
      <p class="bitesize__text--large"><i class="fa fa-arrow-up large-arrow"></i><%= current_page.data.statistics_1.number %><p>
      <p class="bitesize__text--small"><%=current_page.data.statistics_1.text %></p>
    </div>
  </section>


  <section class="component">
    <div class="component__tile text-tile">
      <h2 class="text-tile__title">
        <%= current_page.data.introduction.title %>
      </h2>

      <p class="text-tile__paragraph">
        <%= current_page.data.introduction.content %>
      </p>
    </div>

    <div class="component__tile image-tile">
      <img class="image-tile__image" <%= retina_src current_page.data.introduction.image %> alt="<%= current_page.data.introduction.image_description %>" />
    </div>
  </section>

  <blockquote class="quote">
    <p class="quote__text">
      <%= current_page.data.project_quote.quote %>
    </p>
    <p class="quote__source">
      <%= current_page.data.project_quote.source %>
    </p>
  </blockquote>

  <section class="component">
    <div class="component__tile text-tile">
      <h2 class="text-tile__title">
        <%= current_page.data.agile.title %>
      </h2>

      <p class="text-tile__paragraph">
        <%= current_page.data.agile.content %>
      </p>
    </div>

    <div class="component__tile image-tile">
      <img class="image-tile__image" <%= retina_src current_page.data.agile.image %> alt="<%= current_page.data.agile.image_description %>" />
    </div>
  </section>

  <section class="bitesize--dark-gray">
    <div class="bitesize__tile--two">
      <p class="bitesize__text--large"><i class="fa fa-arrow-up large-arrow"></i><%= current_page.data.statistics_2.number %><p>
      <p class="bitesize__text--small"><%=current_page.data.statistics_2.text %></p>
      <p class="bitesize__text--large"><i class="fa fa-arrow-up large-arrow"></i><%= current_page.data.statistics_3.number %><p>
      <p class="bitesize__text--small"><%=current_page.data.statistics_3.text %></p>
    </div>
  </section>

  <section class="component">
    <div class="component__tile text-tile">
      <h2 class="text-tile__title">
        <%= current_page.data.collaboration.title %>
      </h2>

      <p class="text-tile__paragraph">
        <%= current_page.data.collaboration.content %>
      </p>
    </div>

    <div class="component__tile image-tile">
      <img class="image-tile__image" <%= retina_src current_page.data.collaboration.image %> alt="<%= current_page.data.collaboration.image_description %>" />
    </div>
  </section>

  <blockquote class="quote">
    <p class="quote__text">
      <%= current_page.data.release_quote.quote %>
    </p>
    <p class="quote__source">
      <%= current_page.data.release_quote.source %>
    </p>
  </blockquote>

  <section class="component">
    <div class="component__tile text-tile">
      <h2 class="text-tile__title">
        <%= current_page.data.objectives.title %>
      </h2>

      <p class="text-tile__paragraph">
        <%= current_page.data.objectives.content %>
      </p>
    </div>

    <div class="component__tile image-tile">
      <img class="image-tile__image" <%= retina_src current_page.data.objectives.image %> alt="<%= current_page.data.objectives.image_description %>" />
    </div>
  </section>

  <blockquote class="quote">
    <p class="quote__text">
      <%= current_page.data.team_quote.quote %>
    </p>
    <p class="quote__source">
      <%= current_page.data.team_quote.source %>
    </p>
  </blockquote>

  <div class="project-team">
    <h2 class="project-team__title">
      Unboxed team
    </h2>

    <% current_page.data.team.people_active.each do |person| %>
      <a class="project-team__headshot-container project-team__container--6" href="<%= person.link %>">
        <img class="project-team__headshot project-team__<%= person.short_name %>" src="/project-stories/contiki/team/<%= person.short_name %>.png" alt="<%= person.full_name %>" title="<%= person.full_name %>">
      </a>
    <% end %>

    <% current_page.data.team.people_archived.each do |person| %>
      <div class="project-team__headshot-container project-team__container--6">
        <img class="project-team__headshot project-team__<%= person.short_name %>" src="/project-stories/contiki/team/<%= person.short_name %>.png" alt="<%= person.full_name %>" title="<%= person.full_name %>">
      </div>
    <% end %>
  </div>

  <section class="bitesize--dark-gray">
    <h2 class="bitesize__title--white">
      <%= current_page.data.objectives_outcomes.title %>
    </h2>

    <ul class="bitesize__list--bulleted">
      <% current_page.data.objectives_outcomes.objectives.each do |objective| %>
        <li class="bitesize__list-item--white">
          <%= render_markdown(objective) %>
          <span>Objective met</span>
        </li>
      <% end %>
      <ul class="bitesize__list--bulleted-one-column">
        <% current_page.data.objectives_outcomes.objective_smashed.each do |objective| %>
          <li class="bitesize__list-item--white">
            <%= render_markdown(objective) %>
            <span>Objective smashed!</span>
          </li>
        <% end %>
      </ul>
    </ul>
  </section>

  <section class="component">
    <a class="link-tile link-tile--site-link" href="<%= current_page.data.site.link %>" target="_blank">
      <div>
        <div class="link-tile__type">
          link
        </div>
        <div class="link-tile__title">
          <%= current_page.data.site.text %>
        </div>
      </div>
    </a>
    <% current_page.data.links.each do |link| %>
      <a class="link-tile" href="<%= link.link %>" target="_blank">
        <div>
          <div class="link-tile__type">
            <%= link.type %>
          </div>
          <div class="link-tile__title">
            <%= link.title %>
          </div>
        </div>
        <div class="link-tile__source">
          <%= link.source %>
        </div>
      </a>
    <% end %>
  </section>

  <footer class="component">
    <div class="footer-introduction">
      <h3 class="footer-introduction__title">
        <%= current_page.data.related.title %>
      </h3>
    </div>

    <% current_page.data.related.articles.each do |article| %>
      <a class="related-tile" href="<%= article.link %>">
        <img class="related-tile__image" src="<%= article.image %>" alt="<%= article.type %>">
        <div class="related-tile__text-content">
          <div>
            <div class="related-tile__type">
              <%= article.type %>
            </div>
            <div class="related-tile__title">
              <%= article.title %>
            </div>
          </div>
        </div>
      </a>
    <% end %>

    <section class="footer-social-icons">
      <div>
        <a class="social-icons__icon-container" href="http://twitter.com/Ubxd" target="_blank">
          <div class="social-icons__icon">
            <%= image_tag 'twitter.png', class: 'social-icons__image', alt: 'Twitter' %>
          </div>
        </a>
        <a class="social-icons__icon-container" href="https://www.facebook.com/pages/Unboxed-Consulting/114802528557320" target="_blank">
          <div class="social-icons__icon">
            <%= image_tag 'facebook.png', class: 'social-icons__image', alt: 'Facebook' %>
          </div>
        </a>
        <a class="social-icons__icon-container" href="http://www.linkedin.com/company/unboxed-consulting" target="_blank">
          <div class="social-icons__icon">
            <%= image_tag 'linkedin.png', class: 'social-icons__image', alt: 'LinkedIn' %>
          </div>
        </a>
      </div>
    </section>
  </footer>
</div>
