---
title: "Naturejobs"

header:
  client: "Naturejobs"
  introduction: "Recruitment site revitalisation for major scientific publishing group"

collaboration:
  title: "Close, early engagement with stakeholders fosters confidence and aligns interests"
  results:
    - "Streamlined website development by gaining stakeholder buy-in"
    - "Constant engagement between Unboxed and Naturejobs throughout process"
    - "Reduced overheads by removing unused legacy features from large website"
  image: "/project-stories/naturejobs/naturejobs-website.jpg"
  image_description: "Naturejobs website screenshot"

technology:
  title: "Upgrading the platform to use latest core technologies"
  content: "Core technologies were dated, with versions of software language and frameworks reaching end of life. This severely limited Naturejobs’ opportunity to utilise the latest framework innovations and increased security risk. We successfully planned and delivered upgrades of Ruby software, Rails framework and further business features."
  image: "/project-stories/naturejobs/team-meeting.jpg"
  image_description: "Naturejobs team meeting"

collaboration_quote:
  quote: "Unboxed Consulting were part of the team we were used to working with, I didn’t feel like we were customers."
  source: "David Bright, Head of Product Management, Naturejobs"

user_journey:
  title: "UX enhanced to benefit user journey"
  content: "With feedback of long and complicated user journeys on the current website, along with a high drop off rate, the user experience from start to finish was investigated and refined. Unnecessary stages in the user journey were removed, greatly reducing the drop-off rate. Every iteration was tested and assessed against real user data, resulting in a smoother and more concise journey."
  image: "/project-stories/naturejobs/ux-sketch.jpg"
  image_description: "UX design sketch"

head_of_product_video:
  youtube_id: "VGu9hWOYIT0"
  image: "/project-stories/naturejobs/video-still.jpg"
  image_description: "Naturejobs Head of Product Management video"

metrics:
  title: "Establishing valuable metrics for success"
  content: "To gauge the site’s success, Naturejobs had previously been measuring page views and similar metrics. Customer feedback and studied site Analytics were reviewed to learn what users wanted and valued. Relevant metrics were then established, such as the number of CV uploads achieved and job searches conducted. From this, Naturejobs were able to remove many redundant and unused features, resulting in a reduction of their maintenance overheads."
  image: ""
  image_description: ""

mentality_quote:
  quote: "The mentality was: 'We want to build great products together.'"
  source: "David Bright, Naturejobs"

team:
  title: "Unboxed team"
  people:
    - short_name: "pedro"
      full_name: "Pedro Moreira"

    - short_name: "jon"
      full_name: "Jon Normington"
      link: "people/jon-normington"

    - short_name: "alan"
      full_name: "Alan Thomas"
      link: "people/alan-thomas"

    - short_name: "jolie"
      full_name: "Jolie Lanser"
      link: "people/jolie-lanser"

    - short_name: "steve"
      full_name: "Steve Lennon"
      link: "people/steve-lennon"

    - short_name: "tom"
      full_name: "Tom Sabin"
      link: "people/tom-sabin"

site:
  link: "http://www.nature.com/naturejobs/science/"
  text: "Visit the site and check it out for yourself"

links:
  - title: "Placeholder"
    source: "Placeholder"
    type: "news"
    link: "#"
  - title: "Placeholde"
    source: "Placeholde"
    type: "news"
    link: "#"

related:
  title: "Related"
  articles:
    - title: "Placeholder"
      type: "news"
      link: "#"
      image:
    - title: "Placeholder"
      type: "blog"
      link: "https://www.unboxedconsulting.com/blog/lean-machine"
      image:
    - title: "Placeholder"
      type: "project story"
      link: "#"
      image:
---

<header class="page-header">
  <div class="page-header__container">
    <h1 class="page-header__title">
      <%= current_page.data.header.introduction %>
    </h1>

    <p class="page-header__client">
      <%= current_page.data.header.client %>
    </p>
  </div>
</header>

<div class="container">
  <section class="component">
    <div class="component__tile text-tile">
      <h2 class="text-tile__title">
        <%= current_page.data.collaboration.title %>
      </h2>

      <ul class="text-tile__list">
        <% current_page.data.collaboration.results.each do |result| %>
          <li><%= render_markdown(result) %></li>
        <% end %>
      </ul>
    </div>

    <div class="component__tile image-tile">
      <img class="image-tile__image" <%= retina_src current_page.data.collaboration.image %> alt="<%= current_page.data.collaboration.image_description %>" />
    </div>
  </section>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.technology } %>

  <blockquote class="quote">
    <p class="quote__text">
      <%= current_page.data.collaboration_quote.quote %>
    </p>
    <p class="quote__source">
      <%= current_page.data.collaboration_quote.source %>
    </p>
  </blockquote>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.user_journey } %>

  <a href="https://www.youtube.com/watch?v=<%= current_page.data.head_of_product_video.youtube_id %>" target="_blank" data-video>
    <%= partial 'project-stories/full_image', locals: { section: current_page.data.head_of_product_video } %>
  </a>

  <script>
    if (Modernizr.video || Modernizr.flash) {
      var $embed = $('<div class="full-video"><iframe src="https://www.youtube.com/embed/<%= current_page.data.head_of_product_video.youtube_id %>?rel=0" frameborder="0" allowfullscreen></iframe></div>');
      $("[data-video] img").replaceWith($embed);
    }
  </script>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.metrics } %>

  <blockquote class="quote">
    <p class="quote__text">
      <%= current_page.data.mentality_quote.quote %>
    </p>
    <p class="quote__source">
      <%= current_page.data.mentality_quote.source %>
    </p>
  </blockquote>

  <section class="project-team">
    <h2 class="project-team__title">
      <%= current_page.data.team.title %>
    </h2>

    <% current_page.data.team.people.each do |person| %>
      <% if person.link %>
        <a class="project-team__headshot-container project-team__container--6" href="<%= person.link %>">
          <img class="project-team__headshot project-team__<%= person.short_name %>" src="/project-stories/naturejobs/team/<%= person.short_name %>.png" alt="<%= person.full_name %>" title="<%= person.full_name %>">
        </a>
      <% else %>
        <div class="project-team__headshot-container project-team__container--6">
          <img class="project-team__headshot project-team__<%= person.short_name %>" src="/project-stories/naturejobs/team/<%= person.short_name %>.png" alt="<%= person.full_name %>" title="<%= person.full_name %>">
        </div>
      <% end %>
    <% end %>
  </section>

  <section class="component">
    <a class="link-tile link-tile--site-link" href="<%= current_page.data.site.link %>" target="_blank">
      <div>
        <div class="link-tile__type">
          link
        </div>
        <div class="link-tile__title">
          <%= current_page.data.site.text %>
        </div>
      </div>
    </a>
    <% current_page.data.links.each do |link| %>
      <a class="link-tile" href="<%= link.link %>" target="_blank">
        <div>
          <div class="link-tile__type">
            <%= link.type %>
          </div>
          <div class="link-tile__title">
            <%= link.title %>
          </div>
        </div>
        <div class="link-tile__source">
          <%= link.source %>
        </div>
      </a>
    <% end %>
  </section>

  <footer class="component">
    <div class="footer-introduction">
      <h3 class="footer-introduction__title">
        <%= current_page.data.related.title %>
      </h3>
    </div>

    <% current_page.data.related.articles.each do |article| %>
      <a class="related-tile" href="<%= article.link %>">
        <img class="related-tile__image" src="<%= article.image %>" alt="<%= article.type %>">
        <div class="related-tile__text-content">
          <div>
            <div class="related-tile__type">
              <%= article.type %>
            </div>
            <div class="related-tile__title">
              <%= article.title %>
            </div>
          </div>
        </div>
      </a>
    <% end %>

    <section class="footer-social-icons">
      <div>
        <a class="social-icons__icon-container" href="http://twitter.com/Ubxd" target="_blank">
          <div class="social-icons__icon">
            <%= image_tag 'twitter.png', class: 'social-icons__image', alt: 'Twitter' %>
          </div>
        </a>
        <a class="social-icons__icon-container" href="https://www.facebook.com/pages/Unboxed-Consulting/114802528557320" target="_blank">
          <div class="social-icons__icon">
            <%= image_tag 'facebook.png', class: 'social-icons__image', alt: 'Facebook' %>
          </div>
        </a>
        <a class="social-icons__icon-container" href="http://www.linkedin.com/company/unboxed-consulting" target="_blank">
          <div class="social-icons__icon">
            <%= image_tag 'linkedin.png', class: 'social-icons__image', alt: 'LinkedIn' %>
          </div>
        </a>
      </div>
    </section>
  </footer>
</div>
