---
title: "Project Story - Pearson"

header:
  client: "Pearson"
  introduction: "The first steps into agile development: Unlocking a new digital learning revenue stream with Pearson"
  image: "/project-stories/pearson/header.jpg"
  image_description: "A meeting"

introduction:
  title: "A shift to digital from Pearson’s traditional publishing model"
  content:
    - "Bringing agile culture to a traditional waterfall environment"
    - "Kick-starting a number of legacy projects"
    - "Co-designing new products with customers"
    - "Three MVPs released after just four sprints"
  image: "/project-stories/pearson/ipad.jpg"
  image_description: "An iPad with the Pearson app"

what_we_did_1:
  title: "What we did with Pearson"
  text: "Agile training"

what_we_did_2:
  text: "Usability testing"

what_we_did_3:
  text: "Lean development"

what_we_did_4:
  text: "Product Owner coaching"

digital_revenue:
  title: "Opening up a vital new digital revenue stream"
  content: "Pearson is the largest education company and book publisher in the world. Following their transition to digital from a traditional publishing model, the newly appointed Head of Digital Programmes needed to get a portfolio of new educational products off the ground in order to establish their digital offering. A traditional waterfall culture had bottlenecked progress - nothing was being delivered and this vital new revenue stream was blocked."
  image: "/project-stories/pearson/whiteboard.jpg"
  image_description: "A whiteboard"

quote_1:
  quote: "We knew we had to move to digital but we just didn’t know how. Having previously invested time and money in a small number of trial projects, our progress had slowed down and we needed to learn how to speed up."
  source: "Head of Digital Programmes, Pearson"

waterfall:
  title: "Applying agile in a traditional waterfall environment"
  content: "With the aim of developing more of a ‘startup’ culture, we embedded our team into the Pearson offices – coaching in agile and lean product development as the team were applying these new skills. Project Managers were converted to the Product Owner role of the team, hierarchy was dissolved and key Scrum ceremonies were put into diaries, starting with daily stand up and fortnightly Show & Tells and retrospectives."
  image: "/project-stories/pearson/diagram.jpg"
  image_description: "A design of the app"

quote_2:
  quote: "Learning on the job was a challenge, but having the Unboxed team working alongside us, and applying what we were learning to this project, really sped up our progress. We were learning the skills we needed to know."
  source: "Product Owner, Pearson"

planning_stages:
  title: "Kick-starting legacy projects stuck in the pre-planning stages"
  content: "On a mission to deliver fast and valuable results, three legacy projects, which had been stuck in the pre-planning stages for over three years, were selected to pilot. Each project was targeted towards different learner groups to open up this new digital offering to a wider combination of markets for Pearson. The first step: carrying out a series of inception workshops to kick-start the product backlogs of stories to begin with."
  image: "/project-stories/pearson/ideation.jpg"
  image_description: "Lots of ideas written down"

what_we_did_5:
  title: "What we did with Pearson"
  text: "Feature validation"

what_we_did_6:
  text: "Ruby on Rails development"

what_we_did_7:
  text: "User prototyping"

what_we_did_8:
  text: "Design iteration"

new_products:
  title: "Working with customers to co-design new products"
  content: "By the early sprints, the teams were in a position to begin carrying out a series of Discovery discussions and workshops with end users. Early stage prototyping was used to trial potential features, and usability and design testing to begin forming an initial direction. The feedback gathered was also used to begin refining interfaces and trial ideas for a first round of potential features to be delivered."
  image: "/project-stories/pearson/school.jpg"
  image_description: "Kids at a school"

quote_3:
  quote: "Having the Product Owners and developers involved in the design process was the starting point in creating a cross-functional team. Cross functional teams deliver more value over a broader skillset."
  source: "Martyn Evans, Head of Product, Unboxed"

deploying:
  title: "Deploying regularly to speed up progress and gain momentum"
  content: "Newly deployed features were shared during fortnightly Show & Tells. Stakeholders were seeing an increase in tangible progress and giving their feedback on a regular basis, directly from the first sprint – something they weren’t used to with traditional “big bang” waterfall releases. Sprint-by-sprint, buy-in from stakeholders was gradually increasing as results were being seen - the project was quickly gaining momentum."
  image: "/project-stories/pearson/website.jpg"
  image_description: "Pearson website"

quote_4:
  quote: "What raised eyebrows was how fast we were able to get something in front of the users. Every two weeks we’d bring back the next iteration for feedback, continuously sharing progress."
  source: "Product Owner, Pearson"

launching:
  title: "Quickly launching minimal viable products"
  content: "After just four sprints, three minimum viable products had been released – one of which launched publicly at the BETT show - the world's leading education technology event, attracting 35,000+ visitors each year. From developing the skillset to accelerate in digital product development, the Pearson team are now in a position to expand this to the rest of their portfolio. Opening up this new digital learning revenue stream has paved the direction from their traditional publishing model."
  image: "/project-stories/pearson/border.jpg"
  image_description: "A meeting"

quote_5:
  quote: "In just four sprints we had a working prototype to share at one our key calendar events. We have taken the first steps into building our new digital learning product offering and now have a clear roadmap of how to go forward with this."
  source: "Product Owner, Pearson"

team:
  title: "Unboxed team"
  people:
  - full_name: "Murray Steele"
    image: "/project-stories/pearson/team/murray-steele.png"
    link: "/people#murray-steele"
  - full_name: "Jack Bracewell"
    image: "/project-stories/pearson/team/jack-bracewell.png"
    link: "/people#jack-bracewell"
  - full_name: "Martyn Evans"
    image: "/project-stories/pearson/team/martyn-evans.png"
    link: "/people#martyn-evans"
  - full_name: "Ben Wong"
    image: "/project-stories/pearson/team/ben-wong.png"
    link: "/people#ben-wong"
  - full_name: "Jolie Lanser"
    image: "/project-stories/pearson/team/jolie-lanser.png"
    link: "/people#jolie-lanser"

site:
  link: "https://uk.pearson.com/"
  text: "Visit the Pearson website"

links:
  - title: "Planting the seeds for successful KPI trees"
    type: "blog"
    link: "/blog/planting-the-seeds-for-successful-kpi-trees/"

related:
  title: "Related"
  articles:
  - title: "Product Management versus Product Ownership"
    type: "blog"
    link: "/blog/product-management-versus-product-ownership/"

  - title: "How does the Product Owner role change everything in software delivery?"
    type: "blog"
    link: "//blog/how-does-the-product-owner-role-change-everything-in-software-delivery/"

  - title: "Event: Kicking the cobwebs out of your stuck digital product pipeline"
    type: "blog"
    link: "/blog/ubxd-event-kicking-the-cobwebs-out-of-your-stuck-digital-product-pipeline/"

---

<%= partial 'project-stories/page_header' %>

<div class="container" data-header-waypoint>
  <%= partial 'project-stories/full_image', locals: { section: current_page.data.header } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.introduction } %>

  <section class="highlight--pearson">
    <h2 class="highlight__title">
      <%= current_page.data.what_we_did_1.title %>
    </h2>

    <div class="highlight__tile--two">
      <p class="highlight__large-text"></p>
      <p class="highlight__small-text"><%= current_page.data.what_we_did_1.text %></p>
      <p class="highlight__large-text"></p>
      <p class="highlight__small-text"><%= current_page.data.what_we_did_2.text %></p>
    </div>
      <div class="highlight__tile--two">
      <p class="highlight__large-text"></p>
      <p class="highlight__small-text"><%= current_page.data.what_we_did_3.text %></p>
      <p class="highlight__large-text"></p>
      <p class="highlight__small-text"><%= current_page.data.what_we_did_4.text %></p>
    </div>
  </section>

   <%= partial 'project-stories/text_tile', locals: { section: current_page.data.digital_revenue } %>

   <%= partial 'project-stories/quote', locals: { section: current_page.data.quote_1 } %>

   <%= partial 'project-stories/text_tile', locals: { section: current_page.data.waterfall } %>

   <%= partial 'project-stories/quote', locals: { section: current_page.data.quote_2 } %>

   <%= partial 'project-stories/text_tile', locals: { section: current_page.data.planning_stages } %>

   <section class="highlight--pearson">
    <h2 class="highlight__title">
      <%= current_page.data.what_we_did_5.title %>
    </h2>

    <div class="highlight__tile--two">
      <p class="highlight__large-text"></p>
      <p class="highlight__small-text"><%= current_page.data.what_we_did_5.text %></p>
      <p class="highlight__large-text"></p>
      <p class="highlight__small-text"><%= current_page.data.what_we_did_6.text %></p>
    </div>
      <div class="highlight__tile--two">
      <p class="highlight__large-text"></p>
      <p class="highlight__small-text"><%= current_page.data.what_we_did_7.text %></p>
      <p class="highlight__large-text"></p>
      <p class="highlight__small-text"><%= current_page.data.what_we_did_8.text %></p>
    </div>
  </section>

   <%= partial 'project-stories/text_tile', locals: { section: current_page.data.new_products } %>

   <%= partial 'project-stories/quote', locals: { section: current_page.data.quote_3 } %>

   <%= partial 'project-stories/text_tile', locals: { section: current_page.data.deploying } %>

   <%= partial 'project-stories/quote', locals: { section: current_page.data.quote_4 } %>

   <%= partial 'project-stories/text_tile', locals: { section: current_page.data.launching } %>

   <%= partial 'project-stories/quote', locals: { section: current_page.data.quote_5 } %>

   <%= partial 'project-stories/project_team' %>

   <%= partial 'project-stories/link_tiles' %>

   <%= partial 'project-stories/related_tiles' %>

</div>