---
title: "Project Story - Plymouth University gets Agile - Embedding Agile methodology"
meta_description: "Embedding Agile methodology at a major university"
meta_keywords: "Ruby on Rails, Agile, Agile culture, Agile change"

header:
  client: "Plymouth University gets Agile"
  introduction: "Embedding Agile methodology at a major university"
  image: "/project-stories/plymouth-university-gets-agile/sprint-retrospective.jpg"
  image_description: "Sprint retrospective"

introduction:
  title: "Software development and IT services revolutionised"
  content:
    - "Ad hoc and unsatisfactory software development overhauled"
    - "University engaged by improved transparency"
    - "Increased productivity, transparency and confidence"
    - "Results prompted other departments to become more Agile"
  image: "/project-stories/plymouth-university-gets-agile/sprint-mood-board.jpg"
  image_description: "Sprint mood board"

working_closely_highlight: "The Unboxed team worked closely with Plymouth University to bring the theory of Agile to reality."

process_structure:
  title: "Bringing structure to the software production process"
  content: "The university's software services worked on an ad hoc basis, with little oversight or integration with other departments. We were enlisted to create a robust but flexible development process, building a structure for development where there had been none."
  image: "/project-stories/plymouth-university-gets-agile/project-team.jpg"
  image_description: "Project team"

agile_quote:
  quote: "A lot of organisations claim to be Agile, but they just cherry pick techniques. Unboxed have a complete vision for delivering Agile."
  source: "Paul Westmore, Interim CIO, Plymouth University"

transparency:
  title: "Inspiring confidence through transparency"
  content: "Whereas the development service was previously left at arm's length by the university, instilling Agile processes better integrated it with other stakeholders. Regular show-and-tells allowed ongoing feedback, hugely improving the quality of software and reputation. As a direct result, other departments requested Agile training from Unboxed, immediately seeing the advantages in terms of efficiency and productivity."
  image: "/project-stories/plymouth-university-gets-agile/sprint-actions.jpg"
  image_description: "Sprint actions"

mood_board:
  image: "/project-stories/plymouth-university-gets-agile/mood-board.jpg"
  image_description: "Mood board"

pride:
  title: "Creating pride in the development service"
  content: "A further benefit was that the clear structure gave control back to the development team and allowed them to participate in a process that the university bought into fully. We continue to work with Plymouth University to embed Agile processes throughout their IT services – work that the teams have described as engaging and fun as well as extremely valuable."
  image: "/project-stories/plymouth-university-gets-agile/university-meeting.jpg"
  image_description: "University meeting"

textbook_to_real_world_quote:
  quote: "Unboxed have really thought through how to apply a textbook implementation to real-world situations."
  source: "Paul Westmore, Plymouth University"
  image: "/project-stories/plymouth-university-gets-agile/team/paul-westmore-full.png"

show_and_tells_highlight: "Show-and-tells opened the platform to share thoughts and feelings within the team, resulting in actions to go forward."

team:
  title: "Unboxed team"
  people:
    - full_name: "Attila Gyorffy"
      image: "/project-stories/plymouth-university-gets-agile/team/attila.png"

    - full_name: "Chris Carter"
      image: "/project-stories/plymouth-university-gets-agile/team/chris.png"
      link: "/people#chris-carter"

    - full_name: "Alan Thomas"
      image: "/project-stories/plymouth-university-gets-agile/team/alan.png"
      link: "/people#alan-thomas"

    - full_name: "Sarah Beck"
      image: "/project-stories/plymouth-university-gets-agile/team/sarah.png"
      link: "/people#sarah-beck"

    - full_name: "Glenn Smith"
      image: "/project-stories/plymouth-university-gets-agile/team/glenn.png"

    - full_name: "Richard Stobart"
      image: "/project-stories/plymouth-university-gets-agile/team/richard.png"
      link: "/people#richard-stobart"

site:
  link: "https://www.plymouth.ac.uk/"
  text: "Visit the Plymouth University site"

links:
  - title: "Plymouth University gets Agile"
    source: "Education Technology"
    type: "news"
    link: "http://edtechnology.co.uk/Article/plymouth_university_gets_agile"

  - title: "Plymouth University confirm sponsorship for Agile on the Beach"
    source: "Agile on the Beach"
    type: "news"
    link: "http://agileonthebeach.com/plymouth-university-confirm-sponsorship-for-agile-on-the-beach/"

related:
  title: "Related"
  articles:
    - title: "Plymouth University projects featured in Education Technology"
      type: "news"
      link: "/news/plymouth-university-projects-featured-in-education-technology"

    - title: "Richard Stobart wins awards for the best Agile Mentor at Agile Awards"
      type: "news"
      link: "/news/richard-stobart-wins-award-for-the-best-agile-mentor-at-agile-awards"

    - title: "Unboxed leads Agile rebuild of Plymouth University website"
      type: "project story"
      link: "/project-stories/plymouth-university"

---

<%= partial 'project-stories/page_header' %>

<div class="container" data-header-waypoint>
  <%= partial 'project-stories/full_image', locals: { section: current_page.data.header } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.introduction } %>

  <section class="highlight--plymouth-university-gets-agile">
    <h2 class="highlight__title">
      <%= current_page.data.working_closely_highlight %>
    </h2>
  </section>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.process_structure } %>

  <%= partial 'project-stories/quote', locals: { section: current_page.data.agile_quote } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.transparency } %>

  <%= partial 'project-stories/full_image', locals: { section: current_page.data.mood_board } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.pride } %>

  <%= partial 'project-stories/quote_image', locals: { section: current_page.data.textbook_to_real_world_quote } %>

  <%= partial 'project-stories/project_team' %>

  <section class="highlight--plymouth-university-gets-agile">
    <h2 class="highlight__title">
      <%= current_page.data.show_and_tells_highlight %>
    </h2>
  </section>

  <%= partial 'project-stories/link_tiles' %>

  <%= partial 'project-stories/related_tiles' %>
</div>
