---
title: "Project Story - Reed Learning"

header:
  client: "Reed Learning"
  introduction: "Leading digital transformation in professional learning and development with Reed Learning"
  image: "/project-stories/reed-learning/header.jpg"
  image_description: "Working on-site at a training session"

introduction:
  title: "Partnering with Reed Learning for corporate innovation and digital reinvention"
  content:
    - "Making the shift into an emerging digital learning marketplace"
    - "Introduction of agile and lean techniques to accelerate a pilot project"
    - "New digital product in the hands of customers within weeks"
  image: "/project-stories/reed-learning/iterate.jpg"
  image_description: "The Reed Learning app"

digital_learning:
  title: "Breaking into the emerging digital learning marketplace"
  content: "For over 20 years, Reed Learning has successfully delivered courses, in-company programmes and outsourced training to individuals and corporates. Facing fundamental changes to how people learn, and an emerging digital learning marketplace, their Director of Product and Innovation approached us with a vision to transform the way they design and deliver their products and services."
  image: "/project-stories/reed-learning/journey-map.jpg"
  image_description: "Journey mapping"

statistics_1:
  number: "£1,000+"
  text: "Average L&D spend per employee by UK companies"

statistics_2:
  number: "45%"
  text: "Percentage drop in instructor-led training hours year on year"

quote_1:
  quote: "We’re seeing a shift in the way digital learning is being designed and delivered but we weren’t working in such a way as to keep ahead of this shift."
  source: "Melissa Sabella, Director of Product and Innovation, Reed Learning"

agile_pioneers:
  title: "Creating a team of agile pioneers"
  content: "Embedding our team into the Reed Learning team allowed us to introduce agile and lean ways of working in this traditionally waterfall organisation. Before beginning this transformation, we had to ensure we were in a position to start delivering from day one. With ceremonies, systems and our working space all set up, in place and ticked off our checklist, the newly formed Reed Learning / Unboxed team was in a strong position to begin delivering results."
  image: "/project-stories/reed-learning/design.jpg"
  image_description: "A collaborative design session"

quote_2:
  quote: "What we were looking for is a culture change. We didn’t want to just keep up with our competitors, but we wanted to develop the skills to overtake them and stay ahead. We want to be able to adapt to change quickly – something we weren’t in a position to do."
  source: "Melissa Sabella, Director of Product and Innovation, Reed Learning"

piloting:
  title: "Piloting the team’s first agile project"
  content: "Starting small, as a first step, the team launched a pilot agile project. This pilot wasn’t so big that it could be a major risk, but was large enough to make an impact and create positive waves across the organisation. Fortnightly Show & Tells were scheduled involving stakeholders in this new way of working. These sessions were used to provide regular updates on the most important delivered work and priorities, building up trust between stakeholders and the team."
  image: "/project-stories/reed-learning/office.jpg"
  image_description: "A Meeting, but Agile"

quote_3:
  quote: "The pace of change in our industry can, at times, seem overwhelming. This pilot project was the perfect way to start small in moving towards a more agile way of working. It has also helped achieve big results at regular intervals to share with our stakeholders – something that waterfall doesn’t do."
  source: "Ben Waldman, Product Manager, Reed Learning"

key_features:
  title: "Key features validated through customer engagement"
  content: "To understand the features customers would immediately start using, the team took a lean approach, talking directly to real customers. Working side-by-side with these customers, the team developed, tested and iterated prototypes. Early on, they began to understand exactly which specific features customers would immediately pay for and use."
  image: "/project-stories/reed-learning/feedback.jpg"
  image_description: "User feedback gathered and shared"

new_product:
  title: "New product in the hands of customers within weeks"
  content: "Within just a few weeks of collaborating together, the team were able to fully prototype and build a working digital Ruby on Rails product that addressed a specific, validated user need, which was then immediately adopted by several active customers. Sharing this result with stakeholders then increased their confidence that this transformation had already began to show results which were not only benefitting the internal team, but also the customer."
  image: "/project-stories/reed-learning/app.jpg"
  image_description: "First application launched"

quote_4:
  quote: "Being able to share positive progress in a short amount of time was key in conveying that we really are making a difference, from the inside out."
  source: "Martyn Evans, Head of Product, Unboxed"

scaling_transformation:
  title: "Scaling transformation to increase delivery"
  content: "With a working result in customers’ hands, and regular stakeholder engagement across this project, the Reed Learning team have taken their first steps in their digital transformation journey. Insights gathered, and an understanding of how more new products can be delivered, has had a positive impact on their formed innovation strategy. The next step: Scaling up and using the gained momentum by working on larger products to increase the delivery result."
  image: "/project-stories/reed-learning/honeycomb.jpg"
  image_description: "Learning pathway honeycomb"

team:
  title: "Unboxed team"
  people:
  - full_name: "Martyn Evans"
    image: "/project-stories/reed-learning/team/martyn-evans.png"
    link: "/people#martyn-evans"
  - full_name: "Leon Odey-Knight"
    image: "/project-stories/reed-learning/team/leon-odey-knight.png"
    link: "/people#tom-sabin"
  - full_name: "Neil van Beinum"
    image: "/project-stories/reed-learning/team/neil-van-beinum.png"
    link: "/people#neil-van-beinum"
  - full_name: "Henry Turner"
    image: "/project-stories/reed-learning/team/henry-turner.png"
    link: "/people#henry-turner"
  - full_name: "Tyler Savin"
    image: "/project-stories/reed-learning/team/tyler-savin.png"
    link: "/people#tyler-savin"

site:
  link: http://www.reedlearning.com/"
  text: "Visit the Reed Learning website"

links:
  - title: "Reed Learning Blog"
    source: "Reed Learning"
    type: "blog"
    link: "http://www.reedlearning.com/about-us/blog "

related:
  title: "Related"
  articles:
  - title: "Shaking up early product development, part 1: Using journey mapping to improve your user journey"
    type: "blog"
    link: "/blog/shaking-up-early-product-development-part-1-using-journey-mapping-to-improve-your-user-journey/"

  - title: "Shaking up early product development, part 2: The Minimum Viable Product"
    type: "blog"
    link: "/blog/shaking-up-early-product-development-part-2-the-minimum-viable-product/"

  - title: "Event: The £50k Springboard"
    type: "blog"
    link: "/blog/event-the-50k-springboard/"

---

<%= partial 'project-stories/page_header' %>

<div class="container" data-header-waypoint>
	<%= partial 'project-stories/full_image', locals: { section: current_page.data.header } %>

	<%= partial 'project-stories/text_tile', locals: { section: current_page.data.introduction } %>

  <%= partial 'project-stories/quote', locals: { section: current_page.data.quote_1 } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.digital_learning } %>

  <section class="highlight--reed-learning">


    <div class="highlight__tile--two">
      <p class="highlight__large-text"><%= current_page.data.statistics_1.number %><p>
      <p class="highlight__small-text"><%=current_page.data.statistics_1.text %></p>
      <p class="highlight__large-text"><%= current_page.data.statistics_2.number %><p>
      <p class="highlight__small-text"><%=current_page.data.statistics_2.text %></p>
    </div>
  </section>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.agile_pioneers } %>

  <%= partial 'project-stories/quote', locals: { section: current_page.data.quote_2 } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.piloting } %>

  <%= partial 'project-stories/quote', locals: { section: current_page.data.quote_3 } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.key_features } %>

  <%= partial 'project-stories/text_tile_reversed', locals: { section: current_page.data.new_product } %>

  <%= partial 'project-stories/quote', locals: { section: current_page.data.quote_4 } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.scaling_transformation } %>

  <%= partial 'project-stories/project_team' %>

  <%= partial 'project-stories/link_tiles' %>

  <%= partial 'project-stories/related_tiles' %>

</div>