---
title: "SH:24 Project Story"

header:
  client: "SH:24"
  introduction: "Unboxed transform NHS sexual health clinics to a digital service in 8 weeks"
  image: "/project-stories/sh24/post-it.jpg"

introduction: "SH:24 asked Unboxed to help them develop an online STI testing service. The vision was that a self service testing kit, ordered online could tackle long queues at inaccessible sexual health centres and dramatically increase public access to sexual health service.
"
introduction_image: "/project-stories/sh24/blood-lancets.jpg"

highlights_title: "Highlights..."
highlights:
  - "After only eight weeks, a user was able to order and complete an STI test at home without any clinical support. Another eight weeks later, a live service was launched to the public."
  - "This project is paving the way for transformation of other NHS services that are currently delivered face to face, in clinics."

launch:
  title: "Live service launched in 16 weeks"
  content: "With a vision to transform sexual health in South London and beyond, SH:24 asked Unboxed to help them bring their idea to life. After only eight weeks, a willing volunteer was able to order and complete an STI test at home without any clinical support. Another eight weeks later, a live service was launched."
  image: "/project-stories/sh24/kit-guide.jpg"

first_met_quote:
  quote: "From the moment we met Unboxed, we felt they understood our approach and had a robust process for exploration and delivery."
  source: "Chris Howroyd, Director, SH:24"

service:
  title: "Creating a brand new physical service with a digital cores"
  content: "Whilst the digital elements formed a critical part of the service, we took great care to ensure that the experience of the physical product was equally as effective. The packaging and instructions, supporting information and messaging went through numerous iterations – for example the home blood sampling process changed radically and the instructions were tested and recreated several times."
  image: "/project-stories/sh24/kit-guide-opened.jpg"

prototype_kit_image: "/project-stories/sh24/kit-boxed.jpg"

learning:
  title: "'Moving in' next door to users and partners"
  content: "Our \"war-room\" close to the clinics gave us direct access to the service users and our clinical partners. From the earliest sketches, through prototypes and models, to the final production code and kits, we were able to validate our thinking on a daily basis with real users."
  image: "/project-stories/sh24/team-discussions.jpg"

timely_quote:
  quote: "Unboxed brought people together rapidly and helped us to deliver a full service in an incredibly short space of time."
  source: "Chris Howroyd, SH:24"

packaging_image: "/project-stories/sh24/alpha-packaging.jpg"

stakeholder_trust:
  title: "Building trust amongst stakeholders"
  content: "Many different stakeholders had high hope or deep concerns about the outcome of this mould-breaking project. So we held regular open workshops to establish enough trust to move fast. We identified the most significant issues first - patient record security and service quality – and directly addressed these first, at the early stages of investing time and money was too great."
  image: "/project-stories/sh24/workshop.jpg"

team_quote:
  quote: "A great team with exactly the right mix of skills we needed."
  source: "Chris Howroyd, SH:24"

proposition_image: "/project-stories/sh24/woman-with-phone.jpg"

statistics:
  title: "Strong take up proved the concept rapidly"
  design_and_build_title: "Design and build:"
  design_and_build:
    - "Live STI test results were returned to the NHS within 8 weeks of our engagement. Over 100 users were engaged in the design process"
    - "and within 16 weeks of inception, SH:24 was a live NHS approved service."
  since_launch_title: "Since launch:"
  since_launch:
    - "The website has now received 5,200 visitors (70% new) and 26,000 page views. 1300 have ordered a test through SH:24. Sixty percent of people have returned their test which is much higher than other online testing services. 95% of people starting the order process go right through to complete the order."

team:
  title: "The team"
  content: "This is what we got out of the project and what we learned..."
  image: "/project-stories/sh24/team.png"

site:
  link: "https://sh24.org.uk/"
  text: "Visit the site and check it out for yourself"

links:
  - title: "Revolutionary new STI-testing scheme launches in Southwark"
    source: "southwarknews"
    type: "news"
    link: "http://www.southwarknews.co.uk/news/revolutionary-new-sti-testing-scheme-launches-in-southwark/"
  - title: "SH:24 sexual health service launches today"
    source: "Design Council"
    type: "news"
    link: "http://www.designcouncil.org.uk/news-opinion/sh24-sexual-health-service-launches-today"

related:
  title: "Related"
  articles:
    - title: "Agile. Being lean in the NHS"
      author: "Martyn Evans"
      type: "round table"
      link: "https://www.unboxedconsulting.com/blog/digital-healthcare-roundtable-session"
      color: "blue"
      image: "/project-stories/sh24/related/nhs.jpg"
    - title: "De-railed? Is Ruby Enterprise ready?"
      author: "Murray Steele"
      type: "blog"
      link: "https://www.unboxedconsulting.com/ideas/guide-is-ruby-enterprise-ready"
      color: "orange"
      image: "/project-stories/sh24/related/meeting.jpg"
    - title: "Groundbreaking redevelopment of Channel5.com"
      type: "project story"
      link: "https://www.unboxedconsulting.com/project-stories/channel-5"
      color: "white"
      image: "/project-stories/sh24/related/channel5.jpg"
---

<header class="page-header">
  <div class="page-header__container">
    <h1 class="page-header__introduction">
      <%= current_page.data.header.introduction %>
    </h1>

    <p class="page-header__client">
      <%= current_page.data.header.client %>
    </p>
  </div>
</header>

<div class="container">
  <img class="full-image" <%= retina_src current_page.data.header.image %> id="siteHeaderWaypoint" alt="Sexual Health post it" />

  <script>
  new Waypoint({
    element: $('#siteHeaderWaypoint'),
    handler: function(direction) {
      var siteHeader = $('.site-header');
      if (direction === "down") {
        siteHeader.addClass('site-header--active-scroll');
      } else {
        siteHeader.removeClass('site-header--active-scroll');
      }
    },
    offset: 54
  });
  </script>

  <section class="component">
    <div class="component__tile text-tile">
      <h2 class="text-tile__large-paragraph">
        <%= current_page.data.introduction %>
      </h2>
    </div>

    <div class="component__tile image-tile">
      <img class="image-tile__image" <%= retina_src current_page.data.introduction_image %> alt="Blood lancets" />
    </div>
  </section>

  <section class="bitesize">
    <h2 class="bitesize__title">
      <%= current_page.data.highlights_title %>
    </h2>

    <ul class="bitesize__list">
      <% current_page.data.highlights.each do |highlight| %>
        <li class="bitesize__list-item">
          <%= markdown highlight %>
        </li>
      <% end %>
    </ul>
  </section>

  <section class="component">
    <div class="component__tile text-tile">
      <h2 class="text-tile__title">
        <%= current_page.data.launch.title %>
      </h2>

      <p class="text-tile__paragraph">
        <%= current_page.data.launch.content %>
      </p>
    </div>

    <div class="component__tile image-tile">
      <img class="image-tile__image" <%= retina_src current_page.data.launch.image %> alt="Alpha instructions closeup" />
    </div>
  </section>

  <blockquote class="quote">
    <p class="quote__text">
      <%= current_page.data.first_met_quote.quote %>
    </p>
    <p class="quote__source">
      <%= current_page.data.first_met_quote.source %>
    </p>
  </blockquote>

  <section class="component">
    <div class="component__tile text-tile">
      <h2 class="text-tile__title">
        <%= current_page.data.service.title %>
      </h2>

      <p class="text-tile__paragraph">
        <%= current_page.data.service.content %>
      </p>
    </div>

    <div class="component__tile image-tile">
      <img class="image-tile__image" <%= retina_src current_page.data.service.image %> alt="Using the alpha instructions" />
    </div>
  </section>

  <img class="full-image" <%= retina_src current_page.data.prototype_kit_image %> alt="Alpha packaging prototype" />

  <section class="component">
    <div class="component__tile text-tile">
      <h2 class="text-tile__title">
        <%= current_page.data.learning.title %>
      </h2>

      <p class="text-tile__paragraph">
        <%= current_page.data.learning.content %>
      </p>
    </div>

    <div class="component__tile image-tile">
      <img class="image-tile__image" <%= retina_src current_page.data.learning.image %> alt="User learning" />
    </div>
  </section>

  <blockquote class="quote">
    <p class="quote__text">
      <%= current_page.data.timely_quote.quote %>
    </p>
    <p class="quote__source">
      <%= current_page.data.timely_quote.source %>
    </p>
  </blockquote>

  <img class="full-image" <%= retina_src current_page.data.packaging_image %> alt="Kit kackaging" />

  <section class="component">
    <div class="component__tile text-tile">
      <h2 class="text-tile__title">
        <%= current_page.data.stakeholder_trust.title %>
      </h2>

      <p class="text-tile__paragraph">
        <%= current_page.data.stakeholder_trust.content %>
      </p>
    </div>

    <div class="component__tile image-tile">
      <img class="image-tile__image" <%= retina_src current_page.data.stakeholder_trust.image %> alt="Stakeholders" />
    </div>
  </section>

  <blockquote class="quote">
    <p class="quote__text">
      <%= current_page.data.team_quote.quote %>
    </p>
    <p class="quote__source">
      <%= current_page.data.team_quote.source %>
    </p>
  </blockquote>

  <img class="full-image" <%= retina_src current_page.data.proposition_image %> alt="Woman with her phone" />

  <section class="bitesize">
    <h2 class="bitesize__title">
      <%= current_page.data.statistics.title %>
    </h2>

    <section class="bitesize__section">
      <h3 class="bitesize__sub-title">
        <%= current_page.data.statistics.design_and_build_title %>
      </h3>

      <ul>
        <% current_page.data.statistics.design_and_build.each do |statistic| %>
          <li class="bitesize__list-item">
            <%= markdown statistic %>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="bitesize__section">
      <h3 class="bitesize__sub-title">
        <%= current_page.data.statistics.since_launch_title %>
      </h3>

      <ul>
        <% current_page.data.statistics.since_launch.each do |statistic| %>
          <li class="bitesize__list-item">
            <%= markdown statistic %>
          </li>
        <% end %>
      </ul>
    </section>
  </section>

  <section class="component team">
    <div class="component__tile">
      <h3 class="team__title">
        <%= current_page.data.team.title %>
      </h3>

      <p class="team__paragraph">
        <%= current_page.data.team.content %>
      </p>
    </div>

    <div class="component__tile">
      <img class="team__image" <%= retina_src current_page.data.team.image %> alt="Team headshots" />
    </div>
  </section>

  <section class="component">
    <a class="link-tile link-tile--site-link" href="<%= current_page.data.site.link %>" target="_blank">
      <div>
        <div class="link-tile__type">
          link
        </div>
        <div class="link-tile__title">
          <%= current_page.data.site.text %>
        </div>
      </div>
    </a>
    <% current_page.data.links.each do |link| %>
      <a class="link-tile" href="<%= link.link %>" target="_blank">
        <div>
          <div class="link-tile__type">
            <%= link.type %>
          </div>
          <div class="link-tile__title">
            <%= link.title %>
          </div>
        </div>
        <div class="link-tile__source">
          <%= link.source %>
        </div>
      </a>
    <% end %>
  </section>


  <footer class="component">
    <div class="footer-introduction">
      <h3 class="footer-introduction__title">
        <%= current_page.data.related.title %>
      </h3>
    </div>

    <% current_page.data.related.articles.each do |article| %>
      <a class="related-tile related-tile--<%= article.color %>" href="<%= article.link %>">
        <img class="related-tile__image" src="<%= article.image %>" alt="<%= article.type %>">
        <div class="related-tile__text-content">
          <div>
            <div class="related-tile__type">
              <%= article.type %>
            </div>
            <div class="related-tile__title">
              <%= article.title %>
            </div>
          </div>
          <% if article.author %>
            <div class="related-tile__author">
              <%= article.author %>
            </div>
          <% end %>
        </div>
      </a>
    <% end %>

    <section class="footer-social-icons">
      <div>
        <a class="footer-social-icons__icon-container" href="http://twitter.com/Ubxd" target="_blank">
          <div class="footer-social-icons__icon">
            <%= image_tag 'twitter.png', class: 'footer-social-icons__image', alt: 'Twitter' %>
          </div>
        </a>
        <a class="footer-social-icons__icon-container" href="https://www.facebook.com/pages/Unboxed-Consulting/114802528557320" target="_blank">
          <div class="footer-social-icons__icon">
            <%= image_tag 'facebook.png', class: 'footer-social-icons__image', alt: 'Facebook' %>
          </div>
        </a>
        <a class="footer-social-icons__icon-container" href="http://www.linkedin.com/company/unboxed-consulting" target="_blank">
          <div class="footer-social-icons__icon">
            <%= image_tag 'linkedin.png', class: 'footer-social-icons__image', alt: 'LinkedIn' %>
          </div>
        </a>
      </div>
    </section>
  </footer>
</div>
