---
title: "SH:24 Project Story"

header:
  client: "SH:24"
  introduction: "Unboxed transform NHS sexual health clinics to a digital service in 8 weeks"
  image: "/project-stories/sh24/sh24-post-it.jpg"
  image_description: "Sexual Health - how do we make it easier to access NHS services?"

introduction:
  title: "Digital healthcare innovation"
  content: "SH:24 asked Unboxed to help them develop an online STI testing service. The vision was that a self service testing kit, ordered online could tackle long queues at inaccessible sexual health centres and dramatically increase public access to sexual health service."
  image: "/project-stories/sh24/kit-instructions.jpg"
  image_description: "Using a web prototype for instructions"

statistics_title: "SH:24 in numbers"
statistics:
  - "8 weeks to successful prototype"
  - "100+ users involved in design"
  - "16 weeks from inception to NHS approved service"
  - "1,300 test kits ordered in first 8 weeks"
  - "95% starting an order online, complete it"

launch:
  title: "Live service launched in 16 weeks"
  content: "After only eight weeks, a user was able to order and complete an STI test at home without any clinical support. Another eight weeks later, a live service was launched to the public. This project is paving the way for transformation of other NHS services that are currently delivered face to face, in clinics."
  image: "/project-stories/sh24/sti-test-kit.jpg"
  image_description: "Opened SH:24 test kit"

first_met_quote:
  quote: "From the moment we met Unboxed, we felt they understood our approach and had a robust process for exploration and delivery."
  source: "Chris Howroyd, Director, SH:24"

service:
  title: "A new physical service with a digital core"
  content: "Whilst the digital elements formed a critical part of the service, we took great care to ensure that the experience of the physical product was equally as effective. The packaging and instructions, supporting information and messaging went through numerous iterations – for example the home blood sampling process changed radically and the instructions were tested and recreated several times."
  image: "/project-stories/sh24/prototyping-instructions.jpg"
  image_description: "Early prototype of kit instructions"

blood_instruction_video:
  youtube_id: "7tY0vW2Ix3A"
  image: "/project-stories/sh24/video-still.jpg"
  image_description: "Blood instructions video"


learning:
  title: "'Moving in' next door to users and partners"
  content: "Our \"war-room\" close to the clinics gave us direct access to the service users and our clinical partners. From the earliest sketches, through prototypes and models, to the final production code and kits, we were able to validate our thinking on a daily basis with real users."
  image: "/project-stories/sh24/team-discussions.jpg"
  image_description: "War room"

timely_quote:
  quote: "Unboxed brought people together rapidly and helped us to deliver a full service in an incredibly short space of time."
  source: "Chris Howroyd, SH:24"

sh24_banner:
  image: "/project-stories/sh24/sh24-proposition.jpg"
  image_description: "SH:24 banner image"

stakeholder_trust:
  title: "Building trust amongst stakeholders"
  content: "Many different stakeholders had high hopes or deep concerns about the outcome of this mould-breaking project. So we held regular open workshops to establish enough trust to move fast. We identified the most significant issues first - patient record security and service quality – and directly addressed these immediately."
  image: "/project-stories/sh24/workshop.jpg"
  image_description: "Stakeholder workshop and meeting"

team_quote:
  quote: "A great team with exactly the right mix of skills we needed."
  source: "Chris Howroyd, SH:24"

team:
  title: "Unboxed team"
  people_active:
    - short_name: "jon"
      full_name: "Jon Normington"
      link: "/people/jon-normington"
    - short_name: "martyn"
      full_name: "Martyn Evans"
      link: "/people/martyn-evans"
    - short_name: "tom"
      full_name: "Tom Sabin"
      link: "/people/tom-sabin"
    - short_name: "neil"
      full_name: "Neil van Beinum"
      link: "/people/neil-van-beinum"
  people_archived:
    - short_name: "kips"
      full_name: "Kips Davenport"

conclusion:
  title: "Strong take up proved the concept rapidly"
  design_and_build_title: "Design and build:"
  design_and_build:
    - "Live STI test results were returned to the NHS within 8 weeks of our engagement."
    - "Over 100 users were engaged in the design process and within 16 weeks of inception, SH:24 was a live NHS approved service."
  since_launch_title: "Since launch:"
  since_launch:
    - "The website has now received 5,200 visitors (70% new) and 26,000 page views."
    - "1300 have ordered a test through SH:24. Sixty percent of people have returned their test which is much higher than other online testing services."
    - "95% of people starting the order process go right through to complete the order."

site:
  link: "https://sh24.org.uk/"
  text: "Visit the site and check it out for yourself"

links:
  - title: "Revolutionary new STI-testing scheme launches in Southwark"
    source: "southwarknews"
    type: "news"
    link: "http://www.southwarknews.co.uk/news/revolutionary-new-sti-testing-scheme-launches-in-southwark/"
  - title: "SH:24 sexual health service launches today"
    source: "Design Council"
    type: "news"
    link: "http://www.designcouncil.org.uk/news-opinion/sh24-sexual-health-service-launches-today"

related:
  title: "Related"
  articles:
    - title: "Agile. Being lean in the NHS"
      type: "round table"
      link: "https://www.unboxedconsulting.com/blog/digital-healthcare-roundtable-session"
      image: "/project-stories/sh24/related/lean-in-the-nhs.jpg"
    - title: "De-railed? Is Ruby Enterprise ready?"
      type: "White paper"
      link: "https://www.unboxedconsulting.com/ideas/guide-is-ruby-enterprise-ready"
      image: "/project-stories/sh24/related/ruby-enterprise-ready.jpg"
    - title: "Groundbreaking redevelopment of Channel5.com"
      type: "project story"
      link: "https://www.unboxedconsulting.com/project-stories/channel-5"
      image: "/project-stories/sh24/related/channel-5.jpg"
---

<header class="page-header">
  <div class="page-header__container">
    <h1 class="page-header__title">
      <%= current_page.data.header.introduction %>
    </h1>

    <p class="page-header__client">
      <%= current_page.data.header.client %>
    </p>
  </div>
</header>

<div class="container" data-header-waypoint>
  <%= partial 'project-stories/full_image', locals: { section: current_page.data.header } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.introduction } %>

  <section class="highlight--yellow">
    <h2 class="highlight__title">
      <%= current_page.data.statistics_title %>
    </h2>

    <ul class="highlight__list">
      <% current_page.data.statistics.each do |statistic| %>
        <li class="highlight__list-item">
          <%= render_markdown statistic %>
        </li>
      <% end %>
    </ul>
  </section>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.launch } %>

  <%= partial 'project-stories/quote', locals: { section: current_page.data.first_met_quote } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.service } %>

  <%= partial 'project-stories/full_video', locals: { section: current_page.data.blood_instruction_video } %>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.learning } %>

  <%= partial 'project-stories/quote', locals: { section: current_page.data.timely_quote } %>

  <a href="<%= current_page.data.site.link %>" target="_blank">
    <%= partial 'project-stories/full_image', locals: { section: current_page.data.sh24_banner } %>
  </a>

  <%= partial 'project-stories/text_tile', locals: { section: current_page.data.stakeholder_trust } %>

  <%= partial 'project-stories/quote', locals: { section: current_page.data.team_quote } %>

  <section class="project-team">
    <h2 class="project-team__title">
      <%= current_page.data.team.title %>
    </h2>

    <% current_page.data.team.people_active.each do |person| %>
      <a class="project-team__headshot-container project-team__container--5" href="<%= person.link %>">
        <img class="project-team__headshot project-team__<%= person.short_name %>" src="/project-stories/sh24/team/<%= person.short_name %>.png" alt="<%= person.full_name %>" title="<%= person.full_name %>">
      </a>
    <% end %>

    <% current_page.data.team.people_archived.each do |person| %>
      <div class="project-team__headshot-container project-team__container--5">
        <img class="project-team__headshot project-team__<%= person.short_name %>" src="/project-stories/sh24/team/<%= person.short_name %>.png" alt="<%= person.full_name %>" title="<%= person.full_name %>">
      </div>
    <% end %>
  </section>

  <section class="highlight--yellow">
    <h2 class="highlight__title">
      <%= current_page.data.conclusion.title %>
    </h2>

    <section class="highlight__section">
      <h3 class="highlight__sub-title">
        <%= current_page.data.conclusion.design_and_build_title %>
      </h3>

      <ul>
        <% current_page.data.conclusion.design_and_build.each do |statistic| %>
          <li class="highlight__list-item">
            <%= render_markdown statistic %>
          </li>
        <% end %>
      </ul>
    </section>

    <section class="highlight__section">
      <h3 class="highlight__sub-title">
        <%= current_page.data.conclusion.since_launch_title %>
      </h3>

      <ul>
        <% current_page.data.conclusion.since_launch.each do |statistic| %>
          <li class="highlight__list-item">
            <%= render_markdown statistic %>
          </li>
        <% end %>
      </ul>
    </section>
  </section>

  <section class="component">
    <a class="link-tile link-tile--site-link" href="<%= current_page.data.site.link %>" target="_blank">
      <div>
        <div class="link-tile__type">
          link
        </div>
        <div class="link-tile__title">
          <%= current_page.data.site.text %>
        </div>
      </div>
    </a>
    <% current_page.data.links.each do |link| %>
      <a class="link-tile" href="<%= link.link %>" target="_blank">
        <div>
          <div class="link-tile__type">
            <%= link.type %>
          </div>
          <div class="link-tile__title">
            <%= link.title %>
          </div>
        </div>
        <div class="link-tile__source">
          <%= link.source %>
        </div>
      </a>
    <% end %>
  </section>

  <footer class="component">
    <div class="footer-introduction">
      <h3 class="footer-introduction__title">
        <%= current_page.data.related.title %>
      </h3>
    </div>

    <% current_page.data.related.articles.each do |article| %>
      <a class="related-tile" href="<%= article.link %>">
        <img class="related-tile__image" src="<%= article.image %>" alt="<%= article.type %>">
        <div class="related-tile__text-content">
          <div>
            <div class="related-tile__type">
              <%= article.type %>
            </div>
            <div class="related-tile__title">
              <%= article.title %>
            </div>
          </div>
        </div>
      </a>
    <% end %>

    <section class="footer-social-icons">
      <div>
        <a class="social-icons__icon-container" href="http://twitter.com/Ubxd" target="_blank">
          <div class="social-icons__icon">
            <%= image_tag 'twitter.png', class: 'social-icons__image', alt: 'Twitter' %>
          </div>
        </a>
        <a class="social-icons__icon-container" href="https://www.facebook.com/pages/Unboxed-Consulting/114802528557320" target="_blank">
          <div class="social-icons__icon">
            <%= image_tag 'facebook.png', class: 'social-icons__image', alt: 'Facebook' %>
          </div>
        </a>
        <a class="social-icons__icon-container" href="http://www.linkedin.com/company/unboxed-consulting" target="_blank">
          <div class="social-icons__icon">
            <%= image_tag 'linkedin.png', class: 'social-icons__image', alt: 'LinkedIn' %>
          </div>
        </a>
      </div>
    </section>
  </footer>
</div>
