---
title: "Services - Kickstart digital innovation"

header:
  introduction: "Kickstart digital innovation"
  image: "/assets/images/services/kickstart-digital-innovation/service-discover.jpg"
  image_description: "Header image"

introduction:
  content:
  - "This is where we kickstart your journey to digital innovation. This journey often begins with an idea for a new digital product or service, a problem you’re facing or how you might improve an existing solution."
  - "We begin by talking to your customers, as well as internal stakeholders, to listen to their pain points and understand their desired outcomes. Through these interactions, we form personas and user journeys to take forward. Following this, we explore different ideas through simple prototyping, testing these with customers, then summarising our insights in a portfolio of valuable innovative opportunities for your organisation."

activities:
  title: "What does this look like?"
  content:
    - heading: "Strategy workshops"
      image: "/assets/images/services/kickstart-digital-innovation/strategy-workshops.jpg"
      description: "Engaging your stakeholders in this design process, aligning the whole team around our common goals and vision."
    - heading: "Contextual interviews"
      image: "/assets/images/services/kickstart-digital-innovation/contextual-interviews.jpg"
      description: "Face-to-face conversations and interviews with your customers, exploring their needs."
    - heading: "Journey mapping"
      image: "/assets/images/services/kickstart-digital-innovation/journey-mapping.jpg"
      description: "Plotting the ideal user journey for your customers, from entry to exit, identifying our opportunities to create value."
    - heading: "Co-design sessions"
      image: "/assets/images/services/kickstart-digital-innovation/co-design-sessions.jpg"
      description: "Generating ideas and co-creating early solution concepts through collaborative sketching sessions."
    - heading: "Prototyping"
      image: "/assets/images/services/kickstart-digital-innovation/prototyping.jpg"
      description: "Creating interactive prototypes, testing with your users and generating feedback for improved solutions."
    - heading: "Prioritising opportunities"
      image: "/assets/images/services/kickstart-digital-innovation/prioritising-opportunities.jpg"
      description: "Identifying the right criteria and prioritising opportunities, creating our roadmap for development."

product_stories:
  title: "Related Product Stories"
  content:
    - name: "Reed Learning"
      description: "Leading digital transformation in professional learning and development"
      image: "/assets/images/product-stories/reed-learning.jpg"
      link: "/product-stories/reed-learning/"

    - name: "Pearson"
      description: "Unlocking a new digital learning revenue stream with Pearson"
      image: "/assets/images/product-stories/pearson.jpg"
      link: "/product-stories/pearson"

    - name: "SH:24"
      description: "Transformation of NHS sexual health clinics to a digital service in 8 weeks"
      image: "/assets/images/product-stories/sh24.jpg"
      link: "/product-stories/sh24"


---

<%= partial 'shared/page_header', locals: current_page.data.header %>

<div class="container" data-header-waypoint>
  <%= image_tag current_page.data.header.image, alt: current_page.data.header.image_description, class: "full-image", srcset: retina_srcset(current_page.data.header.image) %>

  <%= partial 'services/full_width_text_tile_prose', locals: current_page.data.introduction %>

  <section class="activities">
    <h3 class="activities__title">
        <%= current_page.data.activities.title %>
    </h3>
    <div class="activities__grid">
      <% current_page.data.activities.content.each do |activity| %>
        <div class="activities__activity">
          <h3 class="activity__title">
            <%= activity.heading %>
          </h3>
          <%= image_tag activity.image, alt: activity.heading, class: "service__image", srcset: retina_srcset(activity.image) %>
          <p class="service__paragraph">
            <%= activity.description %>
          </p>
        </div>
      <% end %>
    </div>
  </section>

  <%= partial 'showcase_tiles_section' , locals: current_page.data.product_stories%>
</div>

<%= partial 'book_meeting' %>
