---
title: "The £50k Springboard"
subtitle: "How to use the first £50k of a digital product to build the business case for the next £500k"

who_should_attend_title: "Who should attend?"
who_should_attend:
  - CTOs
  - Product Owners
  - Product Managers

date: "Monday 30th November"
time: "9am for 9.30am – 12.00pm"
date_time: "2015-11-30 09:00"
location: "Adam House, 7-10 Adam Street, London, WC2N 6AA"
cta:
  text: "Get my place"
  price: "for £95.00 + VAT"
  url: ""

content:
  introduction: "How do you prove the concept for a large, new digital product and unlock a full budget, with just the first signed-off £50k... especially when you’re using Agile? Hear from those who have tried, tested and succeeded in doing so - Reed Learning, NHS SH:24 and BBC."

  find_out_title: "Find out how to"
  find_out:
    - "Build a business case for a new digital product or the overhaul of an existing one, using the first £50k as a springboard"
    - "Structure the Agile phases of work to demonstrate value and unlock the rest of the budget"
    - "Build trust with stakeholders at high risk product phases"
    - "Communicate value, learning, risk and progress clearly to people unfamiliar with Agile"
    - "Work with dev partners to nail the first phase to build trust"
    - "Use the psychology of ‘the money’ to avoid classic Agile stakeholder pitfalls"

  responsible_for_title: "This event is for those responsible for"
  responsible_for:
    - "Getting a major new software application off the ground"
    - "Or.. planning a major overhaul an existing online software product"
    - "Creating the business case for a significant development budget"

speakers:
  - name: ""
    role: ""
    twitter: ""
    bio: ""
---

<% content_for(:title) { "Event - #{current_page.data.title}" } %>

<div class="event">
  <div class="event__container">
    <h1 class="event__title">
      <%= current_page.data.title %>:
    </h1>

    <h2 class="event__subtitle">
      <%= current_page.data.subtitle %>
    </h2>


    <div class="event__detail">
      <i class="fa fa-users event__detail-icon"></i>
      <div>
        <h3>
          <%= current_page.data.who_should_attend_title %>
        </h3>
        <p>
          <%= current_page.data.who_should_attend.join(', ') %>
        </p>
      </div>
    </div>

    <time class="event__detail" datetime="<%= current_page.data.date_time %>">
      <i class="fa fa-calendar event__detail-icon"></i>
      <div>
        <div>
          <%= current_page.data.date %>
        </div>
        <div>
          <%= current_page.data.time %>
        </div>
      </div>
    </time>
  </div>

  <a class="event-location" href="https://www.google.com/maps/place/<%= current_page.data.location %>/">
    <img class="event-location__map" src="http://maps.googleapis.com/maps/api/staticmap?size=375x100&markers=color:red%7C<%= current_page.data.location %>&sensor=false&scale=2" alt="Google Map of <%= current_page.data.location %>" target="_blank">
    <div class="event-location__overlay">
      <i class="fa fa-map-marker event-location__pin"></i>
      <address class="event-location__address">
        <%= current_page.data.location %>
      </address>
    </div>
  </a>

  <div class="event__container">
    <a class="event__cta" href="<%= current_page.data.cta.url %>">
      <span class="event__cta-text"><%= current_page.data.cta.text %></span>
      <span class="event__cta-price"><%= current_page.data.cta.price %></span>
    </a>

    <p class="event-content__text">
      <%= current_page.data.content.introduction %>
    </p>

    <h4 class="event-content__title">
      <%= current_page.data.content.find_out_title %>:
    </h4>

    <ul class="event-content__list">
      <% current_page.data.content.find_out.each do |item| %>
        <li>
          <%= item %>
        </li>
      <% end %>
    </ul>

    <h4 class="event-content__title">
      <%= current_page.data.content.responsible_for_title %>:
    </h4>

    <ul class="event-content__list">
      <% current_page.data.content.responsible_for.each do |item| %>
        <li>
          <%= item %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

