<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
      <% if content_for?(:title)
        title = yield_content(:title)
      elsif current_page.data.title
        title = current_page.data.title
      end %>
      <%= title ? "Unboxed - #{title}" : "Unboxed" %>
    </title>
    <%= favicon_tag "favicon.ico" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "ie10_fixes" %>
    <!--[if IE 9]>
      <%= stylesheet_link_tag "ie9_fixes" %>
    <![endif]-->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shiv.min" %>
      <%= stylesheet_link_tag "ie8_fixes" %>
    <![endif]-->
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-1228281-4', 'unboxed.co');
      ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
  </head>

  <body>
    <header class="site-header">
      <div class="site-header__brand">
        <a class="site-header__link" href="https://www.unboxedconsulting.com/">
          Unboxed
        </a>
      </div>

      <div class="site-navigation">
        <div class="site-navigation__scroll-hint"></div>
        <div class="site-navigation__container">
          <%= site_nav_link('Home', '/') %>
          <%= site_nav_link('News', '/news') %>
          <%= site_nav_link('Project stories', '/project-stories') %>
          <%= site_nav_link('People', '/people') %>
          <%= site_nav_link('Blog', '/blog') %>
          <%= site_nav_link('Join Us', '/jobs') %>
          <%= site_nav_link('Contact', '/contact') %>
        </div>
      </div>
    </header>

    <div class="page-content">
      <%= yield %>
    </div>

    <div class="footer-social-icons">
      <div class="footer-social-icons__container">
        <a class="social-icons__icon-container" href="http://twitter.com/Ubxd" target="_blank">
          <div class="social-icons__icon">
            <%= image_tag 'twitter.png', class: 'social-icons__image', alt: 'Twitter' %>
          </div>
        </a>
        <a class="social-icons__icon-container" href="https://www.facebook.com/pages/Unboxed-Consulting/114802528557320" target="_blank">
          <div class="social-icons__icon">
            <%= image_tag 'facebook.png', class: 'social-icons__image', alt: 'Facebook' %>
          </div>
        </a>
        <a class="social-icons__icon-container" href="http://www.linkedin.com/company/unboxed-consulting" target="_blank">
          <div class="social-icons__icon">
            <%= image_tag 'linkedin.png', class: 'social-icons__image', alt: 'LinkedIn' %>
          </div>
        </a>
      </div>
    </div>

    <script>
      var $waypointElement = $('[data-header-waypoint]');

      if ($waypointElement.length !== 0) {
        new Waypoint({
          element: $('[data-header-waypoint]'),
          handler: function(direction) {
            var siteHeader = $('.site-header');
            if (direction === 'down') {
              siteHeader.addClass('site-header--active-scroll');
            } else {
              siteHeader.removeClass('site-header--active-scroll');
            }
          },
          offset: 86
        });
      }
    </script>
  </body>
</html>
