<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>
      <% if content_for?(:title)
        title = yield_content(:title)
      elsif current_page.data.title
        title = current_page.data.title
      end %>
      <%= title ? "Unboxed - #{title}" : "Unboxed" %>
    </title>
    <%= favicon_tag "favicon.ico" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "ie10_fixes" %>
    <!--[if IE 9]>
      <%= stylesheet_link_tag "ie9_fixes" %>
    <![endif]-->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shiv.min" %>
      <%= stylesheet_link_tag "ie8_fixes" %>
    <![endif]-->
    <% if content_for?(:head) %>
      <%= yield_content(:head) %>
    <% end %>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-1228281-4', 'unboxed.co');
      ga('send', 'pageview');
    </script>
    <script async src='//www.google-analytics.com/analytics.js'></script>
  </head>

  <body>
    <header class="site-header<%= '--blog' if is_matching_link?('/blog', current_page.url) %>" data-site-header>
      <div class="site-header__container">
        <div class="site-brand">
          <a class="site-brand__link" href="/">
            Unboxed
          </a>
        </div>

        <div class="site-navigation">
          <div class="site-navigation__container">
            <%= site_nav_link('Home', '/') %>
            <%= site_nav_link('News', '/news') %>
            <%= site_nav_link('Project stories', '/project-stories') %>
            <%= site_nav_link('People', '/people') %>
            <%= site_nav_link('Blog', '/blog') %>
            <%= site_nav_link('Join Us', '/jobs') %>
            <%= site_nav_link('Contact', '/contact') %>
          </div>
        </div>
      </div>
    </header>

    <div class="page-content">
      <%= yield %>
    </div>

    <%= partial 'footer.erb' %>

    <script>
      var $waypointElement = $('[data-header-waypoint]');

      if ($waypointElement.length !== 0) {
        new Waypoint({
          element: $('[data-header-waypoint]'),
          handler: function(direction) {
            var siteHeader = $('.site-header');
            if (direction === 'down') {
              siteHeader.addClass('site-header--active-scroll');
            } else {
              siteHeader.removeClass('site-header--active-scroll');
            }
          },
          offset: $('[data-site-header]').height()
        });
      }

      if (/iPad|iPhone|iPod/.test(navigator.userAgent)) {
        document.documentElement.className += " ios-device";
      }
    </script>

    <!--[if lte IE 9]>
      <%= javascript_include_tag "jquery.placeholder.min" %>
      <script>
        $('input[placeholder], textarea[placeholder]').placeholder();
      </script>
    <![endif]-->
  </body>
</html>
