<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= current_page.data.title || "UBXD" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "ie10_fixes" %>
    <!--[if IE 9]>
      <%= stylesheet_link_tag "ie9_fixes" %>
    <![endif]-->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shiv" %>
      <%= stylesheet_link_tag "ie8_fixes" %>
    <![endif]-->
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
</html>
