<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="google-site-verification" content="7ofBZPrvGmQ0Rw17FRiVQQjJzaHSLhCI6723gFBx4YQ" />
    <title>
      <% title = page_data(:title) %>
      <%= title ? "Unboxed - #{title}" : "Unboxed" %>
    </title>
    <meta name="description" content="<%= page_data(:meta_description) %>">
    <meta name="keywords" content="<%= page_data(:meta_keywords) %>">
    <%= favicon_tag "favicon.ico" %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "ie10_fixes" %>
    <!--[if IE 9]>
      <%= stylesheet_link_tag "ie9_fixes" %>
    <![endif]-->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shiv.min" %>
      <%= stylesheet_link_tag "ie8_fixes" %>
    <![endif]-->
    <% if content_for?(:head) %>
      <%= yield_content(:head) %>
    <% end %>
    <script>
      function deferredScript(path) {
        function addScript(path) {
          var element = document.createElement('script');
          element.src = path;
          document.body.appendChild(element);
        }

        if (window.addEventListener) {
          window.addEventListener('load', addScript(path), false);
        } else if (window.attachEvent) {
          window.attachEvent('onload', addScript(path));
        } else {
          window.onload = addScript(path);
        }
      }

      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-1228281-4', 'unboxed.co');
      ga('send', 'pageview');
    </script>
    <script async src="//www.google-analytics.com/analytics.js"></script>
  </head>

  <body>
    <header class="site-header<%= '--blog' if is_matching_link?('/blog', current_page.url) %>" data-site-header>
      <div class="site-header__container">
        <div class="site-brand">
          <a class="site-brand__link" href="/">
            Unboxed
          </a>
        </div>

        <nav class="site-navigation">
          <div class="site-navigation__container">
            <%= site_nav_link('Home', '/', class: 'site-navigation__link--home') %>
            <%= site_nav_link('News', '/news') %>
            <%= site_nav_link('Project stories', '/project-stories') %>
            <%= site_nav_link('Spinouts', '/spinouts') %>
            <%= site_nav_link('People', '/people') %>
            <%= site_nav_link('Blog', '/blog') %>
            <%= site_nav_link('Join Us', '/jobs') %>
            <%= site_nav_link('Contact', '/contact', class: 'site-navigation__link--contact') %>
          </div>
        </nav>
      </div>
    </header>

    <div class="page-content<%= '--news-article' if is_matching_link?('/news', current_page.url) %>">
      <%= yield %>
    </div>

    <%= partial 'site_footer' %>

    <!--[if lte IE 9]>
      <%= javascript_include_tag "placeholders.min" %>
    <![endif]-->

    <script type="text/javascript">
      deferredScript("/assets/javascripts/application.js")
    </script>
  </body>
</html>
