<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= current_page.data.title || "Unboxed" %></title>
    <%= favicon_tag "favicon.ico" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "ie10_fixes" %>
    <!--[if IE 9]>
      <%= stylesheet_link_tag "ie9_fixes" %>
    <![endif]-->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shiv" %>
      <%= stylesheet_link_tag "ie8_fixes" %>
    <![endif]-->
  </head>

  <body>
    <div class="site-header">
      <div class="site-header__brand">
        <a class="site-header__link" href="https://www.unboxedconsulting.com/">
          Unboxed
        </a>
      </div>
    </div>

    <div class="page-content">
      <%= yield %>
    </div>

    <div class="container">
      <section class="footer-social-icons">
        <div>
          <a class="social-icons__icon-container" href="http://twitter.com/Ubxd" target="_blank">
            <div class="social-icons__icon">
              <%= image_tag 'twitter.png', class: 'social-icons__image', alt: 'Twitter' %>
            </div>
          </a>
          <a class="social-icons__icon-container" href="https://www.facebook.com/pages/Unboxed-Consulting/114802528557320" target="_blank">
            <div class="social-icons__icon">
              <%= image_tag 'facebook.png', class: 'social-icons__image', alt: 'Facebook' %>
            </div>
          </a>
          <a class="social-icons__icon-container" href="http://www.linkedin.com/company/unboxed-consulting" target="_blank">
            <div class="social-icons__icon">
              <%= image_tag 'linkedin.png', class: 'social-icons__image', alt: 'LinkedIn' %>
            </div>
          </a>
        </div>
      </section>
    </div>

    <script>
      var $waypointElement = $('[data-header-waypoint]');

      if ($waypointElement) {
        new Waypoint({
          element: $('[data-header-waypoint]'),
          handler: function(direction) {
            var siteHeader = $('.site-header');
            if (direction === 'down') {
              siteHeader.addClass('site-header--active-scroll');
            } else {
              siteHeader.removeClass('site-header--active-scroll');
            }
          },
          offset: 54
        });
      }
    </script>

  </body>

</html>
