<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title><%= current_page.data.title || "Unboxed" %></title>
    <%= favicon_tag "favicon.ico" %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "ie10_fixes" %>
    <!--[if IE 9]>
      <%= stylesheet_link_tag "ie9_fixes" %>
    <![endif]-->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "html5shiv" %>
      <%= stylesheet_link_tag "ie8_fixes" %>
    <![endif]-->
  </head>

    <body class="<%= page_classes %>">
    <header class="site-header">
      <div class="site-header__brand">
        <a class="site-header__link" href="https://www.unboxedconsulting.com/">
        Unboxed
        </a>
      </div>
    </header>

    <div class="blog-page">
      <header class="blog-header__container">
        <div class="blog-header__article-header">
          <h1 class="blog-header__article-title">
            <%= current_page.data.title %>
          </h1>
          <a class="blog-header__article-author" href="">
            <%= current_page.data.author %>
          </a>

          <p class="blog-header__article-published-date">
            <span>
            <%= Time.parse(current_page.data.date).strftime("%B %e, %Y") %>
          </span>
          </p>
        </div>
      </header>

      <section class="blog-article">
        <article class="blog-article__container">
          <div class="blog-article__content">
            <%= yield %>
          </div>
        </article>
      </section>

      <section class="blog-author">
        <div class="blog-author__container">
          <div class="blog-author__image">
            <img src="<%= data.people.graeme.image %>" alt="blog author"/>
          </div>
          <aside class="blog-author__right-section">
            <p class="blog-author__name">
              <span><%= data.people.graeme.name %></span>
            </p>
            <div class="blog-author__bio">
              <%= data.people.graeme.bio %>
            </div>
          </aside>
          <div class="blog-author__clear"></div>
        </div>
      </section>

      <%= partial 'disqus', locals: { disqus_identifier: current_page.data.disqus_identifier } %>
      <ul>
        <% current_article.similar_articles.first(3).each do |article| %>
          <li><%= article.title %></li>
        <% end %>
      </ul>
    </div>

  </body>

</html>
