<% if current_page.data.author %>
  <% author = data.people.detect { |person| person.name.downcase == current_page.data.author.downcase } %>
  <% authors = [author] %>
<% elsif current_page.data.authors %>
  <% authors = current_page.data.authors.map { |name| data.people.detect { |author| author.name.downcase == name.downcase } }.compact %>
<% end %>

<% content_for(:title) { "Blog - #{current_page.data.title}" } %>
<% content_for(:meta_description) { truncate(strip_tags(current_article.body), length: 150) } %>
<% content_for(:meta_keywords) { "unboxed consulting, news, technical, web, development, marketing, graphic design, Unboxed, Ruby on Rails, Blog, #{current_page.data.tags.join(', ')}" } %>
<% add_atom_feed_to_head %>

<!--Twitter card tags-->
<% content_for(:head) do %>
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@Ubxd">
  <meta name="twitter:title" content="<%= current_page.data.title %>">
  <meta name="twitter:description" content="<%= truncate(strip_tags(current_article.body), length: 150) %>">
  <meta name="twitter:image" content="<%= current_page.data.weekly_roundup ? image_url("assets/images/blog/unboxed_roundup.jpg") : current_page.data.main_image %>">
<% end %>

<% wrap_layout :application do %>
  <section class="blog-article">
    <div class="blog-article__container">

      <header class="blog-header">
        <h1 class="blog-header__page-title">
          <a class="blog-header__breadcrumb" href="/blog">Blog</a> / <span class="blog-header__article-title"><%= current_page.data.title %></span>
        </h1>

        <div class="blog-header__subtitle">
          <% if authors %>
            <% authors.each_with_index do |a, i| %>
              <a class="blog-header__author--linked" href="/people#<%= a.short_name %>" rel="author"><%= a.name %></a><!--
              --><%= ", " if i != authors.size - 1 %>
            <% end %>
          <% else %>
            <div class="blog-header__author">
              <%= current_page.data.author %>
            </div>
          <% end %>

          <div class="blog-header__published-date">
            <%= Time.parse(current_page.data.date).strftime("%B %e, %Y") %>
          </div>
        </div>
      </header>

      <div class="blog-article-tags blog-tags">
        <div class="blog-tags__container">
          <% data.tags.each do |tag| %>
            <a class="blog-tags__tag<%= " blog-tags__tag--active" if current_article.tags.include?(tag) %>"
              href="<%= tag_path(tag, :blog) %>"><%= tag %></a>
          <% end %>
        </div>
      </div>

      <article class="blog-content">
        <%= yield %>
      </article>

      <%= partial 'share_social_icons' %>
    </div>
  </section>

  <div class="blog-footer">
    <div class="blog-footer__container">
      <% if authors %>
        <% authors.each_with_index do |a, i| %>
          <section class="blog-author">
            <% if sitemap.find_resource_by_path "/assets/images/people/#{a.short_name}.png" %>
              <img class="blog-author__image" src="/assets/images/people/<%= a.short_name %>.png" alt="<%= a.name %>"/>
            <% end %>
            <aside class="blog-author__right-section">
              <a class="blog-author__name" href="/people#<%= a.short_name %>">
                <%= a.name %>
              </a>
              <div class="blog-author__bio">
                <%= simple_format a.bio %>
              </div>

              <% if blog(:blog).articles.select { |article| article.data.author == a.name }.size >= 2 %>
                <a class="blog-author__read-more" href="/blog/author/<%= a.short_name %>">
                  Read more posts by <%= a.name %>
                </a>
              <% end %>
            </aside>
          </section>
        <% end %>
      <% end %>

      <%= partial 'layouts/disqus', locals: { article_slug: current_page.slug } %>

      <% if current_article.similar_articles.any? %>
        <div class="page-footer-introduction">
          <h3 class="page-footer-introduction__title">
            Related
          </h3>
        </div>

        <% current_article.similar_articles.first(3).each do |article| %>
          <a class="blog-related-tile" href="<%= article.url %>">
            <div class="blog-related-tile__title">
              <%= truncate(article.title, length: 70) %>
            </div>

            <div>
              <div class="blog-related-tile__author">
                <%= article.data.author %>
              </div>

              <div class="blog-related-tile__date">
                <%= Time.parse(article.data.date).strftime("%B %e, %Y") %>
              </div>
            </div>
          </a>
        <% end %>
      <% end %>
    </div>
  </div>

  <script>
    var iframes = document.querySelectorAll('.blog-content iframe');

    if (iframes.length !== 0) {
      function resizeIframes() {
        for (var i = 0; i < iframes.length; i++) {
          var iframe = iframes[i]
          // Get the iframe's intended aspect ratio via it's inline dimensions
          var ratio = iframe.getAttribute('height') / iframe.getAttribute('width');
          // Apply a CSS height that is in correct ratio to it's current width
          iframe.style.height = iframe.offsetWidth * ratio + 'px';
        };
      }

      var timer;
      window.onresize = function() {
        clearTimeout(timer);
        timer = setTimeout(resizeIframes, 100);
      };

      resizeIframes();
    }
  </script>
<% end %>
