---
title: "Join Us - Business Development Lead - Join our team as a business development lead"

header:
  title: "Join us"
  subtitle: "Business Development Lead"

introduction:
  title: "Business Development Lead"
  text_1: "Salary range: £30k - £60k"
  text_2: "We are on the lookout for a London-based Business Development Lead who has the skills, experience and passion to help Unboxed improve lives with digital technology."
  text_3: "Within the last twelve months we have worked with our customers to:"
  activities:
    - Create a new service to support long-term patients away from hospital
    - Improve housing systems across Lewisham and Hackney
    - Create a product that allows drivers to charge their electric vehicles from an on-street lamppost
    - Explore how communities in South London can become more resilient
    - Improve digital services across Public Health England
    - Open engagement between States of Jersey and its citizens

  text_4: "You will be working closely with the others in the business to:"
  activities_2:
    - Introduce new customers who share our vision and values and have a need for our services
    - Maintain positive relationships with our existing customers to understand their current and future needs
    - Secure projects that allow us to grow and sustain our business, whilst having a positive influence on society

  text_5: "We are growing Unboxed. We are looking for new team members who care about people, who add to our community and diversify our thought."

developers_image:
  image: "/jobs/images/developers-1.jpg"
  image_description: "Developers presenting code"

description:
  title: "Some of the key activities within this role"
  content:
    - Research and monitoring to keep abreast of events and opportunities
    - Engaging people through direct communication, social media and special events
    - Attending industry events to promote Unboxed and make new connections
    - Maintaining relationships through regular meetings and information sharing
    - Generating content such as blogs, case studies and articles
    - Shaping proposals and presentations to secure suitable projects
    - Following project delivery to share stories and experience with the wider landscape
    - Contributing to the Unboxed organisational strategy


requirements:
  title: "Some of the skills we're looking for"
  intro: "These are the types of skills that we’d expect an Unboxed business development lead to have (but if there's anything you can't do yet, we will help you learn):"
  content:
    - An instinct and passion for the role, with 2-5 years of relevant experience
    - A strong belief in the principles of user-centred design and agile delivery
    - The ability to quickly establish rapport and credibility with senior people
    - A people-centred approach, maintaining relationships through engagement, connection and trust
    - Exceptional communication skills based on openness and transparency
    - Effective decision making, both independently and with others
    - A willingness to learn by doing and adapt to new challenges
    - Self-management and organisation through establishing effective processes

other_requirements:
  title: "Nice-to-have"
  content:
    - Mentoring skills to support and grow with others
    - A well-established network of contacts in relevant positions
    - Public sector experience, especially with the Government Digital Service standard
    - Thought leadership in the broader community

  image: "/jobs/images/user-stories.jpg"
  image_description: "Creating user stories"

benefits:
  title: "Benefits of working with us"
  content:
    - 25 holiday days per year, on top of the bank holiday allowance
    - '10 "Innovation Days" per year to explore your own ideas'
    - Holiday flexibility and loyalty bonus benefits
    - Maternity and Shared Parental Leave policies
    - A company-wide peer-to-peer mentoring programme
    - A generous conference budget
    - Salary reviews twice a year
    - Flexible working hours and location
    - An informal culture of growth
    - Monthly "Linkers and Thinkers" idea-exploring lunches
    - Weekly reflection at "Whines & Cheers", our Friday company retrospective
    - A 'Bike To Work' scheme

developer_quote:
  quote: "I feel very lucky to be part of Unboxed where you are welcomed to be yourself, you're encouraged to grow and there are plenty of challenges to help you become your very best. You're given great freedom and you've got creative and passionate co-workers that are always keen to get involved in the community, tinker with new ideas and find solutions to complex problems."
  source: "Elena Tanasoiu, Ruby on Rails Developer"
  image: "/assets/images/team/elena-tanasoiu.png"

related:
  title: "Related"
  articles:
    - title: "Unboxed Hackathon #2 - All in an innovation day’s work"
      type: "blog"
      link: "/blog/unboxed-hackathon-2-all-in-an-innovation-day-s-work"

    - title: "RubyConf Portugal 2016"
      type: "blog"
      link: "/blog/rubyconf-portugal-2016"

    - title: "Faster than Lightning: November's Developer Event"
      type: "blog"
      link: "/blog/faster-than-lightning-november-s-developer-event"
---

<%= partial 'jobs/job_header' %>

<div class="container" data-header-waypoint>
  <section class="component--full-page">
    <div class="text-tile--full-width">
      <h2 class="text-tile__title">
        <%= current_page.data.introduction.title %>
      </h2>

      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_1 %>
      </p>
      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_2 %>
      </p>
      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_3 %>
      </p>

      <ul class="text-tile__list">
        <% current_page.data.introduction.activities.each do |requirement| %>
            <li class="text-tile__list-item">
              <%= requirement %>
            </li>
        <% end %>
      </ul>

      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_4 %>
      </p>

      <ul class="text-tile__list">
        <% current_page.data.introduction.activities_2.each do |requirement| %>
            <li class="text-tile__list-item">
              <%= requirement %>
            </li>
        <% end %>
      </ul>

      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_5 %>
      </p>

    </div>
  </section>

  <%= partial 'shared/full_image', locals: current_page.data.developers_image %>

  <%= partial 'shared/full_width_text_tile', locals: current_page.data.description %>

  <%= partial 'shared/full_width_text_tile', locals: current_page.data.requirements %>

  <%= partial 'shared/text_tile', locals: current_page.data.other_requirements %>

  <%= partial 'shared/full_width_text_tile', locals: current_page.data.benefits %>

  <%= partial 'shared/quote_caricature', locals: current_page.data.developer_quote %>

  <%= partial 'jobs/contact_us' %>

  <%= partial 'shared/related_tiles' %>
</div>
