---
title: "Join Us - Service Designer - Join our team as a designer"

header:
  title: "Join us"
  subtitle: "Service Designer"

introduction:
  title: "At Unboxed, design is a team sport"
  text_1: "We are a digital service design and development agency with 13 years of experience and an impressive reputation for creating great digital services in both the public and private sectors."
  text_2: "Our delivery approach is strongly based on Agile principles. We work in multidisciplinary teams, collaborating all the way from initial user research and customer engagement through to building fully functioning digital services. We believe in openness, transparency and honest communication, encouraging collaboration and learning from each other. We work closely with our customers, including them as part of our project teams. We create the conditions for our teams to flourish and create better digital services."
  text_3: "Our teams work from our London office or our customer’s locations."
  about_role_title: "About the role"
  text_4: "We are looking for a talented and confident Service Designer to join us and grow our team. Some of the key activities within this role include:"
  requirements:
    - Analyse complex services and provide insights for design and development
    - Work within multi-disciplinary teams to understand, design, prototype and build cutting-edge propositions
    - Conduct user-centred research to understand user needs and create a rich picture of user behaviour
    - Facilitate co-design workshops and design sprints to generate service concepts
    - Create, test and rapidly iterate service prototypes
    - Arrange service concepts into rational user journeys, creating a seamless experience for service users
    - Communicate findings to help the team develop a deep understanding of users and their needs – including presentations at show and tells, designing and maintaining research outputs on the team wall, creating formal reports
    - Provide support and direction to less experienced team members
    - Take an active interest in the service design discipline and regularly share the subject with the broader team and community

design_image_1:
  image: "/jobs/images/designer-1.jpg"
  image_description: "Designer at work"

description:
  title: "Key competencies and skills"
  content:
    - Experience in service design and/or user experience design, with a good understanding of qualitative user research methods and approaches
    - Ability to participate in a range of activities from client engagement workshops to ethnographic research, prototyping and testing
    - Ability to think strategically to address issues of high uncertainty and complexity
    - Ability to sketch and create prototypes on paper and/or using digital tools
    - Ability to communicate the process with stakeholders and other interested parties
    - Being a passionate advocate for Design Thinking, Lean and Agile principles
    - Enthusiasm to get out and learn from users, customers and stakeholders
    - Willingness to work collaboratively with a cross-functional team

other_requirements:
  title: "Highly desirable"
  content:
    - Experience and desire to work on complex projects, involving research, design and facilitation across multiple service areas
    - Experience with all stages of Agile development, including sprint planning and daily Scrum meetings
    - Experience with projects that follow the GDS Service Standard
    - Potential to champion the value of design within Unboxed
    - Presence within the broader service design community
    - Knowledge of technical aspects of developing digital services
  image: "/jobs/images/designers-session.jpg"
  image_description: "Designers meeting"

benefits:
  title: "Benefits of working with us"
  content:
    - 25 holiday days per year, on top of the bank holiday allowance
    - 10 Innovation Days per year
    - Holiday flexibility and loyalty bonus benefits
    - A workplace pension and life assurance policy
    - Maternity and Shared Parental Leave policies
    - A generous conference budget
    - A company-wide peer-to-peer mentoring programme
    - Salary reviews twice a year
    - An informal, startup culture of growth and flexible working hours
    - A “Bike To Work” scheme
    - Monthly "Linkers and Thinkers" idea-exploring lunches
    - Weekly reflection at "Whines & Cheers", our Friday company retrospective

process:
  title: "What next?"
  text_1: "Send us your CV and, if we think you will make a good team member, we will arrange to meet with you. Here, we are trying to understand what motivates you and get some initial thoughts on how you might fit within our team."
  text_2: "If we think you will compliment our team, we will invite you into our office to collaborate on a short whiteboard exercise. This gives us the opportunity to see how you uncover constraints to inform design decisions."
  image: "/jobs/images/designer-3.jpg"
  image_description: "Designer presenting personas"

design_quote:
  quote: "For me, design is as much about attitude as it is about experience or specific expertise. Great looking visuals and considered user journeys are important but I most enjoy working with designers who are open in their thinking and encourage the team to collectively tackle and solve important problems."
  source: "Martyn Evans, Head of Product"
  image: "/assets/images/people/martyn-evans.png"

related:
  title: "Related"
  articles:
    - title: "The five day design sprint with Guy’s & St. Thomas’ NHS Foundation Trust Paediatric Allergy Team"
      type: "blog"
      link: "/blog/the-five-day-design-sprint-with-guy-s-st-thomas-nhs-foundation-trust-pediatric-allergy-team"

    - title: "Welcome to the team: Boris Divjak"
      type: "blog"
      link: "/blog/welcome-to-the-team-boris-divjak"

    - title: "Shaking up early product development, part 1: Using journey mapping to improve your user journey"
      type: "blog"
      link: "/blog/shaking-up-early-product-development-part-1-using-journey-mapping-to-improve-your-user-journey"
---

<%= partial 'jobs/job_header' %>

<div class="container" data-header-waypoint>
  <section class="component">
    <div class="text-tile--full-width">
      <h2 class="text-tile__title">
        <%= current_page.data.introduction.title %>
      </h2>

      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_1 %>
      </p>
      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_2 %>
      </p>
      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_3 %>
      </p>

    </div>
    <div class="text-tile--full-width">
      <h2 class="text-tile__title">
        <%= current_page.data.introduction.about_role_title %>
      </h2>
      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_4 %>
      </p>

      <ul class="text-tile__list">
        <% current_page.data.introduction.requirements.each do |requirement| %>
            <li class="text-tile__list-item">
              <%= requirement %>
            </li>
        <% end %>
      </ul>
    </div>
  </section>

  <%= partial 'shared/full_image', locals: current_page.data.design_image_1 %>

  <%= partial 'shared/full_width_text_tile', locals: current_page.data.description %>

  <%= partial 'shared/text_tile', locals: current_page.data.other_requirements %>

  <%= partial 'shared/full_width_text_tile', locals: current_page.data.benefits %>

  <%= partial 'jobs/process', locals: { section: current_page.data.process } %>

  <%= partial 'shared/quote_caricature', locals: current_page.data.design_quote %>

  <%= partial 'jobs/contact_us' %>

  <%= partial 'shared/related_tiles' %>
</div>
