---
title: "Join Us - Designer - Join our team as a designer"

header:
  title: "join us"
  subtitle: "strategic designer"

introduction:
  title: "At Unboxed, design is a team sport"
  text_1: "We have a brilliant team of agile folk with an impressive reputation for creating great digital services in both the public and private sector."
  text_2: "We are looking for a talented and confident strategic designer to join us."

design_image:
  image: "/jobs/images/designer.jpg"
  image_description: "Designer at work"

description:
  title: "We need someone who"
  content:
    - Has a breadth of experience several different design disciplines
    - Is a strategic thinker, comfortable with uncertainty and complexity
    - Takes a highly collaborative approach, facilitating design within teams
    - Is a passionate advocate for Design Thinking and Lean and Agile principles
    - Loves to get out and learn from users, customers and stakeholders

design_quote:
  quote: "For me, design is as much about attitude as it is about experience or specific expertise. Great looking visuals and considered user journeys are important but I most enjoy working with designers who are open in their thinking and encourage the team to collectively tackle and solve important problems."
  source: "Martyn Evans, Head of Product"
  image: "/assets/images/people/martyn-evans.png"

contact_us:
  title: "Send us your CV"
  text_1: "Claire is our “people gardener” and she would love to hear from you."
  text_2: "We like to do the most valuable things first - employing you could be exactly that."
  text_3: "Send your CV through to Claire at: "
  email: "iwantajob@unboxed.co"
  text_4: "From there, she'll be in touch. Good luck!"
  image: "/jobs/images/ubxd-gardener-2.jpg"
  image_description: "Our gardener"

related:
  title: "Related"
  articles:
    - title: "The five day design sprint with Guy’s & St. Thomas’ NHS Foundation Trust Paediatric Allergy Team"
      type: "blog"
      link: "/blog/the-five-day-design-sprint-with-guy-s-st-thomas-nhs-foundation-trust-pediatric-allergy-team"

    - title: "Welcome to the team: Boris Divjak"
      type: "blog"
      link: "/blog/welcome-to-the-team-boris-divjak"

    - title: "Shaking up early product development, part 1: Using journey mapping to improve your user journey"
      type: "blog"
      link: "/blog/shaking-up-early-product-development-part-1-using-journey-mapping-to-improve-your-user-journey"
---

<%= partial 'jobs/page_header' %>

<div class="container" data-header-waypoint>
  <section class="component">
    <div class="text-tile--full-width">
      <h2 class="text-tile__title">
        <%= current_page.data.introduction.title %>
      </h2>

      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_1 %>
      </p>
      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_2 %>
      </p>
    </div>
  </section>

  <%= partial 'jobs/full_image', locals: { section: current_page.data.design_image } %>

  <%= partial 'jobs/full_width_text_tile', locals: { section: current_page.data.description } %>

  <%= partial 'jobs/quote_image', locals: { section: current_page.data.design_quote } %>

  <%= partial 'jobs/contact_us' %>

  <%= partial 'jobs/related_tiles' %>
</div>
