---
title: "Join Us - Developer - Join our team as a developer"

header:
  title: "join us"
  subtitle: "ruby on rails developer"

introduction:
  title: "Are you a Ruby on Rails developer?"
  text_1: "We are looking for Ruby on Rails developers to join our London office."
  text_2: "Recognised as being key members in the community, our developers are responsible for building scalable, sustainable systems from project inception right through to production."
  text_3: "We need people who can:"
  requirements:
    - Develop and maintain complex Ruby on Rails applications through agile ways of working
    - Make informed decisions quickly drawing from experience across a wide technical stack
    - Involve your team in discussions on progress of stories
    - Turn designs and wireframes into functional applications

developers_image:
  image: "/jobs/images/developers-1.jpg"
  image_description: "Developers presenting code"

description:
  title: "Key competencies and skills"
  content:
    - Solid experience in Ruby and Ruby on Rails
    - Experience of version control (ideally Git)
    - TDD/BDD experience
    - SQL (preferably MySQL or PostgreSQL)
    - Architect, develop and maintain complex Ruby and Rails applications
    - Ability to work with other developers and QA testers to plan and ship projects
    - Able to identify areas of risk and complexity during the planning process
    - Communicate continually with team on progress of stories
    - Can turn wireframes and designs into functional applications
    - Write and maintain integration and unit test suites

other_requirements:
  title: "Highly desirable"
  content:
    - HTML and CSS experience
    - Experience working in an agile environment
    - Open source contributions
    - Experience setting up and maintaining UNIX systems
    - JavaScript
    - A keen eye for detail
    - Understanding of continuous integration and delivery
  image: "/jobs/images/developers-2.jpg"
  image_description: "Developer at work"

benefits:
  title: "Benefits of working with us"
  content:
    - 25 holiday days per year, on top of the bank holiday allowance
    - Holiday flexibility and loyalty bonus benefits
    - An informal, startup culture of growth and flexible working hours
    - 10 Innovation Days per year
    - A generous conference budget to attend the conferences of your choice
    - A peer-to-peer mentoring programme
    - Life assurance policy at 4x salary
    - A workplace pension with Standard Life
    - A 'Bike To Work' scheme

developers_meeting_image:
  image: "/jobs/images/developers-3.jpg"
  image_description: "Developers meetup"

other_benefits:
  title: "Other benefits include"
  content:
    - Weekly reflection and drinks at our Whines & Cheers session (our Friday evening company retrospective)
    - Bi-annual reviews
    - The potential for equity in an Unboxed 'spin-off' product
    - Monthly 'Linkers & Thinkers' lunches
    - Your own caricature

process:
  title: "What next?"
  text_1: "Send us your CV and, if we think you will make a good team member, we will get you to complete a short coding exercise. This gives you the an opportunity to showcase your approach to solving problems and for us to see your code on a clean build project."
  text_2: "If we like what we see we will invite you in for a pairing session with one of our developers where we will talk over the choices you have made in your solution and get to know you a little better."
  image: "/jobs/images/developers-4.jpg"
  image_description: "Developers working together"

developer_quote:
  quote: "My goal is to become the best developer I can be and, for me, this ultimately means being part of a productive and stimulating community that cares about adopting best practices and sharing knowledge. That’s why I joined the Unboxed team. I believe these concepts are at the core of our success in producing high quality web applications."
  source: "Neil van Beinum, Ruby on Rails Developer"
  image: "/assets/images/people/neil-van-beinum.png"

related:
  title: "Related"
  articles:
    - title: "Unboxed Hackathon #2 - All in an innovation day’s work"
      type: "blog"
      link: "/blog/unboxed-hackathon-2-all-in-an-innovation-day-s-work"

    - title: "RubyConf Portugal 2016"
      type: "blog"
      link: "/blog/rubyconf-portugal-2016"

    - title: "Faster than Lightning: November's Developer Event"
      type: "blog"
      link: "/blog/faster-than-lightning-november-s-developer-event"
---

<%= partial 'jobs/page_header' %>

<div class="container" data-header-waypoint>
  <section class="component">
    <div class="text-tile--full-width">
      <h2 class="text-tile__title">
        <%= current_page.data.introduction.title %>
      </h2>

      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_1 %>
      </p>
      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_2 %>
      </p>
      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_3 %>
      </p>

      <ul class="text-tile__list">
        <% current_page.data.introduction.requirements.each do |requirement| %>
            <li class="text-tile__list-item">
              <%= requirement %>
            </li>
        <% end %>
      </ul>
    </div>
  </section>

  <%= partial 'jobs/full_image', locals: { section: current_page.data.developers_image } %>

  <%= partial 'jobs/full_width_text_tile', locals: { section: current_page.data.description } %>

  <%= partial 'jobs/text_tile', locals: { section: current_page.data.other_requirements } %>

  <%= partial 'jobs/full_width_text_tile', locals: { section: current_page.data.benefits } %>

  <%= partial 'jobs/full_image', locals: { section: current_page.data.developers_meeting_image } %>

  <%= partial 'jobs/full_width_text_tile', locals: { section: current_page.data.other_benefits } %>

  <%= partial 'jobs/process', locals: { section: current_page.data.process } %>

  <%= partial 'jobs/quote_caricature', locals: { section: current_page.data.developer_quote } %>

  <%= partial 'jobs/contact_us' %>

  <%= partial 'jobs/related_tiles' %>
</div>
