---
title: "Join Us - Developer - Join our team as a developer"

header:
  title: "Join us"
  subtitle: "Ruby on Rails Developer"

introduction:
  title: "Are you a Ruby on Rails Developer?"
  text_1: "We are on the lookout for Ruby on Rails Developers to join us in London. As a core part of our team, our developers are responsible for building scalable, sustainable systems from project inception right through to production."
  text_2: "With the aim of broadening the diversity across our company, we are actively committed to building a more inclusive team."
  text_3: "Some of the key activities within this role include:"
  requirements:
    - Developing and maintaining Ruby on Rails applications through agile ways of working
    - Make informed decisions quickly drawing from experience across a wide technical stack
    - Turning designs and wireframes into functional applications
    - Involve your team in discussions on progress of stories
    - Identifying areas of risk and complexity during each project
    - Collaborating with designers, user researchers, subject matter experts and other project stakeholders

developers_image:
  image: "/jobs/images/developers-1.jpg"
  image_description: "Developers presenting code"

description:
  title: "Some of the skills we're looking for"
  intro: "These are the types of skills that we expect our developers to have (but if there's anything you can't do yet, we will help you learn):"
  content:
    - Ruby and Ruby on Rails experience
    - Experience of version control (ideally Git)
    - TDD/BDD experience
    - SQL (preferably MySQL or PostgreSQL)
    - Ability to work in multidisciplinary teams to plan and ship projects
    - Ability to identify areas of risk and complexity during the planning process
    - Continual communication with your team on progress of stories
    - Can turn wireframes and designs into functional applications
    - Writing and maintaining integration and unit test suites

other_requirements:
  title: "Nice to have"
  content:
    - HTML and CSS experience
    - Experience working in an agile environment
    - Experience setting up and maintaining UNIX systems
    - JavaScript
    - Understanding of continuous integration and delivery
  image: "/jobs/images/developers-2.jpg"
  image_description: "Developer at work"

benefits:
  title: "Benefits of working with us"
  content:
    - 25 holiday days per year, on top of the bank holiday allowance
    - '10 "Innovation Days" per year to explore your own ideas'
    - Holiday flexibility and loyalty bonus benefits
    - Maternity and Shared Parental Leave policies
    - A company-wide peer-to-peer mentoring programme
    - A generous conference budget
    - Salary reviews twice a year
    - Flexible working hours and location
    - An informal culture of growth
    - Monthly "Linkers and Thinkers" idea-exploring lunches
    - Weekly reflection at "Whines & Cheers", our Friday company retrospective
    - A 'Bike To Work' scheme


process:
  title: "What next?"
  text_1: "Send us your CV and, if we think you will make a good team member, we will get you to complete a short coding exercise. This gives you the an opportunity to showcase your approach to solving problems and for us to see your code on a clean build project."
  text_2: "Following this is a face-to-face pairing session with one of our developers, where we will talk over the choices you have made in your solution and get to know you a little better. You will then get to meet with one of our directors."
  image: "/jobs/images/developers-4.jpg"
  image_description: "Developers working together"

developer_quote:
  quote: "I feel very lucky to be part of Unboxed where you are welcomed to be yourself, you're encouraged to grow and there are plenty of challenges to help you become your very best. You're given great freedom and you've got creative and passionate co-workers that are always keen to get involved in the community, tinker with new ideas and find solutions to complex problems."
  source: "Elena Tanasoiu, Ruby on Rails Developer"
  image: "/assets/images/people/elena-tanasoiu.png"

related:
  title: "Related"
  articles:
    - title: "Unboxed Hackathon #2 - All in an innovation day’s work"
      type: "blog"
      link: "/blog/unboxed-hackathon-2-all-in-an-innovation-day-s-work"

    - title: "RubyConf Portugal 2016"
      type: "blog"
      link: "/blog/rubyconf-portugal-2016"

    - title: "Faster than Lightning: November's Developer Event"
      type: "blog"
      link: "/blog/faster-than-lightning-november-s-developer-event"
---

<%= partial 'jobs/page_header' %>

<div class="container" data-header-waypoint>
  <section class="component">
    <div class="text-tile--full-width">
      <h2 class="text-tile__title">
        <%= current_page.data.introduction.title %>
      </h2>

      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_1 %>
      </p>
      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_2 %>
      </p>
      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_3 %>
      </p>

      <ul class="text-tile__list">
        <% current_page.data.introduction.requirements.each do |requirement| %>
            <li class="text-tile__list-item">
              <%= requirement %>
            </li>
        <% end %>
      </ul>
    </div>
  </section>

  <%= partial 'jobs/full_image', locals: { section: current_page.data.developers_image } %>

  <%= partial 'jobs/full_width_text_tile', locals: { section: current_page.data.description } %>

  <%= partial 'jobs/text_tile', locals: { section: current_page.data.other_requirements } %>

  <%= partial 'jobs/full_width_text_tile', locals: { section: current_page.data.benefits } %>

  <%= partial 'jobs/process', locals: { section: current_page.data.process } %>

  <%= partial 'jobs/quote_caricature', locals: { section: current_page.data.developer_quote } %>

  <%= partial 'jobs/contact_us' %>

  <%= partial 'jobs/related_tiles' %>
</div>
