---
header:
  introduction: "Build your digital product"
  image: "/assets/images/services/build-your-digital-product/service-build.jpg"
  image_description: "Header image"

introduction:
  content:
    - "When you have a validated digital idea, we help you to turn this into something tangible for your customers. Collaborate with one of our teams of designers, developers and strategic experts to transform your early concept into a market-ready digital product and service."
    - "Our aim is to unlock the earliest potential through a minimum viable product (MVP) of your digital solution – a basic, yet fully functional end-to-end digital experience. We aim to get this working software into the hands of your customers within a matter of weeks, quickly delivering value and providing validation of your overall business model."

activities:
  title: "What does this look like?"
  content:
    - heading: "Agile delivery"
      image: "https://via.placeholder.com/880x475"
      description: "Delivering continuously through agile “sprints”, including daily “stand-up”, planning and weekly “Show & Tell” sessions."
    - heading: "Integrated team"
      image: "https://via.placeholder.com/880x475"
      description: "Embedding our design, development and business experts into your team, integrating co-locating for efficient collaboration."
    - heading: "User experience design"
      image: "https://via.placeholder.com/880x475"
      description: "Designing with your users at the very core to deliver seamless, end-to-end experiences."
    - heading: "Outcome-driven development"
      image: "https://via.placeholder.com/880x475"
      description: "Achieving the most valuable outcomes for your users through quality-assured development."
    - heading: "Monitoring and analysis"
      image: "https://via.placeholder.com/880x475"
      description: "Monitoring and analysis of key metrics, ensuring increasing business performance and results."
    - heading: "Minimum viable product"
      image: "https://via.placeholder.com/880x475"
      description: "Your validated end-to-end digital product or service, providing early value to your customers."

product_stories:
  title: "Related Product Stories"
  content:
    - name: "channel-5"
      description: "Redevelopment of Channel5.com attracts more users, driving revenue"
      image: "/assets/images/product-stories/channel-5.jpg"
      link: "/product-stories/channel-5/"

    - name: "Petitions"
      description: "Public sector collaboration with GDS to relaunch Petitions platform for UK citizens"
      image: "/assets/images/product-stories/petitions.jpg"
      link: "/product-stories/petitions"

    - name: "Plymouth University"
      description: "Unboxed leads Agile rebuild of Plymouth University website"
      image: "/assets/images/product-stories/plymouth-university.jpg"
      link: "/product-stories/plymouth-university"


---

<%= partial 'product-stories/page_header' %>

<div class="container" data-header-waypoint>
  <%= image_tag current_page.data.header.image, alt: current_page.data.header.image_description, class: "full-image", srcset: retina_srcset(current_page.data.header.image) %>

  <%= partial 'service-pages/full_width_text_tile_prose', locals: { section: current_page.data.introduction } %>

  <section class="activities">
    <h3 class="activities__title">
        <%= current_page.data.activities.title %>
    </h3>
    <div class="activities__grid">
      <% current_page.data.activities.content.each do |activity| %>
        <div class="activities__activity">
          <h3 class="activity__title">
            <%= activity.heading %>
          </h3>
          <%= image_tag activity.image, alt: activity.heading, class: "service__image", srcset: retina_srcset(activity.image) %>
          <p class="service__paragraph">
            <%= activity.description %>
          </p>
        </div>
      <% end %>
    </div>
  </section>

  <%= partial 'showcase_tiles_section' , locals: { section: current_page.data.product_stories} %>
</div>
