---
title: "Product Story - Southwark CCG: Design sprint"
description: "Improving general practice access with Southwark CCG: Design sprint"
meta_keywords: "Ruby on Rails, Ruby on Rails developer, Ruby on Rails developers, Ruby on Rails development, Ruby on Rails developer London"
image: "/assets/images/product-stories/southwark-ccg.jpg"

header:
  client: "Southwark CCG"
  introduction: "Improving general practice access with Southwark CCG: Design sprint"
  image: "/product-stories/southwark-ccg/team-at-board-header.jpg"
  image_description: "Team at project board"

introduction:
  title: "A five-day design sprint to explore a General Practice Access Tool"
  content:
    - "Beginning to explore how general practice access can be improved for 322,000+ patients across 38 Southwark practices"
    - "Assessing how to better use raw appointment data to make informed decisions"
    - "A functioning prototype data dashboard in the hands of Practice Managers by end of day five"
  image: "/product-stories/southwark-ccg/team-presentation.jpg"
  image_description: "Team presentation"

highlight_1:
  title: "Southwark CCG in numbers"
  project: "southwark-ccg"
  statistics:
    - number: "322,000+"
      text: "Registered patients across Southwark"
    - number: "38"
      text: "Practices to benefit from improved access"

improving_care:
  title: "Improving care access for 322,000+ patients"
  content: "NHS Southwark Clinical Commissioning Group (CCG) is working with GP practices across Southwark to focus on improving access for local patients, ensuring the best use of general practice workforce and resources. With no current definitive systematic approach to measuring capacity and patient needs within primary care, Southwark CCG identified an opportunity for exploring a modelling tool to support the borough's 38 practices, beginning with a five-day design sprint."
  image: "/product-stories/southwark-ccg/design-sprint-board.jpg"
  image_description: "Team at project board"

quote_1:
  quote: "With a growing demand on primary care resources across the borough, Southwark CCG is taking a proactive to identifying the opportunities in how to make the best use of resources, supporting both patients and general practices."
  source: "Dawn Turner, User Researcher — Unboxed"

better_resources:
  title: "Making better use of resources to equitably meet patient needs"
  content: "Focusing on one specific audience of patient access, the sprint goal for the week was set: 'A digital tool to help practice managers make informed decisions about using resources more efficiently to improve access for patients'. Initial focus on subject expert interviews, user journeys and pain point mapping began identifying early opportunities across data visualisation and communication to take forward."
  image: "/product-stories/southwark-ccg/boris-at-sketches.jpg"
  image_description: "Boris at sketches"

quote_2:
  quote: "Some of the biggest opportunities that we've been able to uncover are addressing how data can be used to present actionable insights for practice managers and how practices can then use this data, alongside wider system data, to enable more informed decisions around primary care access."
  source: "Martyn Evans, Head of Product — Unboxed"

key_experts:
  title: "Involving key experts through co-locating"
  content: "Co-locating directly in Southwark provided quick and easy access to subject matter experts for user interviews, including Healthwatch, the GP Federation and the Local Medical Committee. Ideation sketching sessions teamed with ongoing expert user interviewing allowed for emerging ideas and concepts to be quickly validated, heading into the prototype storyboarding and concept build phase."
  image: "/product-stories/southwark-ccg/martyn-with-team.jpg"
  image_description: "Martyn with team"

highlight_2:
  project: "southwark-ccg"
  title: "Southwark CCG in numbers"
  statistics:
  - number: "5"
    text: "Day design sprint"
  - number: "7"
    text: "Prototype user testing sessions"

prototype:
  title: "A prototype General Practice Access Tool"
  content: "User testing during the final sprint day provided the team with feedback of a prototype practice manager data visualisation dashboard, sharing 'up-to-date' information about how access is used at both practice and locality levels. Next steps include further exploration into systems and data, along with ongoing user testing and iteration. Southwark CCG is now introducing user-led approaches to improving access for 322,000+ residents."
  image: "/product-stories/southwark-ccg/dawn-at-user-interview.jpg"
  image_description: "Dawn at a user interview"

quote_3:
  quote: "Through this design sprint, the Unboxed team has helped us to identify and quickly explore some of the core opportunities of our General Practice Access Tool, resulting in a number of recommendations, including a practice manager dashboard. We've taken our first steps into taking a more patient-centered approach to our goal of improving patient access to primary care across Southwark."
  source: "Dr Emily Gibbs, Clinical Lead — Southwark CCG"

team:
  title: "Unboxed team"
  people:
    - full_name: "Dawn Turner"
      image: "/product-stories/southwark-ccg/team/dawn-turner.png"
      link: "/people#dawn-turner"

    - full_name: "Martyn Evans"
      image: "/product-stories/southwark-ccg/team/martyn-evans.png"
      link: "/people#martyn-evans"

    - full_name: "James Cook"
      image: "/product-stories/southwark-ccg/team/james-cook.png"

    - full_name: "Boris Divjak"
      image: "/product-stories/southwark-ccg/team/boris-divjak.png"
      link: "/people#boris-divjak"

site:
  link: "http://www.southwarkccg.nhs.uk/Pages/Home.aspx"
  text: "Visit the Southwark CCG site"

links:
  - title: "Unboxed awarded two Public Health England contracts"
    source: "Unboxed"
    type: "news"
    link: "https://unboxed.co/news/unboxed-awarded-two-public-health-england-contracts/"

  - title: "Unboxed and Guy's and St. Thomas' NHS Foundation Trust presenting at Service Design in Government 2018"
    source: "Unboxed"
    type: "news"
    link: "https://unboxed.co/news/unboxed-and-guy-s-and-st-thomas-nhs-foundation-trust-presenting-at-service-design-in-government-2018/"

related:
  title: "Related"
  articles:
    - title: "The five day design sprint with Guy's &amp; St. Thomas' NHS Foundation Trust Paediatric Allergy Team"
      type: "blog"
      link: "https://unboxed.co/blog/the-five-day-design-sprint-with-guy-s-st-thomas-nhs-foundation-trust-pediatric-allergy-team/"

    - title: "Transformation of NHS face-to-face sexual health clinic to digital service in 8 weeks"
      type: "product story"
      link: "https://unboxed.co/product-stories/sh24/"

    - title: "Introducing a patient-led innovation programme into the NHS with Guy's and St. Thomas' NHS Foundation Trust"
      type: "product story"
      link: "http://www.unboxed.co/product-story/guys-and-st-thomas-nhs-foundation-trust"

---

<%= partial 'shared/page_header', locals: current_page.data.header %>

<div class="container" data-header-waypoint>
  <%= partial 'shared/full_image', locals: current_page.data.header %>

  <%= partial 'shared/text_tile', locals: current_page.data.introduction %>

  <%= partial 'shared/highlight', locals: current_page.data.highlight_1 %>

  <%= partial 'shared/text_tile', locals: current_page.data.improving_care %>

  <%= partial 'shared/quote', locals: current_page.data.quote_1 %>

  <%= partial 'shared/text_tile', locals: current_page.data.better_resources %>

  <%= partial 'shared/quote', locals: current_page.data.quote_2 %>

  <%= partial 'shared/text_tile', locals: current_page.data.key_experts %>

  <%= partial 'shared/highlight', locals: current_page.data.highlight_2 %>

  <%= partial 'shared/text_tile', locals: current_page.data.prototype %>

  <%= partial 'shared/quote', locals: current_page.data.quote_3 %>

  <%= partial 'shared/project_team' %>

  <%= partial 'shared/link_tiles' %>

  <%= partial 'shared/related_tiles' %>
</div>
