<section class="project-team">
  <h2 class="project-team__title">
    <%= current_page.data.team.title %>
  </h2>

  <% team_size = current_page.data.team.people.size %>
  <% link_class = "project-team__container--#{team_size}" %>
  <% link_class << " project-team__headshot-container" if team_size > 1 %>

  <% current_page.data.team.people.each do |person| %>
    <% if person.link %>
      <a class="<%= link_class %>" href="<%= person.link %>">
        <img class="project-team__headshot" src="<%= person.image %>" alt="<%= person.full_name %>" title="<%= person.full_name %>">
      </a>
    <% else %>
      <div class="<%= link_class %>">
        <img class="project-team__headshot" src="<%= person.image %>" alt="<%= person.full_name %>" title="<%= person.full_name %>">
      </div>
    <% end %>
  <% end %>
</section>
