---
title: "Product Story - Buckinghamshire County Council"

header:
  client: "Buckinghamshire County Council"
  introduction: "Digitalising key local government services with Buckinghamshire County Council: The Beta phase"
  image: "/product-stories/bucks-cc-beta/header.jpg"
  image_description: "Buckinghamshire County Council Beta Phase"

introduction:
  title: "Annual saving of £350,000 as a result of two improved digital services"
  content:
    - "12-week phase to take two services through Beta: Find my Child a School Place and Maintain my Street"
    - "First steps in improved digital services for 522,000 local residents"
    - "Savings achieved from reduction in support demand through customer service centres"
  image: "/product-stories/bucks-cc-beta/demo.jpg"
  image_description: "Demo on laptop, tablet and mobile"

highlight_1:
  title: "Buckinghamshire County Council in numbers"
  project: "bucks-cc-beta"
  statistics:
  - number: "£100,000"
    text: "Total estimated annual savings in school admissions service"
  - number: "£250,000"
    text: "Total estimated annual savings in street maintenance reporting service"

beta_step:
  title: "The next step in the journey: Beta for Buckinghamshire"
  content: "Buckinghamshire County Council are on a journey to digital transformation, with a cost-saving target of £1.8m by 2017/18. Following our 8-week Alpha phase to identify the biggest technical risks around building two key exemplar digital services, the team embarked on the Beta technical phase to build and scale these services for the 522,000 local residents of Buckinghamshire."
  image: "/product-stories/bucks-cc-beta/postit.jpg"
  image_description: "The team looking at post-it notes"

quote_1:
  quote: "The outcomes from the Alpha phase helped provide clarity over what we were facing in this Beta phase. Knowing the technical challenges ahead helped provide a strong vision of how we were going to successfully deliver both these digital services for our residents over the next 12 weeks."
  source: "Matthew Cain, Head of Digital, Buckinghamshire County Council"

design_and_dev:
  title: "An integrated approach to design and development"
  content: "The team chose an integrated design/development approach from Sprint One. Design was broken down into five elements (research, user experience, user interface, visual and tone of voice), and each user story discussed before moving from ‘to-do’ into ‘doing’. Open discussion ensured a much clearer understanding of how to bring design and development together to address the impact of UX (user experience) and UI (user interface)."
  image: "/product-stories/bucks-cc-beta/meeting.jpg"
  image_description: "A team meeting"

highlight_2:
  title: "Buckinghamshire County Council in numbers"
  project: "bucks-cc-beta"
  statistics:
  - number: "2"
    text: "Digital services built side-by-side"
  - number: "£900,000"
    text: "Estimated cost-saving over next three years"

contact_centre:
  title: "Reducing the volume of contact centre calls"
  content: "Service design was constantly iterated to evaluate how users move successfully through the services, ensuring any barriers encountered were removed and relevant information addressed at the relevant stage. User research was used to map where key information would be placed in each process, with the aim of reducing the volume of query calls to contact centre calls, carrying a cost of £9.02 per call and £78.80 per school application."
  image: "/product-stories/bucks-cc-beta/presentation.jpg"
  image_description: "Sketches"

quote_2:
  quote: "Keeping the overall design of the service at the forefront of our minds throughout Beta was vital in ensuring we always knew what the most valuable thing to focus on was. We constantly addressed the question of: How might someone move through this part of the service? Thus ensuring the bigger stories were always tied together. This was crucial to the service as a whole."
  source: "Leon Odey-Knight, Design Lead, Unboxed"

sys_integrations:
  title: "Overcoming technical system integrations"
  content: "Service integration into current systems was one of the biggest technical challenges encountered by the team during this phase. Faced with complexities of mapping solutions, APIs and integrations of third party black box systems, the team were required to overcome these technical barriers by co-ordinating these new services across different providers and legacy systems, including Capita One School Admissions and Confirm Asset Management systems."
  image: "/product-stories/bucks-cc-beta/planning.jpg"
  image_description: "A planning meeting"

highlight_3:
  title: "Buckinghamshire County Council in numbers"
  project: "bucks-cc-beta"
  statistics:
  - number: "12"
    text: "Weeks for technical build of both services"
  - number: "6"
    text: "Months from inception to working digital services"

launch:
  title: "Two Live services with immediate cost-savings"
  content: "With two digital services launched into the Live phase, both meeting security and performance standards, Buckinghamshire County Council have begun experiencing the cost-saving benefits to their council budgets. ‘Find My Child a School Place’ is set to save the council £100,000 in the next year, with ‘Maintain my Street’ exceeding this, forecasting an annual saving of £250,000."
  image: "/product-stories/bucks-cc-beta/demo2.jpg"
  image_description: "Demo on laptop"

quote_3:
  quote: |
    We have taken two of our key residential services from inception to the Live phase, in just six months. Not only that, we have piloted Buckinghamshire County Council’s digital service standard through a full cycle, and allowed the whole team to experience transformation as a journey rather than an endpoint We now have full confidence, as a council, in delivering our next set of digital services with Unboxed.
  source: "Matthew Cain, Head of Digital, Buckinghamshire County Council"
  image: "/product-stories/bucks-cc-beta/team/matthew-cain-full.png"

team:
  title: "Unboxed team"
  people:
    - full_name: "Martyn Evans"
      image: "/product-stories/bucks-cc-beta/team/martyn-evans.png"
      link: "/team#martyn-evans"

    - full_name: "Leon Odey Knight"
      image: "/product-stories/bucks-cc-beta/team/leon-odey-knight.png"

    - full_name: "Chris Carter"
      image: "/product-stories/bucks-cc-beta/team/chris-carter.png"

    - full_name: "Matt Turrell"
      image: "/product-stories/bucks-cc-beta/team/matt-turrell.png"
      link: "/team#matt-turrell"

    - full_name: "Tom Sabin"
      image: "/product-stories/bucks-cc-beta/team/tom-sabin.png"

site:
  link: "http://www.logovplatform.co.uk"
  text: "Visit the LoGov Platform website"

links:
  - title: "Meet the digital team challenging the status quo at Buckinghamshire County Council"
    source: "diginomica"
    type: "news"
    link: "http://diginomica.com/2016/01/29/meet-the-digital-team-challenging-the-status-quo-at-buckinghamshire-county-council/"

  - title: "Seven ways to kickstart your local digital services platform"
    source: "ITProPortal"
    type: "news"
    link: "http://www.itproportal.com/2016/04/04/seven-ways-kickstart-local-digital-services-platform/"

related:
  title: "Related"
  articles:
    - title: "ShareDigital Conference 2016"
      type: "blog"
      link: "https://unboxed.co/blog/sharedigital-conference-2016/"

    - title: "Shaking up early product development, part 2: The Minimum Viable Product"
      type: "blog"
      link: "https://unboxed.co/blog/shaking-up-early-product-development-part-2-the-minimum-viable-product/"

    - title: "Record-breaking EU 2nd referendum petition hits 3.9 million signatures and rising"
      type: "blog"
      link: "https://unboxed.co/news/record-breaking-eu-2nd-referendum-petition-hits-3-9-million-signatures-and-rising-most-popular-parliament-petition-ever/"

---

<%= partial 'shared/page_header', locals: current_page.data.header %>

<div class="container" data-header-waypoint>
  <%= partial 'shared/full_image', locals: current_page.data.header %>

  <%= partial 'shared/text_tile', locals: current_page.data.introduction %>

  <%= partial 'shared/highlight', locals: current_page.data.highlight_1 %>

  <%= partial 'shared/text_tile', locals: current_page.data.beta_step %>

  <%= partial 'shared/quote', locals: current_page.data.quote_1 %>

  <%= partial 'shared/text_tile', locals: current_page.data.design_and_dev %>

  <%= partial 'shared/highlight', locals: current_page.data.highlight_2 %>

  <%= partial 'shared/text_tile', locals: current_page.data.contact_centre %>

  <%= partial 'shared/quote', locals: current_page.data.quote_2 %>

  <%= partial 'shared/text_tile', locals: current_page.data.sys_integrations %>

  <%= partial 'shared/highlight', locals: current_page.data.highlight_3 %>

  <%= partial 'shared/text_tile', locals: current_page.data.launch %>

  <%= partial 'shared/quote_caricature', locals: current_page.data.quote_3 %>

  <%= partial 'shared/project_team' %>

  <%= partial 'shared/link_tiles' %>

  <%= partial 'shared/related_tiles' %>
</div>
