---
title: "Product Story - Contiki Holidays - 47% increase in bookings for Contiki Tours"
meta_description: "Powerful offshore partnership creates 47% increase in bookings for Contiki Tours"
meta_keywords: "Ruby on Rails, Ruby on Rails developer, Ruby on Rails developers, Ruby on Rails development"

header:
  client: "Contiki Holidays"
  introduction: "Powerful offshore partnership creates 47% increase in bookings for Contiki Tours"
  image: "/product-stories/contiki-holidays/header-image.jpg"
  image_description: "Couple on the beach"

partnership:
  title: "47% more holiday bookings through rebuilding travel platform"
  content:
    - "Offshore team led overhaul, vastly improving UX"
    - "Page sessions up 7%, page views up 28% and conversation rates up by 43%"
    - "Micro-service architecture ready for the future"
  image: "/product-stories/contiki-holidays/yellow-screen.jpg"
  image_description: "Contiki website screenshot"

introduction:
  title: "10-year-old site needed more than a facelift to improve conversions"
  content: "Contiki Tours is a global travel operation, with 150k bookings for 18-35s per year. Contiki needed to revamp online platform to increase visitor-to sale conversion and meet expectations of tech-savvy audience. Something special was needed for the 10-year old site, already tweaked by several other agencies."
  image: "/product-stories/contiki-holidays/team-meeting.jpg"
  image_description: "Team meeting"

highlight_1:
  title: "Contiki in numbers"
  project: "contiki-holidays"
  statistics:
  - number: 78%
    icon: fa-arrow-up
    text: "Increased likelihood of users willing to book online"

highlight_2:
  project: "contiki-holidays"
  statistics:
  - number: "43%"
    text: "Conversion rate increase from previous period"
    icon: fa-arrow-up
  - number: "47%"
    text: "Increase in bookings over previous period"
    icon: fa-arrow-up

agile:
  title: "Agile key in move to iterative customer-led design development"
  content: "Unboxed’s offshore Cape Town team, led Contiki through the Agile-based project – focusing on rapid delivery of customer features over ‘pixel perfect’ designs. The complete project team consisted of four developers, a Scrum Master, Contiki’s design team and the Product Owner and the total project duration was 16 weeks."
  image: "/product-stories/contiki-holidays/design-presentation.jpg"
  image_description: "Presentation of a design"

project_quote:
  quote: "Our ambitious business objectives around performance and revenue were overwhelmingly met. The project came in on time and budget. Can’t ask for more than that!"
  source: "Simon Larkin, Product Owner — Contiki"

collaboration:
  title: "A step change in site performance shifts dated business model"
  content: "The development and design teams worked side-by-side and communicated using ‘The Unboxed Way’ - frequent, high-bandwidth, clear and open channels. Contiki were able to re-prioritise their features on a weekly basis as new requirements emerged. Built in Ruby on Rails, with JavaScript elements and Unboxed’s own micro-service APIs, this is a site created to meet Contiki’s future business goals."
  image: "/product-stories/contiki-holidays/sketch.jpg"
  image_description: "Sketch of a design"

release_quote:
  quote: "We had a straightforward and smooth product release, with minimal fuss or user support issues."
  source: "Simon Larkin, Product Owner — Contiki"

objectives:
  title: "Pre-project objectives met – results dropped straight onto bottom line"
  content: "All project’s objectives have been met or exceeded. Page loading times have decreased by 56%, conversion rates are up 43% and bookings up 47%. The technologies employed are designed to dramatically cut the cost of future improvements."
  image: "/product-stories/contiki-holidays/blue-screen.jpg"
  image_description: "Contiki website screenshot"

team_quote:
  quote: "The 'Unboxed Way' created a fully integrated team and made offshoring development a reality for Contiki."
  source: "Simon Larkin, Product Owner — Contiki"

team:
  title: "Unboxed team"
  people:
    - full_name: "Carlo Kruger"
      image: "/product-stories/contiki-holidays/team/carlo-kruger.png"

    - full_name: "Patrick Vine"
      image: "/product-stories/contiki-holidays/team/patrick-vine.png"

    - full_name: "Richard Archer"
      image: "/product-stories/contiki-holidays/team/richard-archer.png"

    - full_name: "Heidi Geisler"
      image: "/product-stories/contiki-holidays/team/heidi-geisler.png"

    - full_name: "Ben Janecke"
      image: "/product-stories/contiki-holidays/team/ben-janecke.png"

    - full_name: "Gavin van Lelyveld"
      image: "/product-stories/contiki-holidays/team/gavin-van-lelyveld.png"

objectives_outcomes:
  title: "Objectives vs outcomes"
  objectives:
    - "To improve usability and sales 

sion"
    - "Improve our ability to communicate core sales messages to the trade"
    - "Improve the maintainability and future proofing of the site reducing on-going maintenance costs and implement a responsive framework for future mobile requirements"
  objective_smashed:
    - "Speed, ease and efficiency are the order of the day"

site:
  link: "http://contiki.com/"
  text: "Visit the Contiki Holidays site"

links:
  - title: "Contiki offers more of Europe in 2016"
    source: "IOL"
    type: "news"
    link: "http://beta.iol.co.za/travel/world/europe/contiki-offers-more-of-europe-in-2016-1926911"

  - title: "Contiki Launches 2015-2017 USA & Canada Program"
    source: "GlobeNewswire"
    type: "news"
    link: "http://globenewswire.com/news-release/2015/06/26/747928/10139975/en/Contiki-Launches-2015-2017-USA-Canada-Program.html"

related:
  title: "Related"
  articles:
    - title: "Planting the seeds for successful KPI trees"
      type: "blog"
      link: "/blog/planting-the-seeds-for-successful-kpi-trees"

    - title: "Webinar: Offshoring Agile: Make it work in practice"
      type: "webinar"
      link: "/blog/webinar-offshoring-agile-make-it-work-in-practice"

    - title: "Unboxed leads Agile rebuild of Plymouth University website"
      type: "product story"
      link: "/product-stories/plymouth-university"
---

<%= partial 'shared/page_header', locals: current_page.data.header %>

<div class="container" data-header-waypoint>
  <%= partial 'shared/full_image', locals: current_page.data.header %>

  <%= partial 'shared/text_tile', locals: current_page.data.partnership %>

  <%= partial 'shared/highlight', locals: current_page.data.highlight_1 %>

  <%= partial 'shared/text_tile', locals: current_page.data.introduction %>

  <%= partial 'shared/quote', locals: current_page.data.project_quote %>

  <%= partial 'shared/text_tile', locals: current_page.data.agile %>

  <%= partial 'shared/highlight', locals: current_page.data.highlight_2 %>

  <%= partial 'shared/text_tile', locals: current_page.data.collaboration %>

  <%= partial 'shared/quote', locals: current_page.data.release_quote %>

  <%= partial 'shared/text_tile', locals: current_page.data.objectives %>

  <%= partial 'shared/quote', locals: current_page.data.team_quote %>

  <%= partial 'shared/project_team' %>

  <section class="highlight--contiki-holidays">
    <h2 class="highlight__title">
      <%= current_page.data.objectives_outcomes.title %>
    </h2>

    <ul class="highlight__list--bulleted">
      <% current_page.data.objectives_outcomes.objectives.each do |objective| %>
        <li class="highlight__list-item">
          <%= objective %>
          <span class="highlight__small-list-item">Objective met</span>
        </li>
      <% end %>
      <ul class="highlight__list--bulleted-one-column">
        <% current_page.data.objectives_outcomes.objective_smashed.each do |objective| %>
          <li class="highlight__list-item">
            <%= objective %>
            <span class="highlight__small-list-item">Objective smashed!</span>
          </li>
        <% end %>
      </ul>
    </ul>
  </section>

  <%= partial 'shared/link_tiles' %>

  <%= partial 'shared/related_tiles' %>
</div>
