---
title: "Product Story - Naturejobs - Recruitment site revitalisation for major scientific publishing group"
meta_description: "Recruitment site revitalisation for major scientific publishing group"
meta_keywords: "Ruby on Rails, Ruby on Rails developer, Ruby on Rails developers, Ruby on Rails development, Ruby on Rails developer London"

header:
  client: "Naturejobs"
  introduction: "Recruitment site revitalisation for major scientific publishing group"
  image: "/product-stories/naturejobs/header.jpg"
  image_description: "Naturejobs"

collaboration:
  title: "Close, early engagement fosters confidence and aligns interests"
  content:
    - "Streamlined website development by gaining stakeholder buy-in"
    - "Constant engagement between Unboxed and Naturejobs throughout process"
    - "Reduced overheads by removing unused legacy features from large website"
  image: "/product-stories/naturejobs/naturejobs-website.jpg"
  image_description: "Naturejobs website screenshot"

waterfall_to_agile_highlight: "The team took a product which had previously been worked on in a waterfall way and applied an Agile approach to it."

technology:
  title: "Upgrading the platform to use latest core technologies"
  content: "Core technologies were dated, with versions of software language and frameworks reaching end of life. This severely limited Naturejobs’ opportunity to utilise the latest framework innovations and increased security risk. We successfully planned and delivered upgrades of Ruby software, Rails framework and further business features."
  image: "/product-stories/naturejobs/team-meeting.jpg"
  image_description: "Naturejobs team meeting"

collaboration_quote:
  quote: "Unboxed Consulting were part of the team we were used to working with, I didn’t feel like we were customers."
  source: "David Bright, Head of Product Management, Naturejobs"

user_journey:
  title: "UX enhanced to benefit user journey"
  content: "With feedback of long and complicated user journeys on the current website, along with a high drop off rate, the user experience from start to finish was investigated and refined. Unnecessary stages in the user journey were removed, greatly reducing the drop-off rate. Every iteration was tested and assessed against real user data, resulting in a smoother and more concise journey."
  image: "/product-stories/naturejobs/ux-sketch.jpg"
  image_description: "UX design sketch"

head_of_product_video:
  youtube_id: "VGu9hWOYIT0"
  image: "/product-stories/naturejobs/video-still.jpg"
  image_description: "Naturejobs Head of Product Management video"

metrics:
  title: "Establishing valuable metrics for success"
  content: "To gauge the site’s success, Naturejobs had previously been measuring page views and similar metrics. Customer feedback and studied site Analytics were reviewed to learn what users wanted and valued. Relevant metrics were then established, such as the number of CV uploads achieved and job searches conducted. From this, Naturejobs were able to remove many redundant and unused features, resulting in a reduction of their maintenance overheads."
  image: "/product-stories/naturejobs/workstation.jpg"
  image_description: ""

mentality_quote:
  quote: "The mentality was: 'We want to build great products together.'"
  source: "David Bright, Naturejobs"

feedback_highlight: "At the end of fortnightly sprints, the team were able to get feedback that built momentum and trust with stakeholders."

team:
  title: "Unboxed team"
  people:
    - full_name: "Pedro Moreira"
      image: "/product-stories/naturejobs/team/pedro-moreira.png"

    - full_name: "Jon Normington"
      image: "/product-stories/naturejobs/team/jon-normington.png"

    - full_name: "Alan Thomas"
      image: "/product-stories/naturejobs/team/alan-thomas.png"

    - full_name: "Tom Sabin"
      image: "/product-stories/naturejobs/team/tom-sabin.png"
      link: "/people#tom-sabin"

    - full_name: "Jolie Lanser"
      image: "/product-stories/naturejobs/team/jolie-lanser.png"

    - full_name: "Steve Lennon"
      image: "/product-stories/naturejobs/team/steve-lennon.png"
      link: "/people#steve-lennon"

site:
  link: "http://www.nature.com/naturejobs/science/"
  text: "Visit the Naturejobs site"

links:
  - title: "Grow your career prospects with Naturejobs Expo 2015"
    source: "Imperial College London"
    type: "news"
    link: "http://www3.imperial.ac.uk/newsandeventspggrp/imperialcollege/administration/careers/news/news_2-7-2015-15-10-7"

  - title: "Naturejobs Career Expo - London 2013"
    source: "Naturejobs"
    type: "news"
    link: "http://www.nature.com/natureconferences/njce2013/index.html"

related:
  title: "Related"
  articles:
    - title: "Powerful offshore partnership creates 47% increase in bookings for Contiki Tours"
      type: "product story"
      link: "/product-stories/contiki-holidays"

    - title: "Lean Machine"
      type: "blog"
      link: "/blog/lean-machine"

    - title: "Unboxed leads Agile rebuild of Plymouth University website"
      type: "product story"
      link: "/product-stories/plymouth-university"
---

<%= partial 'product-stories/page_header' %>

<div class="container" data-header-waypoint>
  <%= partial 'product-stories/full_image', locals: { section: current_page.data.header } %>

  <%= partial 'product-stories/text_tile', locals: { section: current_page.data.collaboration } %>

  <section class="highlight--naturejobs">
    <h2 class="highlight__title">
      <%= current_page.data.waterfall_to_agile_highlight %>
    </h2>
  </section>

  <%= partial 'product-stories/text_tile', locals: { section: current_page.data.technology } %>

  <%= partial 'product-stories/quote', locals: { section: current_page.data.collaboration_quote } %>

  <%= partial 'product-stories/text_tile', locals: { section: current_page.data.user_journey } %>

  <%= partial 'product-stories/full_video', locals: { section: current_page.data.head_of_product_video } %>

  <%= partial 'product-stories/text_tile', locals: { section: current_page.data.metrics } %>

  <%= partial 'product-stories/quote', locals: { section: current_page.data.mentality_quote } %>

  <%= partial 'product-stories/project_team' %>

  <section class="highlight--naturejobs">
    <h2 class="highlight__title">
      <%= current_page.data.feedback_highlight %>
    </h2>
  </section>

  <%= partial 'product-stories/link_tiles' %>

  <%= partial 'product-stories/related_tiles' %>
</div>
