---
title: "Product Story - Newham Council"

header:
  client: "Newham Council"
  introduction: "Newham Council: Improving residential access and support to homelessness services - the Discovery and Alpha phases"
  image: "/product-stories/newham-council/header.jpg"
  image_description: "Mobile prototype"

introduction:
  title: "A first step in delivering improved services to 330,000+ residents"
  content: "Newham Council are aspiring to pioneer change across their London borough. By creating a resilient council and community, they are aiming to shape Newham as a place where people choose to live, work and stay. On a mission to transform their current services, the Digital Team have a vision to be more effective, commercial, innovative and pioneering in how they deliver their key services to 330,000+ local residents."
  image: "/product-stories/newham-council/adverts.jpg"
  image_description: "Woman looking at property advertisements"

the_vision:
  content: "With approximately 20,000 visits made per year, the Homelessness Triage Centre is one of Newham Council’s highest volume service centres. As well as being one of the council’s most critical offerings, the demand for this service is already experiencing a notable increase. Currently faced with an unpredictable daily demand and a limited appointment management system, this has been identified as a service that needs immediate attention and that digital can help support. The vision; to provide guidance and support for residents with a diverse range of homelessness needs that increases provision online for those with lower priority needs and maximises the effectiveness of face-to-face contact."
  image: "/product-stories/newham-council/paul-presenting.jpg"
  image_description: "Designer running a workshop"

why_product_required:
  title: "Why this product is required:"
  project: "newham-council"
  list:
    - "Over 20,000 visits are made to the Homelessness Triage Centre per year"
    - "12,000+ online web pages in a 6-month period directed residents to the Triage Centre, even if they couldn’t be helped at their current stage in the process"
    - "Higher face-to-face demand at this centre is leading to increased waiting times"

end_to_end_service_focus:
  title: "A focus on creating an end-to-end service to help residents at every step of the process"
  content_1: "The goal for Newham Council: to provide a more efficient platform, for both residents and council staff, to book an appointment at the Homelessness Triage Centre.</br></br>The vision for Newham Council: to help local residents by providing the right information at the right time."
  content_2:
    - "6-week Discovery phase, where we embedded with the Newham Council digital team, carrying out user research and interviews with local residents to begin prototyping early ideas"
    - "8-week Alpha phase to test our prototypes with residents, iterate and investigate the technical integrations into existing and legacy council systems"

opportunity_quote:
  quote: "While many of our transactions have been moved online, the user experience is fragmented and often confusing. We currently have to rely on inefficient, manual intervention for a number of transactions. We are using this opportunity to introduce Unboxed’s expertise and begin improving the user experience of Newham services. By developing an evidence-based digital roadmap, we are working as a team towards delivering user-led services to meet our resident’s needs and support Newham Council for the future."
  source: "Dawn Turner - Delivery Lead, Newham Council"
  image: "/product-stories/newham-council/dawn-presenting.jpg"

heart_of_service:
  title: "Based at the heart of the homelessness service"
  content: "Following an Inception Workshop, our newly embedded team began addressing the current Homelessness service. Visually mapping out the current user journey (from entry to exit point), identifying the pain points and introducing early user research techniques were the first steps in addressing the current situation. Engaging with a wide range of residents and internal stakeholders allowed for user interviewing begin building up, as well as address the current technological landscape of integrated internal systems. Potential early opportunities and possible future constraints were identified."
  image: "/product-stories/newham-council/user-journeys.jpg"
  image_description: "Getting the current user journeys up onto the wall"
  caption: "Getting the current user journeys up onto the wall"

resident_thinking_quote:
  quote: "The beginning of this project wasn’t like a typical introductory meeting as you’d normally have with other people you work with. This was different. This was an interactive session. We placed ourselves in the shoes of our residents, beginning with some basic exercises around our perception of the council - what’s good, what’s bad, what could be done better. It started putting us into the frame of mind of &quot;Let’s start thinking as a resident&quot;"
  source: "Ikramul Haque - Delivery Lead - Customer Digital Transformation, Newham Council"
  image: "/product-stories/newham-council/ikramul-haque-contact-centre.jpg"
  image_desccription: "Ikram listening in to calls at the Contact Centre"

understanding_service_needs:
  content: "We needed to be directly at the heart of the homelessness service to ensure we were engaging with right residents and the current users of this service. So we based ourselves at the Homelessness Triage Centre, located in East Ham, to speak to as many residents as we could. Shadowing phone calls to the centre and one-to-one interviewing allowed our team to broaden out research net and drill into the real day-to-day problems being faced by residents. Our wide range of gathered insights then formed an initial set of user personas - our data-led profiles of real Newham residents. Getting close to residents, hearing the struggles they’re going through and understand their needs of the service ensured that we were forming the basis of a service to really help them."
  image: "/product-stories/newham-council/homelessness-triage-centre.jpg"
  image_description: "Speaking with residents at the Homelessness Triage Centre to begin identifying the problems being faced"
  caption: "Speaking with residents at the Homelessness Triage Centre to begin identifying the problems being faced"

eligibility_quote:
  quote: "Some of the main issues being faced by residents include knowing when they are eligible to be given help at the Triage Centre. The current service provides very limited information online, resulting in residents turning up at the centre to find out more information, even if they can’t be helped at their current stage. With better advice and guidance online, users will be better informed around their specific situations, have a clearer idea of their rights and have a better indication of the timescales before they may even have to leave their homes."
  source: "Martyn Evans - Head of Product, Unboxed"
  image: "/product-stories/newham-council/martyn-evans-full.png"

validate_ideas:
  title: "Working alongside residents to validate new service ideas"
  content: "Using our first set of user personas, we began sketching early concepts and ideas of potential solutions. These early concepts had to help solve these problems we were hearing at the Triage Centre. Pulling initial ideas together, such as online appointment forms, process timelines and email/SMS notifications, gave us something to begin testing with residents. We were already getting rough sketches in front of users to get their feedback. A series of low-fidelity branded prototypes, based on the look and feel of current online Newham Council services, worked towards validating which concepts to take forward and which to discontinue there and then."
  image: "/product-stories/newham-council/sketching-personas.jpg"
  image_description: "Sketching our sets of personas, based on the user research carried out so far"
  caption: "Sketching our sets of personas, based on the user research carried out so far"

testing_ideas_quote:
  quote: "Taking our initial ideas and heading out to test these with our residents has given our team the momentum and confidence to be able to validate or dismiss an idea in just a few hours. We’ve gone from hearing from a limited number of residents to seeing ideas and concepts flourish, based on what we are hearing from them. The Unboxed part of the team has introduced the ways of getting from idea to validated concept very fast, then how to carry these forward into the next steps."
  source: "Dawn Turner - Delivery Lead, Newham Council"
  image: "/product-stories/newham-council/testing-ideas.jpg"

progression_prototypes:
  title: "From rough sketches to online, progressing our prototypes"
  content: "As user engagement continued, increasingly functional prototypes were building up for extended testing with residents and further iteration. From rough sketches, to paper models, to further designed paper models, to online prototypes, these were gradually building up for continued testing and further iteration. Common themes and outputs to emerge include:"
  list:
    - "Tone of voice - indication of more “natural” language and terms to be used throughout"
    - "Addressing where a ‘Section 21’ (a notice of possession) may be introduced in the process"
    - "Confusion over when the right time is to visit the Homelessness Triage Centre"
  image: "/product-stories/newham-council/mobile-first-prototypes.jpg"
  image_description: "Taking a 'mobile-first' approach to early product prototypes"
  caption: "Taking a 'mobile-first' approach to early product prototypes"

conclusion:
  content: "With the exploring (Discovery) and learning (Alpha) phases drawing to a close, Newham Council’s Homelessness Online service is now heading into the following delivery phase: the build. The learning and outputs from the previous phases will be used to ensure that the right end-to-end product is built for the residents of the Newham homelessness service. Digital is beginning to pioneer the solution in reducing the face-to-face demand of one of Newham Council’s highest volume service centres."
  image: "/product-stories/newham-council/whiteboard.jpg"
  image_description: "Early product prototype sketching of Homelessness Online"
  caption: "Early product prototype sketching of Homelessness Online"

project_quote:
  quote: "This project has been a real journey for our team. It was disruptive, but in a good way! It has enabled me to learn new skillsets. I’ve not really done user research before - just going out there and interviewing residents, I’ve never done that. There was a steep learning curve, but because we were working very closely with the Unboxed part of the team, we were getting these skills transferred by working directly with members of the team. I’m excited to see this Homelessness Online project head forward into the next phase."
  source: "Ikramul Haque - Delivery Lead - Customer Digital Transformation, Newham Council"
  image: "/product-stories/newham-council/ikramul-haque.jpg"

team:
  title: "Unboxed team"
  people:
    - full_name: "Martyn Evans"
      image: "/product-stories/newham-council/team/martyn-evans.png"
      link: "/people#martyn-evans"

    - full_name: "Lawrence Richards"
      image: "/product-stories/newham-council/team/lawrence-richards.png"
      link: "/people#lawrence-richards"

    - full_name: "Steve Lennon"
      image: "/product-stories/newham-council/team/steve-lennon.png"
      link: "/people#steve-lennon"

    - full_name: "Boris Divjak"
      image: "/product-stories/newham-council/team/boris-divjak.png"
      link: "/people#boris-divjak"

    - full_name: "Chris Carter"
      image: "/product-stories/newham-council/team/chris-carter.png"

related:
  title: "Related"
  articles:
    - title: "Digitalising key local government services with Buckinghamshire County Council: The Discovery and Alpha phases"
      type: "product story"
      link: "/product-stories/bucks-cc"

    - title: "Visit Newham Council"
      type: "website"
      link: "https://www.newham.gov.uk"

    - title: "Public sector collaboration with GDS to relaunch Petitions platform for UK citizens"
      type: "product story"
      link: "/product-stories/petitions/"

---

<%= partial 'product-stories/page_header' %>

<div class="container newham-council" data-header-waypoint>
  <%= partial 'product-stories/full_image', locals: { section: current_page.data.header } %>

  <%= partial 'product-stories/full_width_text_tile', locals: { section: current_page.data.introduction } %>

  <%= partial 'product-stories/full_image', locals: { section: current_page.data.the_vision} %>

  <%= partial 'product-stories/full_width_text_tile', locals: { section: current_page.data.the_vision } %>

  <%= partial 'product-stories/highlight', locals: { section: current_page.data.why_product_required } %>

  <%= partial 'product-stories/two_text_tiles', locals: { section: current_page.data.end_to_end_service_focus } %>

  <%= partial 'product-stories/text_tile_quote', locals: { section: current_page.data.opportunity_quote } %>

  <%= partial 'product-stories/full_width_text_tile', locals: { section: current_page.data.heart_of_service } %>

  <%= partial 'product-stories/full_image', locals: { section: current_page.data.heart_of_service } %>

  <%= partial 'product-stories/text_tile_quote', locals: { section: current_page.data.resident_thinking_quote } %>

  <%= partial 'product-stories/full_width_text_tile', locals: { section: current_page.data.understanding_service_needs } %>

  <%= partial 'product-stories/full_image', locals: { section: current_page.data.understanding_service_needs } %>

  <%= partial 'product-stories/quote_caricature', locals: { section: current_page.data.eligibility_quote } %>

  <%= partial 'product-stories/full_width_text_tile', locals: { section: current_page.data.validate_ideas } %>

  <%= partial 'product-stories/full_image', locals: { section: current_page.data.validate_ideas } %>

  <%= partial 'product-stories/text_tile_quote', locals: { section: current_page.data.testing_ideas_quote } %>

  <%= partial 'product-stories/full_width_text_and_list_tile', locals: { section: current_page.data.progression_prototypes } %>

  <%= partial 'product-stories/full_image', locals: { section: current_page.data.progression_prototypes } %>

  <%= partial 'product-stories/full_width_text_tile', locals: { section: current_page.data.conclusion } %>

  <%= partial 'product-stories/full_image', locals: { section: current_page.data.conclusion } %>

  <%= partial 'product-stories/text_tile_quote', locals: { section: current_page.data.project_quote } %>

  <%= partial 'product-stories/project_team' %>

  <%= partial 'product-stories/related_tiles' %>
</div>
