---
title: "Product Story - Plymouth University - Agile rebuild of university website"
meta_description: "Agile website rebuild to increase online student conversion rates with Plymouth University"
meta_keywords: "Ruby on Rails, Ruby on Rails developer, Ruby on Rails developers, Ruby on Rails development, Ruby on Rails developer London"

header:
  client: "Plymouth University"
  introduction: "Agile website rebuild to increase online student conversion rates with Plymouth University"
  image: "/product-stories/plymouth-university/plymouth-building.jpg"
  image_description: "Plymouth university building"

introduction:
  title: "Working with Plymouth University to deliver a brand new website"
  content:
    - "Relaunched website to increase online student conversion rate"
    - "New site designed around different stakeholder groups"
    - "Increased accessibility for online platform, including on mobile"
    - "Custom CMS implemented to support individual requirements"
  image: "/product-stories/plymouth-university/plymouth-website.jpg"
  image_description: "Plymouth website screenshot"

plymouth_cio_video:
  youtube_id: "nTSKD1PG1e4"
  image: "/product-stories/plymouth-university/video-still.jpg"
  image_description: "Plymouth University CIO video"

highlight_1:
  title: "Plymouth University in numbers:"
  project: "plymouth-university"
  statistics:
  - number: "25,895"
    text: "Number of students enrolled in the 2014/2015 academic year"
  - number: "#20"
    text: "Ranking on Sitemorse 2015 Q3/UK Universities and Higher Education list"

emerging_demands:
  title: "A website to meet commercial demands"
  content: "As the competition to attract new students increases, universities have had to become much more commercially oriented. For Plymouth University, one of the ways to achieve this was to improve the way that they engage with prospective students online. The University is fully aware that most students learn about what they have to offer through their website, and wanted their site to better reflect the quality of the Plymouth University experience."
  image: "/product-stories/plymouth-university/demands.jpg"
  image_description: "Design sessions with Plytmouth University students"

quote_1:
  quote: "We knew the site had to change, but not just in terms of design. We had to make sure it gave a great experience on mobile devices such as smartphones, as that is how a large number of our potential students now want to interact with us."
  source: "Paul Westmore, Interim CIO, Plymouth University"

design_testing:
  title: "​​Every design fully tested with students before build"
  content: "To create a site that delivers what users want, the team ran sessions with different stakeholders, with particular emphasis on primary users - students. They worked to deliver the most important features first, iterating to add further functionality on the basis of evidence gathered for what was most effective. Our team co-located with the team at Plymouth University, living in a specially rented flat in Plymouth for the duration of the project."
  image: "/product-stories/plymouth-university/design-testing.jpg"
  image_description: "More design sessions with Plymouth University students"

highlight_2:
  title: "Plymouth University in numbers:"
  project: "plymouth-university"
  statistics:
  - number: "10,000+"
    text: "Number of website pages maintained"
  - number: "59th"
    text: "Ranking in world’s 150 best universities under 50 years old"

agile:
  title: "Advanced Agile deployed for maximum value captured"
  content: "In line with the most powerful elements of Agile philosophy, pages of the new site were released almost immediately, alongside the old site, with no clunky, delayed or high-stress site changeover. Stories were deployed and new functionality released early and often. Students featured in the user testing, giving feedback on prototypes before this functionality was built into the site."
  image: "/product-stories/plymouth-university/design-sketch.jpg"
  image_description: "One of the first sketches of Plymouth University website"

quote_2:
  quote: "Getting core elements of the site out early allowed us to gain feedback, make changes and importantly continue to add functionality early and often, confident that everything that had gone before had been user accepted. Releasing the whole site in one go would have been risky, and meant unacceptable delays to presenting students with a true image of Plymouth University life."
  source: "Paul Westmore, Interim CIO, Plymouth University"

platform:
  title: "An easier accessible platform for prospective users"
  content: "A custom CMS was developed to meet user requirements of the platform, making content and navigation more easily accessible, especially on mobile. A new website content strategy and process were then implemented to overcome the challenges of reducing down their 10,000+ pages of content. With launch of the new homepage, we coached the internal team in Ruby on Rails to roll out the new website, going forward."
  image: "/product-stories/plymouth-university/team-meeting.jpg"
  image_description: "Meeting of Plymouth Website project team"

quote_3:
  quote: "Unboxed has helped us to create a far more attractive and appealing shop-window for Plymouth University, and one which we are starting to see the benefits of. The Agile process has also assisted us to be much more efficient internally and learning about the agile method of delivering projects has been of great value - one that we will continue to see the benefit of once the website project has come to an end."
  source: "Paul Westmore, Plymouth University"
  image: "/product-stories/plymouth-university/team/paul-westmore-full.png"

team:
  title: "Unboxed team"
  people:
    - full_name: "Attila Gyorffy"
      image: "/product-stories/plymouth-university/team/attila-gyorffy.png"

    - full_name: "Chris Carter"
      image: "/product-stories/plymouth-university/team/chris-carter.png"
      link: "/people#chris-carter"

    - full_name: "Alan Thomas"
      image: "/product-stories/plymouth-university/team/alan-thomas.png"
      link: "/people#alan-thomas"

    - full_name: "Richard Stobart"
      image: "/product-stories/plymouth-university/team/richard-stobart.png"
      link: "/people#richard-stobart"

    - full_name: "Sarah Beck"
      image: "/product-stories/plymouth-university/team/sarah-beck.png"
      link: "/people#sarah-beck"

site:
  link: "https://www.plymouth.ac.uk/"
  text: "Visit the Plymouth University site"

links:
  - title: "Custom Built Website offers Complete Flexibility for University of Plymouth"
    source: "MEMSET"
    type: "news"
    link: "https://www.memset.com/gov/working-with-memset/case-studies/university-plymouth"

  - title: "London-based Agile Specialists, Unboxed, choose Software Plymouth"
    source: "Plymouth Software"
    type: "news"
    link: "http://plymouthsoftware.com/news/london-based-agile-specialists-unboxed-consulting-choose-plymouth-software"

related:
  title: "Related"
  articles:
    - title: "Plymouth University projects featured in Education Technology"
      type: "news"
      link: "/news/plymouth-university-projects-featured-in-education-technology"

    - title: "Event: Digital leaders discover the 'new rules' of outsourcing - Agile Teams session"
      type: "blog"
      link: "/blog/digital-leaders-discover-the-new-rules-of-outsourcing-agile-teams-session"

    - title: "Embedding Agile methodology at a major university"
      type: "product story"
      link: "/product-stories/plymouth-university-gets-agile"

---

<%= partial 'product-stories/page_header' %>

<div class="container" data-header-waypoint>
  <%= partial 'product-stories/full_image', locals: { section: current_page.data.header } %>

  <%= partial 'product-stories/text_tile', locals: { section: current_page.data.introduction } %>

  <%= partial 'product-stories/full_video', locals: { section: current_page.data.plymouth_cio_video } %>

  <%= partial 'product-stories/highlight', locals: { section: current_page.data.highlight_1 } %>

  <%= partial 'product-stories/text_tile', locals: { section: current_page.data.emerging_demands } %>

  <%= partial 'product-stories/quote', locals: { section: current_page.data.quote_1 } %>

  <%= partial 'product-stories/text_tile', locals: { section: current_page.data.design_testing } %>

  <%= partial 'product-stories/highlight', locals: { section: current_page.data.highlight_2 } %>

  <%= partial 'product-stories/text_tile', locals: { section: current_page.data.agile } %>

  <%= partial 'product-stories/quote', locals: { section: current_page.data.quote_2 } %>

  <%= partial 'product-stories/text_tile', locals: { section: current_page.data.platform } %>

  <%= partial 'product-stories/quote_image', locals: { section: current_page.data.quote_3 } %>

  <%= partial 'product-stories/project_team' %>

  <%= partial 'product-stories/link_tiles' %>

  <%= partial 'product-stories/related_tiles' %>

</div>
