---
title: "Product Story - Public Health England"
meta_description: "Developing the UK National Screening Committee’s new online presence with Public Health England: discovery phase"
meta_keywords: "Ruby on Rails, Ruby on Rails developer, Ruby on Rails developers, Ruby on Rails development, Ruby on Rails developer London"

header:
  client: "Public Health England"
  introduction: "Developing the UK National Screening Committee’s new online presence with Public Health England: Discovery phase"
  image: "/product-stories/public-health-england-nsc-discovery/header-image.jpg"
  image_description: "Public Health England"

introduction:
  title: "Discovery phase for new UK National Screening Committee online presence"
  content:
    - "A first step in improving fragmented online user journeys for 33,000+ monthly visitors"
    - "Conducting user research with stakeholders across the UK’s four-country remit"
    - "Exploration and assessment of user needs, journeys, legacy websites and governance"
    - "Opportunities identified beyond a website redesign, improving engagement"
  image: "/product-stories/public-health-england-nsc-discovery/stickers.jpg"
  image_description: "Mapping the current website"

highlight_1:
  title: "Public Health England in numbers:"
  project: "public-health-england"
  statistics:
  - number: "33,000+"
    text: "Average monthly UK NSC online visitors"
  - number: "23"
    text: "User engagements conducted"

fragmented_screening:
  title: "Fragmented online health screening information"
  content: "The UK National Screening Committee (UK NSC) website is a key resource for experts and policy makers in shaping screening recommendations, as well as wider public interest, reaching 33,000+ visitors per month. With current content spread across disparate pages, inconsistent uses of design elements and outdated, underlying technical infrastructure, Public Health England identified the need to create a new online presence for UK NSC, built around user-needs."
  image: "/product-stories/public-health-england-nsc-discovery/table.jpg"
  image_description: "Discussing user needs"

quote_1:
  quote: During this Discovery phase, we've established a user-centred design process within the UK NSC team to begin changing the current experience from a number of inconsistent and defragmented interactions into a single consistent journey, aligned to the digital service standard.
  source: "— Lawrence Richards, Service Designer, Unboxed"

engaging_stakeholders:
  title: "​​Engaging stakeholders across four UK countries"
  content: "As a platform with users and stakeholders located across four UK countries (England, Scotland, Northern Ireland and Wales), the team worked to carry
  out in-depth interviews, through both face-to-face engagement in each location and online video conferencing to uncover insights. These results categorised as three main user groups (evidence review managers, policy stakeholders and the public), each with their own distinct requirements from the UK NSC."
  image: "/product-stories/public-health-england-nsc-discovery/roles.jpg"
  image_description: "The three main user groups of the UK NSC website"

quote_2:
  quote: "We’re really impressed with the work that Unboxed delivered in a very short four-week Discovery phase. The team introduced us to numerous user research tools and agile ways of working which PHE are keen to learn from."
  source: "— Adrian, Product Owner, Public Health England"

user_engagement:
  title: "Opportunities identified to improve user engagement"
  content: "In-depth interviews, workshops, shadowing and user journey mapping uncovered opportunities far beyond a website redesign. Signposting of various screening resources, independent and UK-wide positioning through through linking to national screening programmes across each country, a more proactive and engaging service through regular updates via email or SMS and leveraging available open-source technologies all emerged as opportunities to explore further."
  image: "/product-stories/public-health-england-nsc-discovery/wall-with-stickies.jpg"
  image_description: "Mapping out the new service"

highlight_2:
  title: "Public Health England in numbers:"
  project: "public-health-england"
  statistics:
  - number: "13"
    text: "User interviews conducted"
  - number: "3"
    text: "Emerging core user groups for UK NSC"

alpha:
  title: "The service assessment through to Alpha"
  content: "Early validation of this Discovery phase has been delivered through successfully passing an internal service assessment (based on the Government Digital Service service assessment), conducted by the Department of Health and Social Care and PHE Digital. The next phase of this project is to prototype and test potential consultation platforms for screening recommendations, as the next step in creating a new online presence for UK NSC built around user needs."
  image: "/product-stories/public-health-england-nsc-discovery/screenshot.jpg"
  image_description: "A prototype with user feedback"

quote_3:
  quote: "[…] the panel were particularly impressed by the team’s commitment to co-location with the Service Manager from PHE being on site with the team from the agency almost every day. This made it easier for the team to make decisions in a clear, direct and transparent manner."
  source: "— Service assessment panel, Department of Health and Social Care"

team:
  title: "Unboxed team"
  people:
    - full_name: "Martyn Evans"
      image: "/product-stories/public-health-england-nsc-discovery/team/martyn-evans.png"
      link: "/people#martyn-evans"

    - full_name: "Lawrence Richards"
      image: "/product-stories/public-health-england-nsc-discovery/team/lawrence-richards.png"
      link: "/people#lawrence-richards"

    - full_name: "Neil van Beinum"
      image: "/product-stories/public-health-england-nsc-discovery/team/neil-van-beinum.png"
      link: "/people#neil-van-beinum"

    - full_name: "Boris Divjak"
      image: "/product-stories/public-health-england-nsc-discovery/team/boris-divjak.png"

site:
  link: "https://www.gov.uk/government/organisations/public-health-england"
  text: "Visit the PHE site"

links:
  - title: "Unboxed awarded two Public Health England contracts"
    source: "Unboxed"
    type: "news"
    link: "/news/unboxed-awarded-two-public-health-england-contracts"

  - title: "SH:24 win 'Innovation Team of the Year' at this year’s BMJ Awards"
    source: "Unboxed"
    type: "news"
    link: "/news/sh-24-win-innovation-team-of-the-year-at-this-year-s-bmj-awards/"

related:
  title: "Related"
  articles:
    - title: "Improving general practice access with Southwark CCG: Design sprint"
      type: "product story"
      link: "/product-stories/southwark-ccg"

    - title: "Discovery beyond a website: a new online presence for the UK NSC"
      type: "blog"
      link: "/blog/discovery-beyond-website-uknsc"

    - title: "Introducing a patient-led innovation programme with Guy's and St. Thomas' NHS Foundation Trust"
      type: "product story"
      link: "/product-stories/guys-and-st-thomas"

---

<%= partial 'shared/page_header', locals: current_page.data.header %>

<div class="container" data-header-waypoint>
  <%= partial 'shared/full_image', locals: current_page.data.header %>

  <%= partial 'shared/text_tile', locals: current_page.data.introduction %>

  <%= partial 'shared/highlight', locals: current_page.data.highlight_1 %>

  <%= partial 'shared/text_tile', locals: current_page.data.fragmented_screening %>

  <%= partial 'shared/quote', locals: current_page.data.quote_1 %>

  <%= partial 'shared/text_tile', locals: current_page.data.engaging_stakeholders %>

  <%= partial 'shared/quote', locals: current_page.data.quote_2 %>

  <%= partial 'shared/text_tile', locals: current_page.data.user_engagement %>

  <%= partial 'shared/highlight', locals: current_page.data.highlight_2 %>

  <%= partial 'shared/text_tile', locals: current_page.data.alpha %>

  <%= partial 'shared/quote', locals: current_page.data.quote_3 %>

  <%= partial 'shared/project_team' %>

  <%= partial 'shared/link_tiles' %>

  <%= partial 'shared/related_tiles' %>

</div>
