---
title: "Product Story - SH:24 - Transformation of sexual health clinic to digital service in 8 weeks"
meta_description: "Transformation of NHS face-to-face sexual health clinic to digital service in 8 weeks"
meta_keywords: "Ruby on Rails, Ruby on Rails developer, Ruby on Rails developers, Ruby on Rails development, Ruby on Rails developer London, public sector"

header:
  client: "SH:24"
  introduction: "Transformation of NHS face-to-face sexual health clinic to digital service in 8 weeks"
  image: "/product-stories/sh24/sh24-post-it.jpg"
  image_description: "Sexual Health - how do we make it easier to access NHS services?"

introduction:
  title: "Online sexual health testing service to tackle high clinic demand"
  content:
    - "8 weeks from an idea to a working online service"
    - "16 weeks from inception to NHS approved service"
    - "95% of people who start the order process go through to completion"
    - "60,000+ test kits ordered to date"
  image: "/product-stories/sh24/kit-instructions.jpg"
  image_description: "Using a web prototype for instructions"

highlight_1:
  title: "SH:24 in numbers"
  project: "sh24"
  statistics:
  - number: "1,600+"
    text: "Orders dispatched per week"
  - number: "60,000+"
    text: "Test kits ordered to date"

highlight_2:
  title: "SH:24 in numbers since launch"
  project: "sh24"
  statistics:
  - number: "78%"
    text: "Kit return rate"
  - number: "98.4%"
    text: "User satisfation rate"
  - number: "100+"
    text: "Users involved in the design"
  - number: "95%"
    text: "People starting the order process through to completion"

online_process:
  title: "Taking the process from the doctor’s waiting room to online"
  content: "Following a string of negative headlines and a rise in STI rates in the Lambeth and Southwark areas, SH:24 came to us with an idea for a digital service: An online sexual health testing service for 620,000+ local residents. The vision was a self-service testing kit, ordered online, to tackle long queues at sexual health centers and dramatically increase public access to these services."
  image: "/product-stories/sh24/website-screenshot.jpg"
  image_description: "Screenshot of SH:24 website"

first_met_quote:
  quote: "From the moment we met Unboxed, we felt they understood our approach and had a robust process for exploration and delivery."
  source: "Chris Howroyd, Director — SH:24"

learning:
  title: "'Moving in' next door to users and partners"
  content: "We co-located with the SH:24 part of the team in their offices in Lambeth for the discovery and alpha phases. Our location, close to the clinics, gave us direct access to the service users and our clinical partners. From the earliest sketches, through prototypes and models, to the final production code and kits, we were able to validate our thinking on a daily basis with real users of the service."
  image: "/product-stories/sh24/workshop.jpg"
  image_description: "Stakeholder workshop and meeting"

service:
  title: "A new physical service with a digital core"
  content: "Whilst the digital elements formed a critical part of the service, great care was taken to ensure that the experience of the physical product was equally as effective. The packaging and instructions, supporting information and messaging went through numerous iterations – for example the home blood sampling process changed radically and the instructions were tested and recreated several times."
  image: "/product-stories/sh24/prototyping-instructions.jpg"
  image_description: "Early prototype of kit instructions"

blood_instruction_video:
  youtube_id: "7tY0vW2Ix3A"
  image: "/product-stories/sh24/video-still.jpg"
  image_description: "Blood instructions video"

timely_quote:
  quote: "Unboxed brought people together rapidly and helped us to deliver a full service in an incredibly short space of time."
  source: "Chris Howroyd, Director — SH:24"

stakeholder_trust:
  title: "Building trust amongst stakeholders"
  content: "Many different stakeholders had high hopes or deep concerns about the outcome of this mould-breaking project. So we held regular open workshops to establish enough trust to move fast. We identified the most significant issues first - patient record security and service quality – and directly addressed these immediately."
  image: "/product-stories/sh24/team-discussions.jpg"
  image_description: "Team and stakeholders discussion"

launch:
  title: "Live service launched in 16 weeks"
  content: "After just 8 weeks, users were able to order and complete an STI test at home, without any clinical support. A further 8 weeks and this live service was scaled and launched to the public, resulting in over 60,000+ tests being ordered to date. With a result pleasing users and stakeholders alike, SH:24 has rolled out across a further six UK areas. SH:24 won the 'Best User Experience’ award at the User Experience UK (UXUK) Awards 2016."
  image: "/product-stories/sh24/sti-test-kit.jpg"
  image_description: "Opened SH:24 test kit"

team_quote:
  quote: "A great team with exactly the right mix of skills we needed."
  source: "Chris Howroyd, Director — SH:24"

team:
  title: "Unboxed team"
  people:
    - full_name: "Jon Normington"
      image: "/product-stories/sh24/team/jon-normington.png"

    - full_name: "Martyn Evans"
      image: "/product-stories/sh24/team/martyn-evans.png"
      link: "/people#martyn-evans"

    - full_name: "Tom Sabin"
      image: "/product-stories/sh24/team/tom-sabin.png"

    - full_name: "Neil van Beinum"
      image: "/product-stories/sh24/team/neil-van-beinum.png"
      link: "/people#neil-van-beinum"

    - full_name: "Kips Davenport"
      image: "/product-stories/sh24/team/kips-davenport.png"

conclusion:
  title: "Strong take up proved the concept rapidly"
  design_and_build_title: "Design and build:"
  design_and_build:
    - "Live STI test results were returned to the NHS within 8 weeks of our engagement."
    - "Over 100 users were engaged in the design process and within 16 weeks of inception, SH:24 was a live NHS approved service."
  since_launch_title: "Since launch:"
  since_launch:
    - "The website has now received 5,200 visitors (70% new) and 26,000 page views."
    - "1300 have ordered a test through SH:24. Sixty percent of people have returned their test which is much higher than other online testing services."
    - "95% of people starting the order process go right through to complete the order."

site:
  link: "https://sh24.org.uk/"
  text: "Visit the SH:24 site"

links:
  - title: "Revolutionary new STI-testing scheme launches in Southwark"
    source: "southwarknews"
    type: "news"
    link: "http://www.southwarknews.co.uk/news/revolutionary-new-sti-testing-scheme-launches-in-southwark/"

  - title: "SH:24 sexual health service launches today"
    source: "Design Council"
    type: "news"
    link: "http://www.designcouncil.org.uk/news-opinion/sh24-sexual-health-service-launches-today"

related:
  title: "Related"
  articles:
    - title: "Agile. Being lean in the NHS"
      type: "round table"
      link: "/blog/digital-healthcare-roundtable-session"

    - title: "Event: The £50k Springboard"
      type: "blog"
      link: "http://unboxed.co/blog/event-the-50k-springboard/"

    - title: "Groundbreaking redevelopment of Channel5.com"
      type: "product story"
      link: "/product-stories/channel-5"
---

<%= partial 'shared/page_header', locals: current_page.data.header %>

<div class="container" data-header-waypoint>
  <%= partial 'shared/full_image', locals: current_page.data.header %>

  <%= partial 'shared/text_tile', locals: current_page.data.introduction %>

  <%= partial 'shared/highlight', locals: current_page.data.highlight_1 %>

  <%= partial 'shared/text_tile', locals: current_page.data.online_process %>

  <%= partial 'shared/quote', locals: current_page.data.first_met_quote %>

  <%= partial 'shared/text_tile', locals: current_page.data.learning %>

  <%= partial 'shared/full_video', locals: current_page.data.blood_instruction_video %>

  <%= partial 'shared/text_tile', locals: current_page.data.service %>

  <%= partial 'shared/quote', locals: current_page.data.timely_quote %>

  <%= partial 'shared/text_tile', locals: current_page.data.stakeholder_trust %>

  <%= partial 'shared/highlight', locals: current_page.data.highlight_2 %>

  <%= partial 'shared/text_tile', locals: current_page.data.launch %>

  <%= partial 'shared/quote', locals: current_page.data.team_quote %>

  <%= partial 'shared/project_team' %>

  <%= partial 'shared/link_tiles' %>

  <%= partial 'shared/related_tiles' %>
</div>
