<section class="highlight--<%= locals[:project] %>">
  <% if locals[:title] %>
    <h2 class="highlight__title"><%= locals[:title] %></h2>
  <% end %>

  <% if locals[:statistics] %>
    <div class="highlight__tile--<%= locals[:statistics].size.even? ? 'two' : 'one' %>">
      <% locals[:statistics].each do |statistic| %>
        <p class="highlight__large-text">
          <% if statistic[:icon] %>
            <i class="fa <%= statistic[:icon] %>"></i>
          <% end %>
          <%= statistic[:number] %>
        </p>
        <p class="highlight__small-text"><%= statistic[:text] %></p>
      <% end %>
    </div>
  <% elsif locals[:list] %>
    <ul class="text-tile__list">
      <% locals[:list].each do |item| %>
      <li class="text-tile__list-item">
        <%= item %>
      </li>
      <% end %>
    </ul>
  <% end %>
</section>
