<a class="blog-tile blog-medium-tile" href="<%= article.url %>">
  <div class="blog-medium-tile__container">
    <div class="blog-medium-tile__top-content">
      <div class="blog-medium-tile__title">
        <%= truncate(article.title, length: 70) %>
      </div>

      <div>
        <div class="blog-medium-tile__author" rel="author">
          <%= article_info(data.people, article.data).author_names %>
        </div>

        <div class="blog-medium-tile__date">
          <%= Time.parse(article.data.date).strftime("%B %e, %Y") %>
        </div>
      </div>
    </div>

    <div class="blog-medium-tile__bottom-content">
      <p class="blog-medium-tile__article-body">
        <%= truncate(strip_tags(article.body), length: 250) %>
      </p>
    </div>
  </div>
</a>
