<section class="showcase-tiles-section">
  <% if locals[:title].present? %>
    <h2 class="showcase-tiles-section__title">
      <%= locals[:title] %>
    </h2>
  <% end %>

  <% if locals[:content].present? %>
    <% locals[:content].each do |tile| %>
      <a class="showcase-tile" href="<%= tile.link %>" title="<%= tile.name %>">
        <div class="showcase-tile__content">
          <%= image_tag tile.image, alt: tile.name, class: 'showcase-tile__image', srcset: retina_srcset(tile.image) %>

          <h3 class="showcase-tile__title">
            <%= tile.name %>
          </h3>

          <p class="showcase-tile__paragraph">
            <%= tile.description %>
          </p>
        </div>
      </a>
    <% end %>
  <% end %>

  <% if locals[:client_logos] %>
      <div class="showcase-tile-client-logos">
        <% locals[:client_logos].each do |client_logo| %>
          <% if client_logo.link %>
            <a href="<%= client_logo.link %>" title="<%= client_logo.name %>">
              <%= image_tag client_logo.image, alt: client_logo.name, class: 'showcase-tile-client-logos__logo-link', srcset: retina_srcset(client_logo.image) %>
            </a>
          <% else %>
            <%= image_tag client_logo.image, alt: client_logo.name, class: 'showcase-tile-client-logos__logo', srcset: retina_srcset(client_logo.image) %>
          <% end %>
        <% end %>
      </div>
  <% end %>
</section>
