<section class="showcase-tiles-section">
  <h2 class="showcase-tiles-section__title">
    <%= section.title %>
  </h2>

  <% section.content.each do |tile| %>
    <a class="showcase-tile" href="<%= tile.link %>" title="<%= tile.name %>">
      <div class="showcase-tile__content">
        <%= image_tag tile.image, alt: tile.name, class: 'showcase-tile__image', srcset: retina_srcset(tile.image) %>

        <h3 class="showcase-tile__title">
          <%= tile.name %>
        </h3>

        <p class="showcase-tile__paragraph">
          <%= tile.description %>
        </p>
      </div>
    </a>
  <% end %>
</section>
