<footer class="site-footer">
  <div class="site-footer__container">
    <div class="site-footer__tile">
      <p class="site-footer-newsletter__introduction">
        Sign up to our newsletter
      </p>
      <%= partial 'newsletter', locals: { block_class: 'site-footer-newsletter', onclick_function: 'sendToGaFooterSubscribeClickEvent()' } %>
    </div>

    <div class="site-footer__tile">
      <p class="site-footer__tile-title">
        More about Unboxed
      </p>
      <%= link_to 'Ruby on Rails Development', '/services/ruby-on-rails-development', class: 'site-footer__site-links' %>
      <%= link_to 'Join us', '/jobs', class: 'site-footer__site-links' %>
      <%= link_to 'News', '/news', class: 'site-footer__site-links' %>
      <%= link_to 'Thoughts', '/thoughts', class: 'site-footer__site-links' %>
      <%= link_to 'Spinouts', '/spinouts', class: 'site-footer__site-links' %>
      <%= link_to 'Privacy notice', '/privacy-notice', class: 'site-footer__site-links' %>
    </div>

    <div class="site-footer__tile site-footer__tile--last">
      <p class="site-footer__tile-title">
        Contact
      </p>
      <a class="site-footer-address__city" href="https://goo.gl/maps/hrEPw5rgq9S2" target="_blank">
        <i class="fa fa-map-marker site-footer-address__map-icon"></i>
        <span>Unboxed</span>
      </a>
      <address class="site-footer-address__postal-address-london">
        60-62 Commercial Street<br/>
        E1 6LT
      </address>
      <a class="site-footer__email-address" href="mailto:hello@unboxed.co" onclick='sendToGaFooterEmailClickEvent()'>
        hello@unboxed.co
      </a>
      <a class="site-footer-address__phone-number" href="tel:+442071834250">
        <i class="fa fa-phone site-footer-address__phone-icon"></i>
        +44 20 7183 4250
      </a>
      <div class="site-footer-address__company-registration">
        Registered in England and Wales<br>
        05440833
      </div>
    </div>

    <div class="site-footer-social">
      <a class="social-icon__icon-container--twitter" href="https://twitter.com/Ubxd" target="_blank">
        <%= image_tag 'social-icon__twitter.png', class: 'social-icon__icon', alt: 'Twitter' %>
      </a>
      <a class="social-icon__icon-container--linkedin" href="https://www.linkedin.com/company/unboxed-consulting" target="_blank">
        <%= image_tag 'social-icon__linkedin.png', class: 'social-icon__icon', alt: 'LinkedIn' %>
      </a>
      <a class="social-icon__icon-container--github-reversed" href="https://github.com/unboxed" target="_blank">
        <%= image_tag 'social-icon__github-reversed.png', class: 'social-icon__icon', alt: 'GitHub' %>
      </a>
    </div>
  </div>
  <script>
    function sendToGaFooterSubscribeClickEvent() {
      ga('send', 'event', 'Button', 'Click', 'Footer newsletter subscribe', '1');
    }
    function sendToGaFooterEmailClickEvent() {
      ga('send', 'event', 'Email link', 'Click', 'hello@unboxed', '1');
    }
  </script>
</footer>
