---
title: "Contact - Speak to the most experienced Ruby on Rails development agency in London"
meta_description: "Get in touch at hello@unboxed.co if you would like to find out more"

header:
  title: "Speak to us"
  subtitle: "Book a meeting or give us a call to discuss your project"

offices:

  - name: "London"
    address: |
      60-62 Commercial Street
      E1 6LT
      London, UK
    humanized_phone_number: "+44 20 7183 4250"
    phone_number: "+442071834250"
    calendly_link_title: "Book a meeting"
    calendly_link: "https://calendly.com/unboxed"
    email: "hello@unboxed.co"
    map_link_title: "Open in Google Maps"
    map_link: "https://goo.gl/maps/hrEPw5rgq9S2"
    map_id: "london-map"
    map_location: [-0.07359, 51.51772]

    transport_directions: "Nearest stations"
    station_and_parking:
      - name: "Liverpool Street"
        link: "https://tfl.gov.uk/tube/stop/940GZZLULVT/liverpool-street-underground-station"
        icon: "tfl-icon__underground.png"
      - name: "Shoreditch High Street"
        link: "https://tfl.gov.uk/overground/stop/910GSHRDHST/shoreditch-high-street-rail-station"
        icon: "tfl-icon__overground.png"
      - name: "Aldgate East"
        link: "https://tfl.gov.uk/tube/stop/940GZZLUADE/aldgate-east-underground-station/"
        icon: "tfl-icon__underground.png"

mapbox_token: "pk.eyJ1IjoidW5ib3hlZHdlYiIsImEiOiJjam80OXZhdmYxMjc2M3BueDZnZjNtMWRwIn0.KyV6qQeKuG2035XLg3kGnw"
---

<% content_for(:head) do %>
  <script src="https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js"></script>
  <link href="https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css" rel="stylesheet" />
<% end %>

<header class="page-header page-header--bottom-margin">
  <div class="page-header__container">
    <h1 class="page-header__title">
      <%= current_page.data.header.title %>
    </h1>

    <p class="page-header__subtitle">
      <%= current_page.data.header.subtitle %>
    </p>
  </div>
</header>

<div class="container">
  <div class="container--grid" id="offices" data-header-waypoint>
    <script>
      mapboxgl.accessToken = '<%= current_page.data.mapbox_token %>';
    </script>

    <% current_page.data.offices.each do |office| %>
      <div class="contact-page-tile" id="<%= office.name.gsub(/\s+/, "") %>">
        <div class="contact-page-tile__container">

          <div class="contact-page-tile__content">
            <p class="contact-page-tile__title"><%= office.name %></p>
            <address class="contact-page-address">
              <%= simple_format office.address %>
            </address>

            <% if office.calendly_link %>
              <div class="contact-page-address__button-container">
                <a class="contact-page-address__button" href="<%= office.calendly_link %>"
                   onClick="sendToGaContactPageBookMeetingClickEvent()"
                   target="_blank">
                  <%= office.calendly_link_title %>
                </a>
              </div>
            <% end %>

            <div class="contact-page-address__phone-number">
              <a href="tel:<%= office.phone_number %>">
                <i class="fa fa-phone contact-page-address__phone-icon"></i>
                <%= office.humanized_phone_number %>
              </a>
            </div>

            <div class="contact-page-address__email">
              <a href="mailto:<%= office.email %>" onclick='sendToGaContactPageEmailClickEvent()'>
                <i class="fa fa-envelope contact-page-address__email-icon"></i>
                <%= office.email %>
              </a>
            </div>

            <div class="contact-page-address__map-link">
              <a href="<%= office.map_link %>" target="_blank">
                <i class="fa fa-map-marker fa-lg contact-page-address__map-icon"></i>
                <%= office.map_link_title %>
              </a>
            </div>

            <div class="contact-page-address__directions">
              <%= office.transport_directions %>
               <ul>
                 <% office.station_and_parking.each do |place| %>
                   <li class="contact-page-address__direction-point">
                     <a href="<%= place.link %>" target="_blank">
                       <%= image_tag place.icon, class: 'contact-page-address__transport-icon', alt: place.name %>
                       <%= place.name %>
                     </a>
                   </li>
                 <% end %>
               </ul>
            </div>
          </div>

          <div class="contact-page-tile__image">
            <div id="<%= office.map_id %>"></div>
          </div>

          <script>
            if (mapboxgl.supported()) {
              var map = new mapboxgl.Map({
                container: '<%= office.map_id %>',
                center: <%= office.map_location.to_json %>,
                zoom: 15,
                style: 'mapbox://styles/mapbox/streets-v10'
              });

              var marker = new mapboxgl.Marker({ color: '#8A2D8E' })
                .setLngLat(<%= office.map_location.to_json %>)
                .addTo(map);

              var control = new mapboxgl.NavigationControl({ showCompass: false });

              map.addControl(control, 'top-right');
            }
          </script>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  function sendToGaContactPageEmailClickEvent() {
    ga('send', 'event', 'Email link', 'Click', 'hello@unboxed', '1');
  }

  function sendToGaContactPageBookMeetingClickEvent() {
    ga('send', 'event', 'Traffic to Other Websites', 'Click', 'Book a Meeting on Calendly', '1');
  }
</script>
