---
title: "Contact - Speak to the largest Ruby on Rails development agency in London"
meta_description: "Get in touch at hello@unboxed.co if you would like to find out more"

header:
  title: "Speak to us"
  subtitle: "Book a meeting or give us a call to discuss your project"

offices:

  - name: "London"
    address: |
      60-62 Commercial Street
      E1 6LT
      London, UK
    humanized_phone_number: "+44 20 7183 4250"
    phone_number: "+442071834250"
    calendly_link_title: "Book a meeting"
    calendly_link: "https://calendly.com/unboxed"
    email: "hellolondon@unboxed.co"
    map_link_title: "Open in Google Maps"
    map_link: "https://goo.gl/maps/hrEPw5rgq9S2"
    interactive_map: "https://a.tiles.mapbox.com/v4/web-unboxed.oebohej0/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoid2ViLXVuYm94ZWQiLCJhIjoiY2lpN2hneWlvMDA4YnYzbHg2NHFqbW9yaSJ9.J1ksUtXP8Xsb2piQUcWJfA"

    transport_directions: "Nearest stations"
    station_and_parking:
      - name: "Liverpool Street"
        link: "https://tfl.gov.uk/tube/stop/940GZZLULVT/liverpool-street-underground-station"
        icon: "tfl-icon__underground.png"
      - name: "Shoreditch High Street"
        link: "https://tfl.gov.uk/overground/stop/910GSHRDHST/shoreditch-high-street-rail-station"
        icon: "tfl-icon__overground.png"
      - name: "Aldgate East"
        link: "https://tfl.gov.uk/tube/stop/940GZZLUADE/aldgate-east-underground-station/"
        icon: "tfl-icon__underground.png"
---

<header class="page-header page-header--bottom-margin">
  <div class="page-header__container">
    <h1 class="page-header__title">
      <%= current_page.data.header.title %>
    </h1>

    <p class="page-header__subtitle">
      <%= current_page.data.header.subtitle %>
    </p>
  </div>
</header>

<div class="container">
  <div class="container--grid" id="offices" data-header-waypoint>
    <% current_page.data.offices.each do |office| %>
      <div class="contact-page-tile" id="<%= office.name.gsub(/\s+/, "") %>">
        <div class="contact-page-tile__container">

          <div class="contact-page-tile__content">
            <p class="contact-page-tile__title"><%= office.name %></p>
            <address class="contact-page-address">
              <%= simple_format office.address %>
            </address>

            <% if office.calendly_link %>
              <div class="contact-page-address__button-container">
                <a class="contact-page-address__button" href="<%= office.calendly_link %>"
                   onClick="sendToGaContactPageBookMeetingClickEvent()"
                   target="_blank">
                  <%= office.calendly_link_title %>
                </a>
              </div>
            <% end %>

            <div class="contact-page-address__phone-number">
              <a href="tel:<%= office.phone_number %>">
                <i class="fa fa-phone contact-page-address__phone-icon"></i>
                <%= office.humanized_phone_number %>
              </a>
            </div>

            <div class="contact-page-address__email">
              <a href="mailto:<%= office.email %>" onclick='sendToGaContactPageEmailClickEvent()'>
                <i class="fa fa-envelope contact-page-address__email-icon"></i>
                <%= office.email %>
              </a>
            </div>

            <div class="contact-page-address__map-link">
              <a href="<%= office.map_link %>" target="_blank">
                <i class="fa fa-map-marker fa-lg contact-page-address__map-icon"></i>
                <%= office.map_link_title %>
              </a>
            </div>

            <div class="contact-page-address__directions">
              <%= office.transport_directions %>
               <ul>
                 <% office.station_and_parking.each do |place| %>
                   <li class="contact-page-address__direction-point">
                     <a href="<%= place.link %>" target="_blank">
                       <%= image_tag place.icon, class: 'contact-page-address__transport-icon', alt: place.name %>
                       <%= place.name %>
                     </a>
                   </li>
                 <% end %>
               </ul>
            </div>
          </div>

          <iframe class="contact-page-tile__image" frameBorder='0' src="<%= office.interactive_map %>"></iframe>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  function sendToGaContactPageEmailClickEvent() {
    ga('send', 'event', 'Email link', 'Click', 'hellolondon@unboxed', '1');
  }

  function sendToGaContactPageBookMeetingClickEvent() {
    ga('send', 'event', 'Traffic to Other Websites', 'Click', 'Book a Meeting on Calendly', '1');
  }
</script>
