---
title: "get in touch..."
subtitle: "to arrange a meeting or have a chat, just drop us a line"

offices:

  - name: "London"
    address: |
      17 Blossom Street
      E1 6PL
      London, UK
    humanized_phone_number: "+44 20 7183 4250"
    phone_number: "+442071834250"
    email: "hello@unboxed.co"
    map_link: "http://goo.gl/maps/AuKrs"
    map_image: "https://a.tiles.mapbox.com/v4/web-unboxed.oebohej0/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoid2ViLXVuYm94ZWQiLCJhIjoiY2lpN2hneWlvMDA4YnYzbHg2NHFqbW9yaSJ9.J1ksUtXP8Xsb2piQUcWJfA"

    nearest_stations:
      - name: "liverpool street"
        link: "https://tfl.gov.uk/tube/stop/940GZZLULVT/liverpool-street-underground-station"
        tfl_icon: "tfl-icon__underground.png"
      - name: "shoreditch highstreet"
        link: "https://tfl.gov.uk/overground/stop/910GSHRDHST/shoreditch-high-street-rail-station"
        tfl_icon: "tfl-icon__overground.png"

  - name: "Cape Town"
    address: |
      303 Buchanan Chambers
      Cnr Pearce & Warwick Street
      7735
      Claremont, SA
    humanized_phone_number: "+27 21 671 4503"
    phone_number: "+27216714503"
    email: "hello@unboxed.co"
    map_link: "http://goo.gl/maps/JkNC9"
    map_image: "https://a.tiles.mapbox.com/v4/web-unboxed.oec60hbb/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1Ijoid2ViLXVuYm94ZWQiLCJhIjoiY2lpN2hneWlvMDA4YnYzbHg2NHFqbW9yaSJ9.J1ksUtXP8Xsb2piQUcWJfA"
---

<header class="page-header">
  <div class="page-header__container">
    <h1 class="page-header__title">
      <%= current_page.data.title %>
    </h1>

    <p class="page-header__subtitle">
      <%= current_page.data.subtitle %>
    </p>
  </div>
</header>

<div class="container--contact-page">
  <% current_page.data.offices.each do |office| %>
    <div class="contact-page-tile">
      <div class="contact-page-tile__container">
        <div class="contact-page-tile__content">
          <p class="contact-page-tile__title"><%= office.name %></p>
          <address class="contact-page-address">
            <%= simple_format office.address %>
          </address>
          <div class="contact-page-address__phone-number">
            <a href="tel:<%= office.phone_number %>">
            <i class="fa fa-phone contact-page-address__phone-icon"></i>
              <%= office.humanized_phone_number %>
            </a>
          </div>
          <div class="contact-page-address__email"><a href="mailto:<%= office.email %>">
            <i class="fa fa-envelope contact-page-address__email-icon"></i>
            <%= office.email %>
          </a></div>
          <div class="contact-page-address__map-link">
            <a href="<%= office.map_link %>" target="_blank">
            <i class="fa fa-map-marker fa-lg contact-page-address__map-icon"></i>
              open in maps
            </a>
          </div>
          <% if office.nearest_stations %>
            <div class="contact-page-address__directions">nearest stations
            <% office.nearest_stations.each do |station| %>
             <p class="contact-page-address__directions-station">
               <a href="<%= station.link %>" target="_blank">
                 <%= image_tag station.tfl_icon, class: 'contact-page-address__tfl-icon' %>
                 <%= station.name %>
               </a>
             </p>
            <% end %>
            </div>
          <% end %>
        </div>
        <div class="contact-page-tile__image-container">
          <iframe width='100%' height='500px' frameBorder='0' src="<%= office.map_image %>"></iframe>
        </div>
      </div>
    </div>
  <% end %>
</div>
