---
title: "The largest Ruby on Rails development agency in London and Cape Town"
meta_description: "We are a web and mobile development agency, specialising in Ruby on Rails and Agile delivery, with offices in London and Cape Town"
meta_keywords: "Web developers, London web developers, Cape Town web developers, website developers, website development, mobile developers, London mobile developers, Cape Town mobile developers, iPhone developers, iPhone development, iPad developers, iPad development, Android developers, Android development, iPhone app developers, iPad app developers, Android app developers, Agile development, Agile development processes, Agile developers, Agile mentor, Agile coach, scrum masters, business analysts, Agile consultancy, social networking websites, price comparison tools, e-commerce solutions, digital strategies, digital solutions, UX, user experience, software development, software developers, Unboxed, Ruby on Rails London, Ruby on Rails developer, Ruby on Rails development, Ruby on Rails development London, Ruby on Rails developer London, Ruby on Rails agency, Ruby on Rails agency London, culture change"

services:
  title: "What we do"
  content:
    - title: "Grow your idea"
      image: "/assets/images/homepage/service-grow.jpg"
      text: "You have an idea for a digital product? Great. We love ideas. Share it with us and we will help grow it."

    - title: "Build your digital product"
      image: "/assets/images/homepage/service-build.jpg"
      text: "You already know what you want and are looking for a partner to build it? Collaborate with one of our agile design and development teams to get your vision to your reality."

    - title: "Change your culture"
      image: "/assets/images/homepage/service-change.jpg"
      text: "You could be working towards something amazing, but is the way you are working slowing you down? We are agile pioneers. We can show you how you can be too."

additional_services:
  title: "What we also do"
  content:
    - title: "Rescue your product"
      image: "/assets/images/homepage/rescue-product.jpg"
      text: "If a red light is flashing and something has gone wrong - don’t panic. If it can be fixed, we can fix it."

    - title: "Your next phase"
      image: "/assets/images/homepage/next-phase.jpg"
      text: "Whichever phase you are heading into, let us jump in to provide clarity and insight for your journey through to live."

    - title: "Support you"
      image: "/assets/images/homepage/support-you.jpg"
      text: "If we built it, we will support it. We will love your product for as long as you and your users love it."

projects:
  title: "Who we work with"
  content:
    - name: "Springer Nature"
      description: "Exploring the impact of online publishing with Bookmetrix"
      image: "/assets/images/project-stories/bookmetrix.jpg"
      link: "/project-stories/bookmetrix"

    - name: "Buckinghamshire Council"
      description: "12-week Beta phase for two services with annual cost-saving of £350,000"
      image: "/assets/images/project-stories/bucks-cc-beta.jpg"
      link: "/project-stories/bucks-cc-beta"

    - name: "Petitions"
      description: "Public sector collaboration with GDS to relaunch Petitions platform for UK citizens"
      image: "/assets/images/project-stories/petitions.jpg"
      link: "/project-stories/petitions"

contact:
  title: "What about you?"
  text: "Martyn is our Head of Product. If you have a challenge, or even just a question, get in touch:"
  email: "hello@unboxed.co"
  display_email: "martyn.evans@unboxed.co"
  email_subject: "Homepage enquiry"
  acknowledgement: "Thanks for sending, we’ll be in touch."
  image_description: "Martyn Evans"

newsletter:
  title: "Our newsletter"
  text: "Or if you're not currently facing any challenges, we'd love to connect anyway. Pop in your email address and join the world of Unboxed through our updates:"

contributions:
  title: "What we do in the community"
  content:
    - name: "Rails Core contribution"
      description: "Andrew, our CTO, is one of 12 Rails Core Members and the only member in the UK"
      image: "/assets/images/homepage/andrew-white.jpg"
      link: "http://rubyonrails.org/community/"

    - name: "London Ruby User Group"
      description: "Murray, one of our senior developers, co-organises the monthly LRUG meetup"
      image: "/assets/images/homepage/murray-steele.jpg"
      link: "http://lrug.org"

    - name: "Mentoring"
      description: "Starting from small ideas, we mentor across a variety of incubators and accelerators"
      image: "/assets/images/homepage/mentoring-people.jpg"
      link: "http://www.50thgeneration.org"

blog_title: "What we have been blogging about"

---

<div class="homepage">
  <header class="homepage-header">
    <h1 class="homepage-header__text">
      We're Unboxed. We <strong>collaborate</strong> to grow your ideas for digital products and services. Then we <strong>build</strong> them. We can also improve the way your organisation works.<br><br>
      We do this through <strong>agile</strong> and <strong>lean</strong> techniques, using <strong>Ruby on Rails</strong>.
    </h1>
  </header>

  <section class="homepage-services" data-header-waypoint>
    <h2 class="homepage-services__title">
      <%= current_page.data.services.title %>
    </h2>

    <% current_page.data.services.content.each do |service| %>
      <div class="homepage-services__service">
        <div class="homepage-service">
          <h3 class="homepage-service__title">
            <%= service.title %>
          </h3>
          <%= image_tag service.image, alt: service.title, class: "homepage-service__image", srcset: retina_srcset(service.image) %>
          <p class="homepage-service__paragraph">
            <%= service.text %>
          </p>
        </div>
      </div>
    <% end %>
  </section>

  <section class="homepage-additional-services">
    <h2 class="homepage-additional-services__title">
      <%= current_page.data.additional_services.title %>
    </h2>

    <% current_page.data.additional_services.content.each do |service| %>
      <div class="homepage-additional-services__service">
        <div class="homepage-service homepage-service--white">
          <h3 class="homepage-service__title">
            <%= service.title %>
          </h3>
          <%= image_tag service.image, alt: service.title, class: "homepage-service__image", srcset: retina_srcset(service.image) %>
          <p class="homepage-service__paragraph">
            <%= service.text %>
          </p>
        </div>
      </div>
    <% end %>
  </section>

  <section class="homepage-tiles-section">
    <h2 class="homepage-tiles-section__title">
      <%= current_page.data.projects.title %>
    </h2>

    <% current_page.data.projects.content.each do |project| %>
      <a class="homepage-tile" href="<%= project.link %>" title="<%= project.name %>">
        <div class="homepage-tile__content">
          <img class="homepage-tile__image" src="<%= project.image %>" alt="<%= project.name %>">

          <h3 class="homepage-tile__title">
            <%= project.name %>
          </h3>

          <p class="homepage-tile__paragraph">
            <%= project.description %>
          </p>
        </div>
      </a>
    <% end %>
  </section>

  <section class="homepage-contact">
    <div class="homepage-contact__container">
      <h2 class="homepage-contact__title">
        <%= current_page.data.contact.title %>
      </h2>

      <%= image_tag "/assets/images/homepage/contact--mobile.jpg", alt: current_page.data.contact.image_description, class: "homepage-contact__image", srcset: "/assets/images/homepage/contact--mobile@2x.jpg 2x" %>

      <p class="homepage-contact__paragraph">
        <%= current_page.data.contact.text %>
      </p>

      <form class="homepage-contact-form" id="contact-form" action="//formspree.io/<%= current_page.data.contact.email %>" method="POST" data-required-form>
        <p class="homepage-contact-form__to-disabled-input" data-to="<%= current_page.data.contact.display_email %>"></p>
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_next" value="/#contact-form" />
        <input type="hidden" name="_subject" value="<%= current_page.data.contact.email_subject %>" />
        <input class="homepage-contact-form__email-input" type="email" name="_replyto" placeholder="your email" required />
        <textarea class="homepage-contact-form__message-input" name="comment" placeholder="message" required></textarea>
        <input class="homepage-contact-form__send-button" type="submit" value="send">
      </form>

      <div class="homepage-contact-form__acknowledgement">
        <%= current_page.data.contact.acknowledgement %>
      </div>

      <script>
        document.querySelector('[data-required-form]').onsubmit = function (event) {
          var elements = this.querySelectorAll('[required]');
          for (var i = 0; i < elements.length; i++) {
            if (elements[i].value === '' || elements[i].value === elements[i].placeholder) {
              elements[i].classList.add('error');
              event.preventDefault ? event.preventDefault() : (window.event.returnValue = false);
            } else {
              elements[i].classList.remove('error');
            }
          }
        };
      </script>
    </div>
  </section>

  <section class="homepage-newsletter">
    <h2 class="homepage-newsletter__title">
      <%= current_page.data.newsletter.title %>
    </h2>

    <p class="homepage-newsletter__paragraph">
      <%= current_page.data.newsletter.text %>
    </p>

    <%= partial 'newsletter', locals: { block_class: 'homepage-newsletter' } %>
  </section>

  <section class="homepage-tiles-section">
    <div class="homepage-tiles-section__title">
      <%= current_page.data.contributions.title %>
    </div>

    <% current_page.data.contributions.content.each do |contribution| %>
      <a class="homepage-tile" href="<%= contribution.link %>" title="<%= contribution.name %>" target="_blank">
        <div class="homepage-tile__content">
          <img class="homepage-tile__image" src="<%= contribution.image %>" alt="<%= contribution.name %>">

          <h3 class="homepage-tile__title">
            <%= contribution.name %>
          </h3>

          <p class="homepage-tile__paragraph">
            <%= contribution.description %>
          </p>
        </div>
      </a>
    <% end %>
  </section>

  <section class="homepage-tiles-section">
    <h2 class="homepage-tiles-section__title">
      <%= current_page.data.blog_title %>
    </h2>

    <% blog(:blog).articles.reject { |article| article.data.weekly_roundup? }.first(6).each do |article| %>
      <a class="homepage-blog-tile" href="<%= article.url %>" title="<%= article.title %>">
        <div class="homepage-blog-tile__content">
          <div class="homepage-blog-tile__title">
            <%= truncate(article.title, length: 70) %>
          </div>

          <div>
            <div class="homepage-blog-tile__author">
              <%= article_info(data.people, article.data).author_names %>
            </div>

            <div class="homepage-blog-tile__date">
              <%= Time.parse(article.data.date).strftime("%B %e, %Y") %>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </section>
</div>

<%= partial 'book_meeting' %>
