---
title: "The largest Ruby on Rails development agency in London"
meta_description: "We are a web and mobile development agency, specialising in Ruby on Rails and Agile delivery, with offices in London"
meta_keywords: "Web developers, London web developers, website developers, website development, mobile developers, London mobile developers, iPhone developers, iPhone development, iPad developers, iPad development, Android developers, Android development, iPhone app developers, iPad app developers, Android app developers, Agile development, Agile development processes, Agile developers, Agile mentor, Agile coach, scrum masters, business analysts, Agile consultancy, social networking websites, price comparison tools, e-commerce solutions, digital strategies, digital solutions, UX, user experience, software development, software developers, Unboxed, Ruby on Rails London, Ruby on Rails developer, Ruby on Rails development, Ruby on Rails development London, Ruby on Rails developer London, Ruby on Rails agency, Ruby on Rails agency London, culture change"

services:
  title: "What we do"
  content:
    - title: "Kickstart digital innovation"
      image: "/assets/images/homepage/service-discover.jpg"
      text: "Work with our strategic agile teams to unearth, prioritise and validate the best digital opportunities for your customers and business."
      link: "/services/kickstart-digital-innovation"
    - title: "Build your digital product"
      image: "/assets/images/homepage/service-build.jpg"
      text: "Collaborate with our integrated agile design and development teams to build the right product the right way."
      link: "/services/build-your-digital-product"
    - title: "Grow and improve"
      image: "/assets/images/homepage/service-transform.jpg"
      text: "Build a culture of agile, cross- functional collaboration and continuous learning to support your growing digital services."
      link: "/services/grow-and-improve"

products:
  title: "Who we work with"
  content:
    - name: "SH:24"
      description: "Transformation of NHS face-to-face sexual health clinic to digital service in 8 weeks"
      image: "/assets/images/product-stories/sh24.jpg"
      link: "/product-stories/sh24/"

    - name: "Guy's and St. Thomas'"
      description: "Introducing a patient-led innovation programme into the NHS with Guy's and St. Thomas' NHS Foundation Trust"
      image: "/assets/images/product-stories/guys-and-st-thomas.jpg"
      link: "/product-stories/guys-and-st-thomas"

    - name: "Petitions"
      description: "Public sector collaboration with GDS to relaunch Petitions platform for UK citizens"
      image: "/assets/images/product-stories/petitions.jpg"
      link: "/product-stories/petitions"

  client_logos:
    - name: "Deliveroo"
      image: "/assets/images/homepage/logo-deliveroo.gif"
    - name: "Which?"
      image: "/assets/images/homepage/logo-which.gif"
    - name: "Sky"
      image: "/assets/images/homepage/logo-sky.gif"
    - name: "Not on the High Street"
      image: "/assets/images/homepage/logo-not-on-the-highstreet.gif"
    - name: "Southwark CCG"
      image: "/assets/images/homepage/logo-southwark-ccg.jpg"
    - name: "Springer Nature"
      image: "/assets/images/homepage/logo-springer-nature.jpg"
    - name: "Apps for Good"
      image: "/assets/images/homepage/logo-apps-for-good.gif"
    - name: "GOV.UK"
      image: "/assets/images/homepage/logo-govuk.jpg"
    - name: "Ministry of Justice"
      image: "/assets/images/homepage/logo-moj.gif"
    - name: "HM Land Registry"
      image: "/assets/images/homepage/logo-hm-land-registry.gif"
    - name: "Department for Education"
      image: "/assets/images/homepage/logo-dfe.gif"
    - name: "DPD"
      image: "/assets/images/homepage/logo-dpd.gif"
    - name: "Nature Jobs"
      image: "/assets/images/homepage/logo-naturejobs.jpg"
    - name: "The Honeycomb Works"
      image: "/assets/images/homepage/logo-honeycomb-works.jpg"
    - name: "Compassion in Dying"
      image: "/assets/images/homepage/logo-cid.jpg"
    - name: "Tunbridge Wells Borough Council"
      image: "/assets/images/homepage/logo-tunbridge-wells.gif"

contact:
  title: "What about you?"
  text: "Martyn is our Head of Product. If you have a challenge, or even just a question, get in touch:"
  email: "hello@unboxed.co"
  display_email: "martyn.evans@unboxed.co"
  email_subject: "Homepage enquiry"
  acknowledgement: "Thanks for sending, we’ll be in touch."
  image_description: "Martyn Evans"

newsletter:
  title: "Our newsletter"
  text: "Or if you're not currently facing any challenges, we'd love to connect anyway. Pop in your email address and join the world of Unboxed through our updates:"

blog_title: "What we have been blogging about"

---

<div class="homepage">
  <header class="homepage-header">
    <h1 class="homepage-header__text">
      We're Unboxed. We <strong>collaborate</strong> to grow your ideas for digital products. Then we <strong>build</strong> them. We can also improve the way your organisation works.<br><br>
      We do this through <strong>agile</strong> and <strong>lean</strong> techniques, using <strong>Ruby on Rails</strong>.
    </h1>
  </header>

  <section class="services" data-header-waypoint>
    <h2 class="services__title">
      <%= current_page.data.services.title %>
    </h2>
    <% current_page.data.services.content.each do |service| %>
      <div class="services-container__service">
        <div class="service">
          <h3 class="service__title">
            <%= service.title %>
          </h3>
          <%= image_tag service.image, alt: service.title, class: "service__image", srcset: retina_srcset(service.image) %>
          <p class="service__paragraph">
            <%= service.text %>
          </p>
        </div>
        <div class="service__button-container">
          <a class="service__button" href=<%= service.link %>
           onClick="sendToGaHomePageServiceClickEvent('<%= service.title %>');">
            Learn more
          </a>
        </div>
      </div>
    <% end %>
  </section>

  <%= partial 'showcase_tiles_section' , locals: current_page.data.products %>

  <section class="homepage-contact">
    <div class="homepage-contact__container">
      <h2 class="homepage-contact__title">
        <%= current_page.data.contact.title %>
      </h2>

      <%= image_tag "/assets/images/homepage/contact--mobile.jpg", alt: current_page.data.contact.image_description, class: "homepage-contact__image", srcset: "/assets/images/homepage/contact--mobile@2x.jpg 2x" %>

      <p class="homepage-contact__paragraph">
        <%= current_page.data.contact.text %>
      </p>

      <form class="homepage-contact-form" id="contact-form" action="//formspree.io/<%= current_page.data.contact.email %>" method="POST" data-required-form>
        <p class="homepage-contact-form__to-disabled-input" data-to="<%= current_page.data.contact.display_email %>"></p>
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_next" value="/#contact-form" />
        <input type="hidden" name="_subject" value="<%= current_page.data.contact.email_subject %>" />
        <input class="homepage-contact-form__email-input" type="email" name="_replyto" placeholder="Your email" required />
        <textarea class="homepage-contact-form__message-input" name="comment" placeholder="Message" required></textarea>
        <input class="homepage-contact-form__send-button" type="submit" value="Send">
      </form>

      <div class="homepage-contact-form__acknowledgement">
        <%= current_page.data.contact.acknowledgement %>
      </div>

      <script>
        document.querySelector('[data-required-form]').onsubmit = function (event) {
          var elements = this.querySelectorAll('[required]');
          for (var i = 0; i < elements.length; i++) {
            if (elements[i].value === '' || elements[i].value === elements[i].placeholder) {
              elements[i].classList.add('error');
              event.preventDefault ? event.preventDefault() : (window.event.returnValue = false);
            } else {
              elements[i].classList.remove('error');
            }
          }
        };
      </script>
    </div>
  </section>

  <section class="homepage-newsletter">
    <h2 class="homepage-newsletter__title">
      <%= current_page.data.newsletter.title %>
    </h2>

    <p class="homepage-newsletter__paragraph">
      <%= current_page.data.newsletter.text %>
    </p>

    <%= partial 'newsletter', locals: { block_class: 'homepage-newsletter', onclick_function: 'sendToGaHomePageSubscribeClickEvent()' } %>
  </section>

  <section class="showcase-tiles-section">
    <h2 class="showcase-tiles-section__title">
      <%= current_page.data.blog_title %>
    </h2>

    <% blog(:blog).articles.reject { |article| article.data.weekly_roundup? }.first(6).each do |article| %>
      <a class="small-tile" href="<%= article.url %>" title="<%= article.title %>">
        <div class="small-tile__content">
          <div class="small-tile__title">
            <%= truncate(article.title, length: 70) %>
          </div>

          <div>
            <div class="small-tile__author">
              <%= article_info(data.people, article.data).author_names %>
            </div>

            <div class="small-tile__date">
              <%= Time.parse(article.data.date).strftime("%B %e, %Y") %>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </section>
</div>

<%= partial 'book_meeting' %>

<script>
  function sendToGaHomePageServiceClickEvent(serviceName) {
    ga('send', 'event', 'Service', 'Click', serviceName, '1');
  }
  function sendToGaHomePageSubscribeClickEvent() {
    ga('send', 'event', 'Button', 'Click', 'Homepage newsletter subscribe', '1');
  }
</script>
