---
title: "The most experienced Ruby on Rails development agency in London"
meta_description: "We are a web and mobile development agency, specialising in Ruby on Rails and Agile delivery, with offices in London"
meta_keywords: "Web developers, London web developers, website developers, website development, mobile developers, London mobile developers, iPhone developers, iPhone development, iPad developers, iPad development, Android developers, Android development, iPhone app developers, iPad app developers, Android app developers, Agile development, Agile development processes, Agile developers, Agile mentor, Agile coach, scrum masters, business analysts, Agile consultancy, social networking websites, price comparison tools, e-commerce solutions, digital strategies, digital solutions, UX, user experience, software development, software developers, Unboxed, Ruby on Rails London, Ruby on Rails developer, Ruby on Rails development, Ruby on Rails development London, Ruby on Rails developer London, Ruby on Rails agency, Ruby on Rails agency London, culture change"

services:
  title: "What we do"
  content:
    - title: "Kickstart digital innovation"
      image: "/assets/images/homepage/service-discover.jpg"
      text: "Work with our strategic agile teams to unearth, prioritise and validate the best digital opportunities for your customers and business."
      link: "/services/kickstart-digital-innovation"
    - title: "Build your digital product"
      image: "/assets/images/homepage/service-build.jpg"
      text: "Collaborate with our integrated agile design and development teams to build the right product the right way."
      link: "/services/build-your-digital-product"
    - title: "Grow and improve"
      image: "/assets/images/homepage/service-transform.jpg"
      text: "Build a culture of agile, cross- functional collaboration and continuous learning to support your growing digital services."
      link: "/services/grow-and-improve"

products:
  title: "Who we work with"
  client_logos:
    - name: "SH:24"
      image: "/assets/images/homepage/logo-sh24.gif"
    - name: "Guy's and St. Thomas'"
      image: "/assets/images/homepage/logo-gstt.png"
    - name: "Public Health England"
      image: "/assets/images/homepage/logo-phe.png"
    - name: "Southwark CCG"
      image: "/assets/images/homepage/logo-southwark-ccg.gif"
    - name: "GOV.UK"
      image: "/assets/images/homepage/logo-govuk.gif"
    - name: "V&A"
      image: "/assets/images/homepage/logo-v-and-a.png"
    - name: "Funding Circle"
      image: "/assets/images/homepage/logo-funding-circle.gif"
    - name: "Springer Nature"
      image: "/assets/images/homepage/logo-springer-nature.gif"
    - name: "Not on the High Street"
      image: "/assets/images/homepage/logo-not-on-the-highstreet.gif"
    - name: "Deliveroo"
      image: "/assets/images/homepage/logo-deliveroo.gif"
    - name: "Pearson"
      image: "/assets/images/homepage/logo-pearson.gif"
    - name: "Channel 5"
      image: "/assets/images/homepage/logo-channel-5.png"
    - name: "OLEV"
      image: "/assets/images/homepage/logo-olev.png"
    - name: "Petitions"
      image: "/assets/images/homepage/logo-petitions.png"
    - name: "Ministry of Justice"
      image: "/assets/images/homepage/logo-moj.gif"
    - name: "DPD"
      image: "/assets/images/homepage/logo-dpd.gif"
    - name: "Which?"
      image: "/assets/images/homepage/logo-which.gif"
    - name: "Contiki"
      image: "/assets/images/homepage/logo-contiki.gif"
    - name: "Buckinghamshire CC"
      image: "/assets/images/homepage/logo-bucks-cc.png"
    - name: "Newham Council"
      image: "/assets/images/homepage/logo-newham.png"
    - name: "Hackney Council"
      image: "/assets/images/homepage/logo-hackney.png"
    - name: "Lewisham Homes"
      image: "/assets/images/homepage/logo-lewisham-homes.png"
    - name: "Plymouth University"
      image: "/assets/images/homepage/logo-plymouth-uni.gif"
    - name: "Jersey Petitions"
      image: "/assets/images/homepage/logo-jersey-petitions.png"
    - name: "Nature Jobs"
      image: "/assets/images/homepage/logo-naturejobs.gif"
    - name: "Southwark Council"
      image: "/assets/images/homepage/logo-southwark-council.gif"
    - name: "Compassion in Dying"
      image: "/assets/images/homepage/logo-cid.gif"
    - name: "Macmillan Cancer Support"
      image: "/assets/images/homepage/logo-macmillan.png"

newsletter:
  title: "Our newsletter"
  text: "Or if you're not currently facing any challenges, we'd love to connect anyway. Pop in your email address and join the world of Unboxed through our updates:"

blog_title: "What we have been blogging about"

call_to_action:
  title: "Do you have a project in mind?"
  link: "mailto:hello@unboxed.co"
---

<div class="homepage">
  <div class="job-alert">
    <h2 class="job-alert__text">We're currently hiring. Check out our <a href="/jobs">jobs page</a>.</h2>
  </div>
  <header class="homepage-header">
    <video preload="metadata" autoplay muted loop type="video/mp4" src="/assets/videos/unboxed_promo_video.mp4"></video>
    <h1 class="homepage-header__text">
      We're Unboxed. We <strong>collaborate</strong> to grow your ideas for digital products. Then we <strong>build</strong> them. We can also improve the way your organisation works.<br><br>
      We do this through <strong>agile</strong> and <strong>lean</strong> techniques, using <strong>Ruby on Rails</strong>.
    </h1>
  </header>

  <section class="services" data-header-waypoint>
    <h2 class="services__title">
      <%= current_page.data.services.title %>
    </h2>
    <% current_page.data.services.content.each do |service| %>
      <div class="services-container__service">
        <div class="service">
          <h3 class="service__title">
            <%= service.title %>
          </h3>
          <%= link_to image_tag(service.image, alt: service.title, class: "service__image--hover", srcset: retina_srcset(service.image)), service.link %>
          <p class="service__paragraph">
            <%= service.text %>
          </p>
        </div>
        <div class="service__button-container">
          <a class="service__button" href=<%= service.link %>
           onClick="sendToGaHomePageServiceClickEvent('<%= service.title %>');">
            Learn more
          </a>
        </div>
      </div>
    <% end %>
  </section>

  <%= partial 'showcase_tiles_section' , locals: current_page.data.products %>

  <section class="showcase-tiles-section">
    <h2 class="showcase-tiles-section__title">
      <%= current_page.data.blog_title %>
    </h2>

    <% blog(:blog).articles.reject { |article| article.data.weekly_roundup? }.first(6).each do |article| %>
      <a class="small-tile" href="<%= article.url %>" title="<%= article.title %>">
        <div class="small-tile__content">
          <div class="small-tile__title">
            <%= truncate(article.title, length: 70) %>
          </div>

          <div>
            <div class="small-tile__author">
              <%= article_info(data.people, article.data).author_names %>
            </div>

            <div class="small-tile__date">
              <%= Time.parse(article.data.date).strftime("%B %e, %Y") %>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </section>
</div>

<section class="call-to-action-section">
  <h2 class="call-to-action-section__title">
    <%= current_page.data.call_to_action.title %>
  </h2>
  <a class="service__button" href=<%= current_page.data.call_to_action.link %>>Get in touch</a>
</section>

<%= partial 'book_meeting' %>

<script>
  function sendToGaHomePageServiceClickEvent(serviceName) {
    ga('send', 'event', 'Service', 'Click', serviceName, '1');
  }
  function sendToGaHomePageSubscribeClickEvent() {
    ga('send', 'event', 'Button', 'Click', 'Homepage newsletter subscribe', '1');
  }
</script>
