---
header_text: |
  We're Unboxed. We **collaborate** to grow your ideas for digital products and services. Then we **build** them. We can also improve the way your organisation works.

  We do this through **agile** and **lean** techniques, using **Ruby on Rails**.

services:
  title: "What we do"
  content:
    - title: "Grow your idea"
      image: "/assets/images/homepage-service-grow.jpg"
      text: "You have an idea for a digital product? Great. We love ideas. Share it with us and we will help grow it."

    - title: "Build your digital product"
      image: "/assets/images/homepage-service-build.jpg"
      text: "You already know what you want and are looking for a partner to build it? Collaborate with one of our agile design and development teams to get your vision to your reality."

    - title: "Change your culture"
      image: "/assets/images/homepage-service-change.jpg"
      text: "You could be working towards something amazing, but is the way you are working slowing you down? We are agile pioneers. We can show you how you can be too."

projects:
  - name: "SH:24"
    description: "Unboxed transform NHS sexual health clinics to a digital service in 8 weeks"
    image: "https://www.unboxedconsulting.com/images/project_stories/overview/1_standard.jpg?1424970115"

  - name: "Contiki Holidays"
    description: "Powerful offshore partnership creates 47% increase in bookings for Contiki Tours"
    image: "https://www.unboxedconsulting.com/images/project_stories/overview/10_standard.png?1434620380"

  - name: "Naturejobs"
    description: "Recruitment site revitalisation for major scientific publishing group"
    image: "https://www.unboxedconsulting.com/images/project_stories/overview/2_standard.jpg?1424967476"
---

<div class="homepage">
  <div class="homepage-header">
    <div class="homepage-header__text">
      <%= Tilt['markdown'].new { current_page.data.header_text }.render %>
    </div>
  </div>

  <div class="homepage-services" data-header-waypoint>
    <h2 class="homepage-services__title">
      <%= current_page.data.services.title %>
    </h2>

    <% current_page.data.services.content.each do |service| %>
      <div class="homepage-services__service">
        <div class="homepage-service">
          <h3 class="homepage-service__title">
            <%= service.title %>
          </h3>
          <img class="homepage-service__image" <%= retina_src service.image %> alt="<%= service.title %>">
          <p class="homepage-service__paragraph">
            <%= service.text %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="homepage-services homepage-services--gray">
    <h2 class="homepage-services__title">
      What we also do
    </h2>

    <div class="homepage-service">
      <h3 class="homepage-service__title">
        Rescue your product
      </h3>
      <p class="homepage-service__paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia officiis, inventore iusto consequuntur.
      </p>
    </div>

    <div class="homepage-service">
      <h3 class="homepage-service__title">
        Your next phase
      </h3>
      <p class="homepage-service__paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia officiis, inventore iusto consequuntur.
      </p>
    </div>

    <div class="homepage-service">
      <h3 class="homepage-service__title">
        Support you
      </h3>
      <p class="homepage-service__paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia officiis, inventore iusto consequuntur.
      </p>
    </div>
  </div>

  <div class="homepage-latest">
    <h2 class="homepage-latest__title">
      Who we have partnered with
    </h2>

    <% current_page.data.projects.each do |project| %>
      <a class="homepage-tile" href="#">
        <div class="homepage-tile__content">
          <img class="homepage-tile__image" src="<%= project.image %>" alt="<%= project.name %>">

          <h3 class="homepage-tile__title">
            <%= project.name %>
          </h3>

          <p class="homepage-tile__paragraph">
            <%= project.description %>
          </p>
        </div>
      </a>
    <% end %>
  </div>

  <div class="component">
    <div class="component__tile">
      <div class="text-tile">
        <h2 class="text-tile__title">
          What about you?
        </h2>

        <p class="text-tile__paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat nulla itaque ex voluptatibus magni sunt alias, sequi, molestias aspernatur, enim asperiores numquam placeat dignissimos ipsa quam recusandae consectetur illum maxime!
        </p>

        <form class="homepage-contact" action="//formspree.io/tom.sabin@unboxedconsulting.com" method="POST">
          <input type="text" name="_gotcha" style="display:none" />
          <input type="hidden" name="_subject" value="Homepage enquiry">
          <input type="email" name="_replyto" placeholder="Your email" >
          <textarea name="comment"></textarea>
          <input type="submit" value="send">
        </form>
      </div>
    </div>
    <div class="component__tile image-tile">
      <img class="image-tile__image" src="http://placehold.it/480/496" alt="" />
    </div>
  </div>

  <div class="homepage-latest">
    <h2 class="homepage-latest__title">
      What we have been blogging about
    </h2>

    <% blog.articles.reject { |article| article.data.weekly_roundup? }.first(3).each do |article| %>
      <a class="homepage-blog-tile" href="<%= article.url %>">
        <div class="homepage-blog-tile__content">
          <div class="homepage-blog-tile__title">
            <%= truncate(article.title, length: 70) %>
          </div>

          <div>
            <div class="homepage-blog-tile__author">
              <%= article.data.author %>
            </div>

            <div class="homepage-blog-tile__date">
              <%= Time.parse(article.data.date).strftime("%B %e, %Y") %>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>

  <div class="homepage-newsletter">
    <h2 class="homepage-newsletter__title">
      Our newsletter
    </h2>

    <p class="homepage-newsletter__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio corrupti eos at perspiciatis. Quidem illo, recusandae, hic adipisci officiis itaque laboriosam minus est harum sequi odit accusamus. Recusandae ut, commodi.
    </p>

    <form action="//unboxedconsulting.us11.list-manage.com/subscribe/post?u=831facdc5caf30c092463f1c0&amp;id=e924413a0b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <input type="email" placeholder="your email" value="" name="EMAIL" id="mce-EMAIL">
        <div id="mce-responses">
          <div id="mce-error-response" style="display:none"></div>
          <div id="mce-success-response" style="display:none"></div>
        </div>
        <div style="position:absolute;left:-5000px;"><input type="text" name="b_831facdc5caf30c092463f1c0_e924413a0b" tabindex="-1" value=""></div>
        <input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe">
      </div>
    </form>
  </div>
</div>

