---
title: "The largest Ruby on Rails development agency in London"
meta_description: "We are a web and mobile development agency, specialising in Ruby on Rails and Agile delivery, with offices in London"
meta_keywords: "Web developers, London web developers, website developers, website development, mobile developers, London mobile developers, iPhone developers, iPhone development, iPad developers, iPad development, Android developers, Android development, iPhone app developers, iPad app developers, Android app developers, Agile development, Agile development processes, Agile developers, Agile mentor, Agile coach, scrum masters, business analysts, Agile consultancy, social networking websites, price comparison tools, e-commerce solutions, digital strategies, digital solutions, UX, user experience, software development, software developers, Unboxed, Ruby on Rails London, Ruby on Rails developer, Ruby on Rails development, Ruby on Rails development London, Ruby on Rails developer London, Ruby on Rails agency, Ruby on Rails agency London, culture change"

services:
  title: "What we do"
  content:
    - title: "Start your digital journey"
      image: "/assets/images/homepage/service-discover.jpg"
      text: "Finding the best route when transitioning to digital is hard. Work with our strategic agile teams to unearth, prioritise and validate the best digital opportunities for your customers and business."
      link: "/product-stories/bucks-cc"
    - title: "Build your digital product"
      image: "/assets/images/homepage/service-build.jpg"
      text: "You want to move fast to bring your product to market, but you care about building the right product and building it the right way. Collaborate with our integrated agile design and development teams to progress to your solution."
      link: "/product-stories/petitions"
    - title: "Transform for innovation"
      image: "/assets/images/homepage/service-transform.jpg"
      text: "You need to drive innovation throughout everything you do. Identify and respond quickly to the fast-paced change of digital. Team with us to build a culture of agile, cross-functional collaboration and continuous learning."
      link: "/product-stories/sh24"

products:
  title: "Who we work with"
  content:
    - name: "Newham Council"
      description: "Improving residential access and support to homelessness services - the Discovery and Alpha phases"
      image: "/assets/images/product-stories/newham-council.jpg"
      link: "/product-stories/newham-council/"

    - name: "Springer Nature"
      description: "Exploring the impact of online publishing with Bookmetrix"
      image: "/assets/images/product-stories/bookmetrix.jpg"
      link: "/product-stories/bookmetrix"

    - name: "Petitions"
      description: "Public sector collaboration with GDS to relaunch Petitions platform for UK citizens"
      image: "/assets/images/product-stories/petitions.jpg"
      link: "/product-stories/petitions"

contact:
  title: "What about you?"
  text: "Martyn is our Head of Product. If you have a challenge, or even just a question, get in touch:"
  email: "hello@unboxed.co"
  display_email: "martyn.evans@unboxed.co"
  email_subject: "Homepage enquiry"
  acknowledgement: "Thanks for sending, we’ll be in touch."
  image_description: "Martyn Evans"

newsletter:
  title: "Our newsletter"
  text: "Or if you're not currently facing any challenges, we'd love to connect anyway. Pop in your email address and join the world of Unboxed through our updates:"

contributions:
  title: "What we do in the community"
  content:
    - name: "Rails Core contribution"
      description: "Andrew, our CTO, is one of 12 Rails Core Members and the only member in the UK"
      image: "/assets/images/homepage/andrew-white.jpg"
      link: "http://rubyonrails.org/community/"

    - name: "London Ruby User Group"
      description: "Murray, one of our senior developers, co-organises the monthly LRUG meetup"
      image: "/assets/images/homepage/murray-steele.jpg"
      link: "http://lrug.org"

    - name: "Mentoring"
      description: "Starting from small ideas, we mentor across a variety of incubators and accelerators"
      image: "/assets/images/homepage/mentoring-people.jpg"
      link: "http://www.50thgeneration.org"

blog_title: "What we have been blogging about"

---

<div class="homepage">
  <header class="homepage-header">
    <h1 class="homepage-header__text">
      We're Unboxed. We <strong>collaborate</strong> to grow your ideas for digital products. Then we <strong>build</strong> them. We can also improve the way your organisation works.<br><br>
      We do this through <strong>agile</strong> and <strong>lean</strong> techniques, using <strong>Ruby on Rails</strong>.
    </h1>
  </header>

  <section class="homepage-services" data-header-waypoint>
    <h2 class="homepage-services__title">
      <%= current_page.data.services.title %>
    </h2>

    <% current_page.data.services.content.each do |service| %>
      <div class="homepage-services__service">
        <div class="homepage-service">
          <h3 class="homepage-service__title">
            <%= service.title %>
          </h3>
          <%= image_tag service.image, alt: service.title, class: "homepage-service__image", srcset: retina_srcset(service.image) %>
          <p class="homepage-service__paragraph">
            <%= service.text %>
          </p>
        </div>
        <div class="homepage-service__button-container">
          <a class="homepage-service__button" href=<%= service.link %>
           onClick="sendToGaHomePageServiceClickEvent('<%= service.title %>');">
            Explore a related project
          </a>
        </div>
      </div>
    <% end %>
  </section>

  <section class="homepage-tiles-section">
    <h2 class="homepage-tiles-section__title">
      <%= current_page.data.products.title %>
    </h2>

    <% current_page.data.products.content.each do |product| %>
      <a class="homepage-tile" href="<%= product.link %>" title="<%= product.name %>">
        <div class="homepage-tile__content">
          <%= image_tag product.image, alt: product.name, class: 'homepage-tile__image', srcset: retina_srcset(product.image) %>

          <h3 class="homepage-tile__title">
            <%= product.name %>
          </h3>

          <p class="homepage-tile__paragraph">
            <%= product.description %>
          </p>
        </div>
      </a>
    <% end %>
  </section>

  <section class="homepage-contact">
    <div class="homepage-contact__container">
      <h2 class="homepage-contact__title">
        <%= current_page.data.contact.title %>
      </h2>

      <%= image_tag "/assets/images/homepage/contact--mobile.jpg", alt: current_page.data.contact.image_description, class: "homepage-contact__image", srcset: "/assets/images/homepage/contact--mobile@2x.jpg 2x" %>

      <p class="homepage-contact__paragraph">
        <%= current_page.data.contact.text %>
      </p>

      <form class="homepage-contact-form" id="contact-form" action="//formspree.io/<%= current_page.data.contact.email %>" method="POST" data-required-form>
        <p class="homepage-contact-form__to-disabled-input" data-to="<%= current_page.data.contact.display_email %>"></p>
        <input type="text" name="_gotcha" style="display:none" />
        <input type="hidden" name="_next" value="/#contact-form" />
        <input type="hidden" name="_subject" value="<%= current_page.data.contact.email_subject %>" />
        <input class="homepage-contact-form__email-input" type="email" name="_replyto" placeholder="Your email" required />
        <textarea class="homepage-contact-form__message-input" name="comment" placeholder="Message" required></textarea>
        <input class="homepage-contact-form__send-button" type="submit" value="Send">
      </form>

      <div class="homepage-contact-form__acknowledgement">
        <%= current_page.data.contact.acknowledgement %>
      </div>

      <script>
        document.querySelector('[data-required-form]').onsubmit = function (event) {
          var elements = this.querySelectorAll('[required]');
          for (var i = 0; i < elements.length; i++) {
            if (elements[i].value === '' || elements[i].value === elements[i].placeholder) {
              elements[i].classList.add('error');
              event.preventDefault ? event.preventDefault() : (window.event.returnValue = false);
            } else {
              elements[i].classList.remove('error');
            }
          }
        };
      </script>
    </div>
  </section>

  <section class="homepage-newsletter">
    <h2 class="homepage-newsletter__title">
      <%= current_page.data.newsletter.title %>
    </h2>

    <p class="homepage-newsletter__paragraph">
      <%= current_page.data.newsletter.text %>
    </p>

    <%= partial 'newsletter', locals: { block_class: 'homepage-newsletter', onclick_function: 'sendToGaHomePageSubscribeClickEvent()' } %>
  </section>

  <section class="homepage-tiles-section">
    <div class="homepage-tiles-section__title">
      <%= current_page.data.contributions.title %>
    </div>

    <% current_page.data.contributions.content.each do |contribution| %>
      <a class="homepage-tile" href="<%= contribution.link %>" title="<%= contribution.name %>" target="_blank">
        <div class="homepage-tile__content">
          <%= image_tag contribution.image, alt: contribution.name, class: 'homepage-tile__image', srcset: retina_srcset(contribution.image) %>

          <h3 class="homepage-tile__title">
            <%= contribution.name %>
          </h3>

          <p class="homepage-tile__paragraph">
            <%= contribution.description %>
          </p>
        </div>
      </a>
    <% end %>
  </section>

  <section class="homepage-tiles-section">
    <h2 class="homepage-tiles-section__title">
      <%= current_page.data.blog_title %>
    </h2>

    <% blog(:blog).articles.reject { |article| article.data.weekly_roundup? }.first(6).each do |article| %>
      <a class="homepage-blog-tile" href="<%= article.url %>" title="<%= article.title %>">
        <div class="homepage-blog-tile__content">
          <div class="homepage-blog-tile__title">
            <%= truncate(article.title, length: 70) %>
          </div>

          <div>
            <div class="homepage-blog-tile__author">
              <%= article_info(data.people, article.data).author_names %>
            </div>

            <div class="homepage-blog-tile__date">
              <%= Time.parse(article.data.date).strftime("%B %e, %Y") %>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </section>
</div>

<%= partial 'book_meeting' %>

<script>
  function sendToGaHomePageServiceClickEvent(serviceName) {
    ga('send', 'event', 'Service', 'Click', serviceName, '1');
  }
  function sendToGaHomePageSubscribeClickEvent() {
    ga('send', 'event', 'Button', 'Click', 'Homepage newsletter subscribe', '1');
  }
</script>
