---
title: >-
  Join Us - Join our team of Ruby on Rails developers, designers, testers and
  scrum masters
meta_keywords: >-
  web development, mobile development, web developers, mobile developers,
  Unboxed, Ruby on Rails developer, Ruby on Rails developers, Ruby on Rails
  development
header:
  title: Join us
introduction:
  title: Working at Unboxed
  text_1: We foster an environment in which entrepreneurial thinking can thrive.
  text_2: >-
    Our London office consists of a wide and varied team; a blend of designers,
    developers, Scrum Masters, digital strategists and more. We encourage collaboration
    and strive to create a friendly and welcoming atmosphere.
unboxed_meeting_image:
  image: /assets/images/jobs/developer.jpg
  image_description: Unboxers working together on code
roles:
  title: Roles we are looking to fill
  content:
  - title: AWS Support Engineer
    name: AWS Support Engineer
    text: "Unboxed is looking for an experienced AWS Support Engineer to join our technical team to help build our infrastructure capacity, provide dedicated support to existing applications and work with projects teams on new digital products and services."
    link: /jobs/support-engineer
  - title: Mid product (UX) designer
    name: Mid product (UX) designer
    text: "We are on the lookout for a Mid Product (UX) Designer who loves working with teams to turn designs into digital products that make a meaningful impact."
    link: /jobs/product-ux-designer
  - title: Senior delivery manager
    name: Senior delivery manager
    text: "We're looking for a London-based Senior Delivery Manager, who lives by and loves agile principles with broad experience, has strong communication skills and who wants to make a meaningful impact in the world, by helping our teams deliver valuable solutions."
    link: /jobs/senior-delivery-manager
  - title: Senior developer
    name: Senior developer
    text: "We are on the lookout for Senior Ruby on Rails Developers to join us. As a core part of our team, our developers are responsible for building scalable, sustainable systems from project inception right through to production."
    link: /jobs/senior_developer
  - title: Senior service designer
    name: Senior service designer
    text: "We are on the lookout for a Senior Service Designer who loves working with teams to design end-to-end services"
    link: /jobs/senior-service-designer
offer:
  title: What we offer
  incentives:
    - Interesting and varied project work
    - 10 'Innovation Days' a year
    - 25 days holidays, plus bank holidays
    - Clever colleagues
    - Co-location and collaboration
    - Weekly games and socialising
    - A generous conference budget
    - Holiday loyalty and flex bonus
    - A 'bike to work' scheme
  image: /assets/images/jobs/agile-retro.jpg
  image_description: Agile retrospective at Unboxed
alumni_quote:
  quote: >-
    To me Unboxed is distinct in that it gathers and brings to the table a huge
    pool of great, diversified talent. That seems to be our greatest assets: our
    people and the way we empower them to create solutions to problems.
  source: 'Pedro Moreira, Unboxed Alumnus'
  image: /assets/images/jobs/pedro-moreira.png
related:
  title: Related
  articles:
    - title: >-
        Public sector collaboration with GDS to relaunch Petitions platform for
        UK citizens
      type: product story
      link: /product-stories/petitions
    - title: 'Welcome to the team: Michelle Isme'
      type: blog
      link: /blog/welcome-to-the-team-michelle-isme
    - title: 'The benefits of a co-design workshop'
      type: blog
      link: /blog/the-benefits-of-a-co-design-workshop
published: true
---

<header class="page-header page-header--bottom-margin">
  <div class="page-header__container">
    <h1 class="page-header__title">
      <%= current_page.data.header.title %>
    </h1>
  </div>
</header>

<div class="container" data-header-waypoint>
  <section class="component--full-page">
    <div class="text-tile--full-width">
      <h2 class="text-tile__title">
        <%= current_page.data.introduction.title %>
      </h2>

      <p class="text-tile__paragraph">
        <%= current_page.data.introduction.text_1 %>
      </p>
      <p class="text-tile__paragraph">
        <%= current_page.data.introduction.text_2 %>
      </p>
    </div>
  </section>

  <%= partial 'shared/full_image', locals: current_page.data.unboxed_meeting_image %>

  <section class="roles">

    <% if !current_page.data.roles.content.nil? %>
      <h2 class="roles__title">
        <%= current_page.data.roles.title %>
      </h2>
      <div class="roles-tiles">
        <% current_page.data.roles.content.each do |role| %>
          <!--we need to have this extra class to Safari bug - it's overriding anchor color and makes a border purple in the nested element-->
          <a class="roles-tile--linked" href="<%= role.link %>" title="<%= role.name %>">
            <div class="roles-tile__content">
              <div>
                <h3 class="roles-tile__title">
                  <%= role.name %>
                </h3>
                <p class="roles-tile__paragraph">
                  <%= role.text %>
                </p>
              </div>
              <div>
                <p class="roles-tile__paragraph roles-tile__fake-link">
                  See the full job description
                </p>
              </div>
            </div>
          </a>
        <% end %>
      </div>
    <% end %>

  </section>

  <section class="component--full-page">
    <div class="component__tile text-tile">
      <h2 class="text-tile__title">
        <%= current_page.data.offer.title %>
      </h2>

      <ul class="text-tile__list">
        <% current_page.data.offer.incentives.each do |incentive| %>
          <li class="text-tile__list-item">
            <%= incentive %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="component__tile image-tile">
      <%= image_tag current_page.data.offer.image, alt: current_page.data.offer.image_description, class: "image-tile__image", srcset: retina_srcset(current_page.data.offer.image) %>
    </div>
  </section>

  <%= partial 'shared/quote_caricature', locals: current_page.data.alumni_quote %>

  <% if !current_page.data.roles.content.nil? %>
    <%= partial 'jobs/contact_us', locals: { roles_count: current_page.data.roles.content.length } %>
  <% else %>
    <%= partial 'jobs/contact_us_no_roles'  %>
  <% end %>


  <%= partial 'shared/related_tiles' %>
</div>
