---
title: "Join Us - Join our team of Ruby on Rails developers, designers, testers and scrum masters"
meta_keywords: "web development, mobile development, web developers, mobile developers, Unboxed, Ruby on Rails developer, Ruby on Rails developers, Ruby on Rails development"

header:
  title: "Join Us"

introduction:
  title: "Learn. Innovate. Deliver. It's how we roll..."
  text_1: "We foster an environment in which entrepreneurial thinking can thrive."
  text_2: "We use Innovation Days to build on our own ideas that we are passionate about. Then apply the techniques that we use to incubate these ideas internally. Because without an equity share we know not to expect brilliant ideas to be born."
  image: "/assets/images/jobs/ubxd-xmas-party.jpg"
  image_description: "Xmas party at Unboxed office"

roles:
  title: "Roles we are looking to fill"
  content:
    - name: "Developer"
      text: "Our developers thrive on collaboration with customers and delivering digital products."
      link: "/jobs/developer"
      image: "/assets/images/jobs/developer.jpg"

    - name: "Designer"
      text: "We embrace design thinking and collaboration, as part of our multi-skilled agile teams."
      link: "/jobs/designer"
      image: "/assets/images/jobs/designer.jpg"

    - name: "Tester"
      text: "Our testers are the gatekeepers of quality in our agile ISO9001 certified process."
      image: "/assets/images/jobs/tester.jpg"

offer:
  title: "What we offer"
  incentives:
    - Interesting and varied project work
    - 10 innovation days a year
    - 25 holidays plus bank holiday allowance
    - Clever colleagues
    - Co-location and collaboration
    - Weekly games and socialising
    - Generous conference budget
    - Holiday loyalty and flex bonus
    - A bike to work scheme
  image: "/assets/images/jobs/weekly-games.jpg"
  image_description: "Weekly socialising at Unboxed"

alumni_quote:
  quote: "To me Unboxed is distinct in that it gathers and brings to the table a huge pool of great, diversified talent. That seems to be our greatest assets: our people and the way we empower them to create solutions to problems."
  source: "Pedro Moreira, Unboxed Alumnus"
  image: "/assets/images/jobs/pedro-moreira.png"

contact_us:
  title: "Send us your CV"
  text_1: "Claire is our people gardener. Being a \"gardener\" is Claire's analogy for cultivating an environment in which our talent can thrive and great ideas grow into products that add more colour to life. She would love to hear from you. Send your CV through to her:"
  email: "iwantajob@unboxed.co"
  text_2: "From there, she'll be in touch. Good luck."
  image: "/jobs/images/ubxd-gardener.jpg"
  image_description: "Unboxed gardener at work"
---

<header class="page-header page-header--bottom-margin">
  <div class="page-header__container">
    <h1 class="page-header__title">
      <%= current_page.data.header.title %>
    </h1>
  </div>
</header>

<div class="container" data-header-waypoint>
  <section class="component">
    <div class="component__tile text-tile">
      <h2 class="text-tile__title--lowercase">
        <%= current_page.data.introduction.title %>
      </h2>

      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_1 %>
      </p>
      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.introduction.text_2 %>
      </p>
    </div>

    <div class="component__tile image-tile">
      <%= image_tag current_page.data.introduction.image, alt: current_page.data.introduction.image_description, class: "image-tile__image", srcset: retina_srcset(current_page.data.introduction.image) %>
    </div>
  </section>

  <section class="jobs-page-roles">
    <h2 class="jobs-page-roles__title">
      <%= current_page.data.roles.title %>
    </h2>

    <% current_page.data.roles.content.each do |role| %>
      <% if role.link %>
        <!--we need to have this extra class to Safari bug - it's overriding anchor color and makes a border purple in the nested element-->
        <a class="jobs-page-tile--linked" href="<%= role.link %>" title="<%= role.name %>">
          <div class="jobs-page-tile__content">
            <img class="jobs-page-tile__image" src="<%= role.image %>" alt="<%= role.name %>">
            <h3 class="jobs-page-tile__title">
              <%= role.name %>
            </h3>
            <p class="jobs-page-tile__paragraph">
              <%= role.text %>
            </p>
          </div>
        </a>
       <% else %>
        <div class="jobs-page-tile">
          <div class="jobs-page-tile__content--inactive">
            <img class="jobs-page-tile__image" src="<%= role.image %>" alt="<%= role.name %>">
            <h3 class="jobs-page-tile__title">
              <%= role.name %>
            </h3>
            <p class="jobs-page-tile__paragraph">
              <%= role.text %>
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>

  <section class="component">
    <div class="component__tile text-tile">
      <h2 class="text-tile__title--lowercase">
        <%= current_page.data.offer.title %>
      </h2>

      <ul class="text-tile__list">
        <% current_page.data.offer.incentives.each do |incentive| %>
          <li class="text-tile__list-item">
            <%= incentive %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="component__tile image-tile">
      <%= image_tag current_page.data.offer.image, alt: current_page.data.offer.image_description, class: "image-tile__image", srcset: retina_srcset(current_page.data.offer.image) %>
    </div>
  </section>

  <blockquote class="quote">
    <aside class="quote__right-section">
      <p class="quote__text--centered">
        <%= current_page.data.alumni_quote.quote %>
      </p>
      <p class="quote__source">
        <%= current_page.data.alumni_quote.source %>
      </p>
    </aside>
    <img class="quote__source-image" src="<%= current_page.data.alumni_quote.image %>" alt="<%= current_page.data.alumni_quote.source %>"/>
  </blockquote>

  <section class="component">
    <div class="component__tile text-tile">
      <h2 class="text-tile__title--lowercase">
        <%= current_page.data.contact_us.title %>
      </h2>

      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.contact_us.text_1 %>
      </p>

      <p class="text-tile__paragraph--with-spacing">
        <a href="mailto:<%= current_page.data.contact_us.email %>"><%= current_page.data.contact_us.email %></a>
      </p>

      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.contact_us.text_2 %>
      </p>
    </div>

    <div class="component__tile image-tile">
      <%= image_tag current_page.data.contact_us.image, alt: current_page.data.contact_us.image_description, class: "image-tile__image", srcset: retina_srcset(current_page.data.contact_us.image) %>
    </div>
  </section>
</div>
