---
title: "News"
meta_description: "Latest news about web app development, design, UX, Agile, Lean and project management techniques from the unboxed team."
meta_keywords: "unboxed consulting, blog, news, technical, agile, web, development, ruby on rails, marketing, graphic design, Unboxed, news"
pageable: true
per_page: 30
blog: 'news'
---

<header class="page-header page-header--bottom-margin">
  <div class="page-header__container">
    <h1 class="page-header__title">
      <%= current_page.data.title %>
    </h1>
  </div>
</header>

<div class="container">
  <div class="container--grid" data-header-waypoint>
    <% page_articles.each do |article| %>
      <a class="news-tile" href="<%= article.url %>">
        <div class="news-tile__container">
          <div class="news-tile__top-content">
            <div class="news-tile__title">
              <%= truncate(article.title, length: 70) %>
            </div>
  
            <div>
              <div class="news-tile__date">
                posted on: <%= Time.parse(article.data.date).strftime("%B %e, %Y") %>
              </div>
            </div>
          </div>
  
          <div class="news-tile__bottom-content">
            <p class="news-tile__article-body">
              <%= truncate(strip_tags(article.body), length: 250) %>
            </p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>

<%= partial 'book_meeting' %>

<%= partial 'blog_pagination' %>
