---
title: "People"
meta_keywords: "unboxed consulting, developers, employees, people, Unboxed, Ruby on Rails developer, Ruby on Rails developers, Ruby on Rails people"

header:
  title: "People"
  subtitle: "Our London office consists of a wide and varied team; a blend of designers, developers, delivery leads, digital strategists, innovators and more."

inside_unboxed:
  title: "Inside Unboxed"
  content:
    - image: "/assets/images/people/inside_unboxed/designer_working.jpg"
      image_description: "A designer working"
    - image: "/assets/images/people/inside_unboxed/designers_discussing.jpg"
      image_description: "Designers discussing work"
    - image: "/assets/images/people/inside_unboxed/sketch_session.jpg"
      image_description: "A sketching session"
    - image: "/assets/images/people/inside_unboxed/developers_discussing.jpg"
      image_description: "Developers discussing work"
    - image: "/assets/images/people/inside_unboxed/developer_working.jpg"
      image_description: "A developer working"
    - image: "/assets/images/people/inside_unboxed/collaboration.jpg"
      image_description: "An Unboxed meeting"

email_domain: "unboxed.co"
---

<header class="page-header page-header--bottom-margin">
  <div class="page-header__container">
    <h1 class="page-header__title">
      <%= current_page.data.header.title %>
    </h1>

    <p class="page-header__subtitle">
      <%= current_page.data.header.subtitle %>
    </p>
  </div>
</header>

<div class="container">
  <div class="container--grid" data-header-waypoint>
    <% data.people.each do |person| %>
      <div class="person-tile subtle-pop-up-animation">
        <div class="person-tile__content">
          <div class="anchor">
            <span id="<%= person.short_name %>"></span>
          </div>
          <div class="person-tile__image-container">
            <img class="person-tile__image" src="/assets/images/people/<%= person.short_name %>.png" alt="<%= person.name %>" />
          </div>

          <div class="person-tile__details">
            <h2 class="person-tile__name">
              <%= person.name %>
            </h2>

            <div class="person-tile__role">
              <%= person.role %>
            </div>

            <a class="person-tile__email" href="mailto:<%= person.email %>@<%= current_page.data.email_domain %>"><%= person.email %>@<%= current_page.data.email_domain %></a>
          </div>

          <% if person.social_networks %>
            <div class="person-tile__social-networks">
              <% person.social_networks.each do |social_network| %>
                <% class_name = social_network.name.downcase %>
                <a class="social-icon__icon-container--<%= class_name %>" href="<%= social_network.link %>">
                  <img class="social-icon__icon" src="/assets/images/social-icon__<%= class_name %>.png" alt="<%= social_network.name %>" />
                </a>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <section class="photo-gallery" data-header-waypoint>
    <p class="photo-gallery__introduction">
      <%= current_page.data.inside_unboxed.title %>
    </p>
    <% current_page.data.inside_unboxed.content.each do |picture| %>
      <div class="photo-gallery-container">
        <%= image_tag(picture.image, alt: picture.image_description, class: "photo-gallery__image", srcset: retina_srcset(picture.image)) %>
      </div>
    <% end %>
  </section>
  <div class="job-alert">
    <h2 class="job-alert__text">
      Join Us
    </h2>
    <h2 class="job-alert__text">
      We're currently hiring. Check out our <a href="/jobs">jobs page</a>.
    </h2>
  </div>
</div>

<%= partial 'book_meeting' %>
