---
title: "Product stories"

header:
  title: "Product stories"
  subtitle: "Since 2005, Unboxed has been working across both the public and private sectors to
            deliver end-to-end digital products and services through agile, user-centered approaches."
---

<header class="page-header page-header--bottom-margin">
  <div class="page-header__container">
    <h1 class="page-header__title">
      <%= current_page.data.header.title %>
    </h1>

    <p class="page-header__subtitle">
      <%= current_page.data.header.subtitle %>
    </p>
  </div>
</header>

<div class="container">
  <div class="container--grid" data-header-waypoint>
    <% blog("product-stories").articles.each do |product_story| %>
      <a class="product-story-small-tile" href="<%= product_story.url %>">
        <div class="product-story-small-tile__container">
          <%= image_tag product_story.data.image, alt: product_story.data.header.client, class: "product-story-small-tile__image", srcset: retina_srcset(product_story.data.image) %>
          <div class="product-story-small-tile__content">
            <div class="product-story-small-tile__client"><%= product_story.data.header.client %></div>
            <div class="product-story-small-tile__description"><%= product_story.data.description %></div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>

<%= partial 'book_meeting' %>
