---
title: "Project Stories"

project_stories:
  - client: "Petitions"
    title: "Public sector collaboration with GDS to relaunch Petitions platform for UK citizens, meeting new user needs and public demand in just 10 weeks"
    link: "/project-stories/petitions/"
    image: "/assets/images/project-stories/petitions.jpg"

  - client: "Bookmetrix - Springer Nature"
    title: "Exploring the impact of online publishing"
    link: "/project-stories/bookmetrix"
    image: "/assets/images/project-stories/bookmetrix.jpg"

  - client: "Buckinghamshire County Council"
    title: "12-week Beta phase for two services with annual cost-saving of £350,000"
    link: "/project-stories/bucks-cc-beta"
    image: "/assets/images/project-stories/bucks-cc-beta.jpg"

  - client: "V&A"
    title: "Hosting and infrastructure delivery of new digital platform for world-leading V&A"
    link: "/project-stories/v-and-a-museum"
    image: "/assets/images/project-stories/v-and-a-museum.jpg"

  - client: "Buckinghamshire County Council"
    title: "6-week Discovery and 8-week Alpha phases for two key public services"
    link: "/project-stories/bucks-cc"
    image: "/assets/images/project-stories/bucks-cc.jpg"

  - client: "Pearson"
    title: "Unlocking a new digital learning revenue stream with Pearson"
    link: "/project-stories/pearson"
    image: "/assets/images/project-stories/pearson.jpg"

  - client: "Reed Learning"
    title: "Leading digital transformation in professional learning and development"
    link: "/project-stories/reed-learning"
    image: "/assets/images/project-stories/reed-learning.jpg"

  - client: "Contiki Holidays"
    title: "Powerful offshore partnership creates 47% increase in bookings for Contiki Holidays"
    link: "/project-stories/contiki-holidays/"
    image: "/assets/images/project-stories/contiki.jpg"

  - client: "SH:24"
    title: "Transformation of NHS sexual health clinics to a digital service in 8 weeks"
    link: "/project-stories/sh24/"
    image: "/assets/images/project-stories/sh24.jpg"

  - client: "Plymouth University Gets Agile"
    title: "Embedding Agile methodology at a major university"
    link: "/project-stories/plymouth-university-gets-agile/"
    image: "/assets/images/project-stories/plymouth-agile.jpg"

  - client: "Channel 5"
    title: "Redevelopment of Channel5.com attracts more users, driving revenue"
    link: "/project-stories/channel-5/"
    image: "/assets/images/project-stories/channel-5.jpg"

  - client: "Plymouth University"
    title: "Unboxed leads Agile rebuild of Plymouth University website"
    link: "/project-stories/plymouth-university/"
    image: "/assets/images/project-stories/plymouth-university.jpg"

  - client: "Naturejobs"
    title: "Recruitment site revitalisation for major scientific publishing group"
    link: "/project-stories/naturejobs/"
    image: "/assets/images/project-stories/naturejobs-macmillan.jpg"

side_projects:
  - title: "Petition Map"
    subtitle: "Visualising UK petition signatures and open source data"
    link: "/project-stories/petition-map"
    image: "/assets/images/project-stories/petition-map.jpg"

---

<header class="page-header page-header--bottom-margin">
  <div class="page-header__container">
    <h1 class="page-header__title">
      <%= current_page.data.title %>
    </h1>
  </div>
</header>

<div class="container--grid" data-header-waypoint>
  <% current_page.data.project_stories.each_with_index do |project_story, index| %>
    <% class_name = index == 0 ? "project-story-large-tile" : "project-story-small-tile" %>
    <a class="<%= class_name %>" href="<%= project_story.link %>">
      <div class="<%= class_name %>__container">
        <%= image_tag project_story.image, alt: project_story.client, class: "#{class_name}__image", srcset: retina_srcset(project_story.image) %>
        <div class="<%= class_name %>__content">
          <div class="<%= class_name %>__client"><%= project_story.client %></div>
          <div class="<%= class_name %>__title"><%= project_story.title %></div>
        </div>
      </div>
    </a>
  <% end %>
</div>

<header class="blog-header">
  <div class="blog-header__container">
    <h1 class="blog-header__page-title">
      Side Projects
    </h1>
  </div>
</header>

<div class="container--grid" data-header-waypoint>
  <% current_page.data.side_projects.each_with_index do |side_project, index| %>
    <a class="project-story-small-tile" href="<%= side_project.link %>">
      <div class="project-story-small-tile__container">
        <%= image_tag side_project.image, alt: side_project.title, class: "project-story-small-tile__image", srcset: retina_srcset(side_project.image) %>
        <div class="project-story-small-tile__content">
          <div class="project-story-small-tile__client"><%= side_project.title %></div>
          <div class="project-story-small-tile__title"><%= side_project.subtitle %></div>
        </div>
      </div>
    </a>
  <% end %>
</div>

