---
title: "Services"

services:
  introduction: "Whatever the stage of your digital journey, our teams of designers, developers and strategic experts help you to move your digital ideas forward. We collaborate with you to identify and prioritise the biggest and most valuable opportunities for your organisation."
  content:
    - title: "Kickstart digital innovation"
      image: "/assets/images/homepage/service-discover.jpg"
      text: "Work with our strategic agile teams to unearth, prioritise and validate the best digital opportunities for your customers and business."
      link: "/services/kickstart-digital-innovation"
    - title: "Build your digital product"
      image: "/assets/images/homepage/service-build.jpg"
      text: "Collaborate with our integrated agile design and development teams to build the right product the right way."
      link: "/services/build-your-digital-product"
    - title: "Grow and improve"
      image: "/assets/images/homepage/service-transform.jpg"
      text: "Build a culture of agile, cross- functional collaboration and continuous learning to support your growing digital services."
      link: "/services/grow-and-improve"

approach:
  title: Our approach
  text: We deliver digital products and services through a combination of Agile, Lean Startup and Design Thinking approaches. Continuous learning and adapting to change is central to all of these approaches and plays a key role in guiding our self-organising teams. We work in short improvement cycles, continuously making, testing, and learning in order to respond to customer and business needs.
  image: "/assets/images/services/approach-diagram.gif"

quote:
  text: "Unboxed were part of the team we were used to working with, I didn’t feel like we were customers. The mentality was: &lsquo;We want to build great products together.&rsquo;"
  source: "David Bright, Head of Product Management, Naturejobs"

---
<header class="page-header page-header--bottom-margin">
  <div class="page-header__container">
    <h1 class="page-header__title">
      <%= current_page.data.title %>
    </h1>
  </div>
</header>

<div class="container">
  <section class="services" data-header-waypoint>
    <p class="services__introduction">
      <%= current_page.data.services.introduction %>
    </p>
    <% current_page.data.services.content.each do |service| %>
      <div class="services-container__service">
        <div class="services-page-service">
          <div class="service__image-container">
            <div class="service__image-wrapper">
              <%= link_to image_tag(service.image, alt: service.title, class: "service__image", srcset: retina_srcset(service.image)), service.link %>
            </div>
          </div>
          <h3 class="service__title">
            <%= service.title %>
          </h3>
          <p class="service__paragraph">
            <%= service.text %>
          </p>
        </div>
          <div class="service__button-container">
            <a class="service__button" href=<%= service.link %>
             onClick="sendToGaHomePageServiceClickEvent('<%= service.title %>');">
              Learn more
            </a>
          </div>
      </div>
    <% end %>
  </section>
  <section class="component">
    <div class="services-page-text-tile">
      <h2 class="text-tile__title">
        <%= current_page.data.approach.title %>
      </h2>

      <p class="text-tile__paragraph--with-spacing">
        <%= current_page.data.approach.text %>
      </p>
    </div>
  </section>
  <div class="diagram-container">
    <%= image_tag current_page.data.approach.image, alt: "Approach diagram", class: "diagram", srcset: retina_srcset(current_page.data.approach.image)  %>
  </div>
  <blockquote class="services-page-quote">
    <p class="services-page-quote__text">
      <%= current_page.data.quote.text %>
    </p>
    <p class="services-page-quote__source">
      <%= current_page.data.quote.source %>
    </p>
  </blockquote>
</div>

<%= partial 'book_meeting' %>
