---
title: "Spinouts"

header:
  title: "Spinouts"
  subtitle: "We create our own digital products and services and invest in others - here are some of them"

spinouts:
  - title: "logov"
    why_text: "Councils have around 600 services to digitalise. That's an impossible investment, even if the services will SAVE each council money in the long run."
    what_text: "LoGov enables councils to jointly fund the highest priority services with other councils."
    who_text: "We have set up a Community Interest Company, led by [Martyn Evans](/people#martyn-evans), and are now partnering with local councils, all looking for economies of scale."
    image: "/assets/images/spinouts/logov.jpg"
    image_description: "The new, co-founded, sustainable way for councils to digitise paper and phone services"

  - title: "lift"
    why_text: "Many growing SMEs are looking for an alternative way of getting investment, but it needs to be cost effective and sustainable over time."
    what_text: "LifT is an online invoice financing solution, connecting SMEs to 'self serve' invoice financing directly from their existing accounting software account, such as Xero"
    who_text: "We have fully backed and developed LifT through our in-house team, led by [Sarah Beck](/people#sarah-beck)."
    image: "/assets/images/spinouts/lift.jpg"
    image_description: "Invoice financing: faster, simpler and cheaper"

  - title: "50th generation"
    why_text: "If you believe that purpose is the source of future profit, [50th Generation](http://www.50thgeneration.org/) will help you grow into a ground-breaking company."
    what_text: "Corporates learn to be fast, lean and purpose-led. Startups tap into our purpose-led growth methodology and intensive founder learning programme."
    who_text: "We invested in 50th Generation in 2015 - originally founded by [Carrie Bedingfield](/people#carrie-bedingfield), Unboxed team member and entrepreneur."
    image: "/assets/images/spinouts/50generation.jpg"
    image_description: "The accelarator to scale purpose-led products and services"

  - title: "Knot Resources"
    why_text: "Optimise the journey of your new joiners’ time to competence, maximise your employee engagement, reduce attrition, and uncover opportunities for innovation."
    what_text: "Knot Resources redesign the UX of Employment and implement sustainable people processes."
    who_text: "We recently invested in Knot Resources - originally founded by Claire Kemp, Unboxed team member ​(and entrepreneur)."
    image: "/assets/images/spinouts/knotresources.jpg"
    image_description: ""

  - title: "techqala"
    why_text: "Spend precious years and cash trying to force your startup – or validate your product and take a giant leap forward in 9 days with us."
    what_text: "[Techqala](http://www.techqala.com) is 9-day programme of guidance, talks, practical exercises, mentorship and direct access to experts that will take your startup through a dramatic growth cycle."
    who_text: "Techqala was launched first in Cape Town and delivered in 2015 – led by [Richard Stobart](/people#rochard-stobart) and [Carrie Bedingfield](/people#carrie-bedingfield)."
    image: "/assets/images/spinouts/techqala.jpg"
    image_description: "The 9-day start up accelerator"

  - title: "re-play"
    why_text: "We learn through doing. We fast-track by reflecting on what we have done and learnt. Often with an existing master who knows us. How can we make this actually happen?"
    what_text: "An app that brings together the developer of skills and a coach to reflect on events in the learning journey, from a football match to a sales pitch."
    who_text: "We have fully backed and developed Re-Play through its in house team, led by [Martyn Evans](/people#martyn-evans)."
    image: "/assets/images/spinouts/re-play.jpg"
    image_description: "From a football match to a sales pitch"
---

<header class="page-header page-header--bottom-margin">
  <div class="page-header__container">
    <h1 class="page-header__title">
      <%= current_page.data.header.title %>
    </h1>

    <p class="page-header__subtitle">
      <%= current_page.data.header.subtitle %>
    </p>
  </div>
</header>

<div class="container spinouts-page" data-header-waypoint>
  <% current_page.data.spinouts.each do |project| %>
    <section class="component--spinouts">
      <div class="component__tile text-tile">
        <h2 class="text-tile__title--lowercase">
          <%= project.title %>
        </h2>

        <%= Tilt['markdown'].new{ project.why_text }.render %>
        <%= Tilt['markdown'].new{ project.what_text }.render %>
        <%= Tilt['markdown'].new{ project.who_text }.render %>
      </div>

      <div class="component__tile image-tile">
        <%= image_tag project.image, alt: project.image_description, class: "image-tile__image", srcset: retina_srcset(project.image) %>
      </div>
    </section>
  <% end %>
</div>
