<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title><%= current_page.data.title || "Unboxed" %></title>
  <%= favicon_tag "favicon.ico" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "ie10_fixes" %>
  <!--[if IE 9]>
  <%= stylesheet_link_tag "ie9_fixes" %>
  <![endif]-->
  <!--[if lt IE 9]>
  <%= javascript_include_tag "html5shiv" %>
  <%= stylesheet_link_tag "ie8_fixes" %>
  <![endif]-->
</head>

  <body class="<%= page_classes %>">

    <div class="style-guide">
      <div class="style-guide__container">

        <div class="style-guide__section">
        <p class="style-guide__title">Blog style guide</p>

          <div class="blog-article blog-content">
            <div class="style-guide__container-small">
              <h1>Heading 1</h1>
              <h2>Heading 2</h2>
              <h3>Heading 3</h3>
              <h4>Heading 4</h4>
              <h5>Heading 5</h5>
              <h6>Heading 6</h6>
            </div>

            <div class="style-guide__container-small">
              <h1>Paragraphs</h1>
              <p>This is a paragraph</p>
              <p><strong>Bold paragraph</strong></p>
              <p><em>Italic paragraph</em></p>
            </div>

            <div class="style-guide__container-small">
              <h1>Ordered lists</h1>
              <ol>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
              </ol>
            </div>

            <div class="style-guide__container-small">
              <h1>Unordered lists</h1>
              <ul>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
              </ul>
            </div>

            <div class="style-guide__container-small">
              <h1>Links</h1>
              <p><a href="#">This is how links look like</a></p>
            </div>

            <div class="style-guide__container-small">
              <h1>Blockquote</h1>
              <blockquote>
                <p>Lorem ipsum dolor sit amet, vis enim delenit contentiones eu, sed fabulas lobortis sententiae ex. Et vel
                novum maiestatis omittantur, has ut agam ullamcorper, ex mea appareat insolens complectitur. Has postea euripidis
                voluptatum at. Ex eros graecis vis, an pro utamur lobortis pericula, his cetero voluptatibus id. Pro ea prompta
                temporibus, te cum fugit platonem. Utroque mediocrem comprehensam ea eam</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
