---
title: "Style guide"
---

<div class="style-guide">
  <h2 class="style-guide__title">Product stories</h2>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story text with image tile
    </div>
    <div class="style-guide__container-body">
      <%= partial 'shared/text_tile', locals: {
          title: "Lorem ipsum dolor sit amet",
        content: "Consectetur adipisicing elit. Consequuntur sed aliquam vero repellendus impedit qui. Quia labore, quibusdam soluta, corrupti dolor deleniti voluptatum corporis quidem vero, beatae eius voluptatem quod!",
        image: "https://placehold.it/640x550"
      } %>
    </div>
  </div>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story full image
    </div>
    <div class="style-guide__container-body">
      <%= partial 'shared/full_image', locals: {
        image: "https://placehold.it/1280x640",
        image_description: "Placehold.it"
      } %>
    </div>
  </div>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story list with image tile
    </div>
    <div class="style-guide__container-body">
      <%= partial 'shared/text_tile', locals: {
        title: "Lorem ipsum dolor sit amet",
        content: [
          "Consectetur adipisicing elit.",
          "Consequuntur sed aliquam vero repellendus impedit qui.",
          "Quia labore, quibusdam soluta, corrupti dolor deleniti voluptatum",
          "Corporis quidem vero, beatae eius voluptatem quod!"
        ],
        image: "https://placehold.it/640x550"
      } %>
    </div>
  </div>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story quote
    </div>
    <div class="style-guide__container-body">
      <%= partial 'shared/quote', locals: {
        quote: "Consectetur adipisicing elit. Consequuntur sed aliquam vero repellendus impedit qui. Quia labore, quibusdam soluta, corrupti dolor deleniti voluptatum corporis quidem vero, beatae eius voluptatem quod!",
        source: "Lorem ipsum"
      } %>
    </div>
  </div>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story highlight section
    </div>
    <div class="style-guide__container-body">
      <div class="highlight--sh24">
        <h2 class="highlight__title">
          Lorem ipsum dolor sit amet
        </h2>

        <ul class="highlight__list">
          <li class="highlight__list-item">
            Perspiciatis sapiente beatae eos.
          </li>
          <li class="highlight__list-item">
            Officiis incidunt nobis dicta
          </li>
          <li class="highlight__list-item">
            Tempora provident aliquam cumque
          </li>
          <li class="highlight__list-item">
            Obcaecati nisi
          </li>
          <li class="highlight__list-item">
            Amet doloribus nemo minima
          </li>
          <li class="highlight__list-item">
            Veniam ipsa qui in.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story quote with image
    </div>
    <div class="style-guide__container-body">
      <%= partial 'shared/quote_caricature', locals: {
        quote: "Consectetur adipisicing elit. Consequuntur sed aliquam vero repellendus impedit qui. Quia labore, quibusdam soluta, corrupti dolor deleniti voluptatum corporis quidem vero, beatae eius voluptatem quod!",
        source: "Lorem ipsum",
        image: "https://via.placeholder.com/150x240"
      } %>
    </div>
  </div>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story team
    </div>
    <div class="style-guide__container-body">
      <h2 class="project-team__title">
        Unboxed team
      </h2>
      <% team_size = 3%>
      <% link_class = "project-team__container--#{team_size}" %>
      <% link_class << " project-team__headshot-container" if team_size > 1 %>

      <div class="<%= link_class %>">
        <img class="project-team__headshot" src="https://via.placeholder.com/210x390" alt="placeholder team member" title="Caricature">
      </div>
      <div class="<%= link_class %>">
        <img class="project-team__headshot" src="https://via.placeholder.com/210x390" alt="placeholder team member" title="Caricature">
      </div>
      <div class="<%= link_class %>">
        <img class="project-team__headshot" src="https://via.placeholder.com/210x390" alt="placeholder team member" title="Caricature">
      </div>
    </div>
  </div>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story related tile
    </div>
    <div class="style-guide__container-body--grey">
      <div class="related-tile">
        <div class="related-tile__text-content">
          <div>
            <div class="related-tile__type">
              Nulla modi
            </div>
            <div class="related-tile__title">
              Illum sed nemo ut ea necessitatibus sunt consectetur.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story large tile
    </div>
    <div class="style-guide__container-body--grey">
      <div class="product-story-large-tile">
        <div class="product-story-large-tile__container">
          <%= image_tag "https://via.placeholder.com/835x330", alt: "product story client", class: "product-story-large-tile__image" %>
          <div class="product-story-large-tile__content">
            <div class="product-story-large-tile__client">Product story client name</div>
            <div class="product-story-large-tile__title">Product story title</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Product story small tile
    </div>
    <div class="style-guide__container-body--grey">
      <div class="product-story-small-tile">
        <div class="product-story-small-tile__container">
          <%= image_tag "https://via.placeholder.com/454x180", alt: "product story client", class: "product-story-small-tile__image" %>
          <div class="product-story-small-tile__content">
            <div class="product-story-small-tile__client">Product story client name</div>
            <div class="product-story-small-tile__title">Product story title</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Person tile
    </div>
    <div class="style-guide__container-body">
      <div class="person-tile">
          <div class="person-tile__content">
            <div class="anchor">
              <span id="style-guide-person-tile"></span>
            </div>
            <div class="person-tile__image-container">
              <img class="person-tile__image" src="https://via.placeholder.com/282x566" alt="tom sabin" />
            </div>

            <div class="person-tile__details">
              <h2 class="person-tile__name">
                Tom Sabin
              </h2>

              <div class="person-tile__role">
                Developer
              </div>

              <a class="person-tile__email" href="mailto:tom.sabin@unboxed.co">tom.sabin@unboxed.co</a>
            </div>
            <div class="person-tile__social-networks">
                <a class="social-icon__icon-container--twitter" href="">
                  <img class="social-icon__icon" src="/assets/images/social-icon__twitter.png" alt="twitter" />
                </a>
            </div>

          </div>
      </div>
    </div>
  </div>


  <h2 class="style-guide__title">Blog</h2>

  <div class="blog-content">
    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Headings
      </div>
      <div class="style-guide__container-body--blog">
        <h1>Heading 1</h1>
        <h2>Heading 2</h2>
        <h3>Heading 3</h3>
        <h4>Heading 4</h4>
        <h5>Heading 5</h5>
        <h6>Heading 6</h6>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Paragraphs
      </div>
      <div class="style-guide__container-body--blog">
        <p>This is a paragraph</p>
        <p><strong>Bold paragraph</strong></p>
        <p><em>Italic paragraph</em></p>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Ordered lists
      </div>
      <div class="style-guide__container-body--blog">
        <ol>
          <li>List item</li>
          <li>List item</li>
          <li>List item</li>
        </ol>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Unordered lists
      </div>
      <div class="style-guide__container-body--blog">
        <ul>
          <li>List item</li>
          <li>List item</li>
          <li>List item</li>
        </ul>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Links
      </div>
      <div class="style-guide__container-body--blog">
        <p><a href="#">This is how links look like</a></p>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Quotes
      </div>
      <div class="style-guide__container-body--blog">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, vis enim delenit contentiones eu, sed fabulas lobortis sententiae ex. Et vel
          novum maiestatis omittantur, has ut agam ullamcorper, ex mea appareat insolens complectitur. Has postea euripidis
          voluptatum at. Ex eros graecis vis, an pro utamur lobortis pericula, his cetero voluptatibus id. Pro ea prompta
          temporibus, te cum fugit platonem. Utroque mediocrem comprehensam ea eam</p>
        </blockquote>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Inline code
      </div>
      <div class="style-guide__container-body--blog">
        <code>this</code> is some inline code
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Code block
      </div>
      <div class="style-guide__container-body--blog">
        <pre>
          <code>
if false
  puts "nope"
end</code>
        </pre>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Tables
      </div>
      <div class="style-guide__container-body--blog">
        <table>
          <tr>
            <th>Table heading</th>
            <th>Table heading</th>
          </tr>
          <tr>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
          <tr>
            <td>Table cell</td>
            <td>Table cell</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Images
      </div>
      <div class="style-guide__container-body">
        <img src="https://s3-eu-west-1.amazonaws.com/unboxed-web-image-uploader/brighton-ruby-2017-outdoors.jpg" alt="Image1">
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Embedded content - Twitter
      </div>
      <div class="style-guide__container-body">
        <blockquote class="twitter-tweet tw-align-center"><p>Don&#39;t rush to beta. But don&#39;t dillydally in alpha. Happy medium. 8 weeks intense alpha to de-risk <a href="https://twitter.com/hashtag/gettobeta?src=hash">#gettobeta</a> <a href="https://twitter.com/hashtag/agile?src=hash">#agile</a></p>&mdash; Carrie Bedingfield (@CBedingfield) <a href="https://twitter.com/CBedingfield/status/540178309121056768">December 3, 2014</a></blockquote> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Embedded content - Soundcloud
      </div>
      <div class="style-guide__container-body">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/26360929&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
      </div>
    </div>

    <div class="style-guide__container">
      <div class="style-guide__container-title">
        Embedded content - Slideshare
      </div>
      <div class="style-guide__container-body">
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/mDLtOGAzSXeFdz" width="595" height="485" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/UBXD/brain-funding-melissa-sabella" title="Brain funding - Melissa Sabella" target="_blank">Brain funding - Melissa Sabella</a> </strong> from <strong><a href="//www.slideshare.net/UBXD" target="_blank">Unboxed Consulting</a></strong> </div>
      </div>
    </div>
  </div>
  <div class="style-guide__container">
    <div class="style-guide__container-title">
      Whitepaper tile
    </div>
    <div class="style-guide__container-body">
      <div class="whitepaper-tile__container">
         <div class="whitepaper-tile__content-summary">
           <div class="whitepaper-tile__article-description">
             <h2 class="whitepaper-tile__title">
               Whitepaper Title
             </h2>
             <div class="whitepaper-tile__abstract">
                 <p>Lorem ipsum dolor sit amet, vis enim delenit contentiones eu, sed fabulas lobortis sententiae ex. Et vel
             novum maiestatis omittantur, has ut agam ullamcorper, ex mea appareat insolens complectitur. Has postea euripidis
             voluptatum at. Ex eros graecis vis, an pro utamur lobortis pericula, his cetero voluptatibus id. Pro ea prompta
             temporibus, te cum fugit platonem. Utroque mediocrem comprehensam ea eam</p>
             </div>
           </div>
           <div class="whitepaper-tile__authors">
               <div class="whitepaper-tile__author">
                 <div class="whitepaper-tile__image-container">
                   <%= image_tag "/assets/images/people/boris-divjak.png", class: "whitepaper-tile__author-image" %>
                 </div>
                 <div class="whitepaper-tile__author-name-container">
                 <a class="whitepaper-tile__author-name" href="" >
                   Boris Divjack
                 </a>
                 </div>
               </div>
           </div>
         </div>

         <div class="whitepaper-tile__file-summary">
           <%= image_tag "https://via.placeholder.com/466x329", class: "whitepaper-tile__thumbnail" %>
           <div class="whitepaper-tile__download-btn-container">
             <a class="whitepaper-tile__download-btn" href="" type="application/pdf;" target="_blank">
              Download
             </a>
           </div>
           <p class="whitepaper-tile__file-details">
             PDF / 1,536 kB
           </p>
         </div>

       </div>
      </div>
    </div>
  </div>
